html,
body {
  height: 100%;
  overflow: hidden;
}
header {
  position: absolute;
  width: 16rem;
  height: 1.87733333rem;
  background: #1c9ee1;
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 1.6rem;
  line-height: 1.87733333rem;
}
header div.left a {
  display: inline-block;
}
header div.left a .sweep {
  width: 1.6rem;
  margin-left: 0.74666667rem;
}
header div.left a .sweep img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
header div.center {
  text-align: center;
  width: 12.8rem;
}
header div.center h1 {
  width: 12.8rem;
  color: #ffffff;
  font-size: 0.64rem;
  line-height: 1.87733333rem;
  text-align: center;
}
header div.right {
  float: right;
  width: 1.6rem;
  line-height: 1.87733333rem;
}
header div.right .alarm {
  margin-right: 0.74666667rem;
  float: right;
  width: 0.61866667rem;
  height: 0.74666667rem;
}
header div.right .alarm img {
  width: 100%;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 45px;
  bottom: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper #scroller section .line {
  width: 100%;
  height: 0.42666667rem;
  background-color: #eeeeee;
}
#wrapper #scroller section .inline_banner .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
}
#wrapper #scroller section .recommend .header {
  height: 2.26133333rem;
  line-height: 2.26133333rem;
  padding: 0 0.74666667rem;
}
#wrapper #scroller section .recommend .header .left {
  float: left;
}
#wrapper #scroller section .recommend .header .left .left_left img {
  vertical-align: middle;
  width: 0.896rem;
  height: 0.896rem;
  padding-right: 0.21333333rem;
  padding-top: 0.04266667rem;
}
#wrapper #scroller section .recommend .header .left .left_right {
  font-family: 'PingFang SC', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.59733333rem;
  color: #333333;
}
#wrapper #scroller section .recommend .header .right {
  float: right;
}
#wrapper #scroller section .recommend .header .right .right_left {
  font-family: 'PingFang SC', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.59733333rem;
  color: #666666;
  padding-right: 0.21333333rem;
}
#wrapper #scroller section .recommend .header .right .right_right img {
  vertical-align: middle;
  width: 0.29866667rem;
  height: 0.64rem;
  padding-top: 0.04266667rem;
}
#wrapper #scroller section .recommend .produce {
  padding: 0 0.74666667rem;
  margin-top: -0.64rem;
}
#wrapper #scroller section .recommend .produce .insurance {
  margin-top: 0.64rem;
  font-family: 'PingFang SC', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#wrapper #scroller section .recommend .produce .insurance .insurance_img img {
  width: 14.50666667rem;
  height: 5.48266667rem;
}
#wrapper #scroller section .recommend .produce .insurance .insurance_title {
  margin-top: 0.64rem;
}
#wrapper #scroller section .recommend .produce .insurance .insurance_title h3 {
  font-size: 0.59733333rem;
  color: #333333;
}
#wrapper #scroller section .recommend .produce .insurance .insurance_title h3 span {
  margin: 0;
}
#wrapper #scroller section .recommend .produce .insurance .insurance_title h3 span img {
  margin-left: 10px;
  margin-top: -3px;
  width: 1.06666667rem;
  height: 0.53333333rem;
  vertical-align: middle;
}
#wrapper #scroller section .recommend .produce .insurance .insurance_title .insurance_title_p {
  overflow: hidden;
}
#wrapper #scroller section .recommend .produce .insurance .insurance_title .insurance_title_p p {
  padding-top: 0.32rem;
  float: left;
  font-size: 0.512rem;
  color: #999999;
}
#wrapper #scroller section .recommend .produce .insurance .insurance_title .insurance_title_p .insurance_title_span {
  font-size: 0;
  float: right;
}
#wrapper #scroller section .recommend .produce .insurance .insurance_title .insurance_title_p .insurance_title_span span {
  color: #333333;
}
#wrapper #scroller section .recommend .produce .insurance .insurance_title .insurance_title_p .insurance_title_span span#span01 {
  font-size: 0.72533333rem;
  color: #f70101;
}
#wrapper #scroller section .recommend .produce .insurance .insurance_title .insurance_title_p .insurance_title_span span#span02 {
  font-size: 0.59733333rem;
}
#wrapper #scroller section .recommend .produce .insurance .insurance_title .insurance_title_p .insurance_title_span span#span03 {
  font-size: 0.55466667rem;
}
#wrapper #scroller section .recommend .produce .insurance .insurance_title .insurance_title_p .insurance_title_span span#span04 {
  font-size: 0.512rem;
}
#wrapper .iScrollVerticalScrollbar .iScrollIndicator {
  opacity: 0;
}
