@rem: 750/16rem;
// 0.02133333rem;
html,
body {
  overflow: hidden;
}

// header div.right .alarm

// header div.right

header {
  z-index: 100;
  height: 88 / @rem;
  background: #1c9ee1;
  div {
    float: left;
    height: 88 / @rem;
    &.left {
      width: 105 / @rem;
      line-height: 88 / @rem;
      .sweep {
        width: 40 / @rem;
        height: 40 / @rem;
        margin-left: 35 / @rem;
        padding-top: 3 / @rem;
        img {
          width: 100%;
        }
      }
    }
    &.center {
      position: relative;
      background: #71ccf3;
      margin-top: 16 / @rem;
      width: 540 / @rem;
      height: 56 / @rem;
      line-height: 88 / @rem;
      border-radius: 30/@rem;
      img {
        position: absolute;
        left: 35/@rem;
        top: 0.29866667rem;
        width: 30/@rem;
        height: 30/@rem;
      }
      input {
        position: absolute;
        left: 2.02666667rem;
        top: 0rem;
        height: 1.19466667rem;
        background: #71ccf3;
        width: 8.53333333rem;
        padding: 0;
        border: 0;
        font-size: 0.42666666rem;
        outline: none;
        color: #ffffff;
        &::placeholder {
          color: #ffffff;
          font-size: 0.21333333rem;
        }
        &::-webkit-input-placeholder {
          /* WebKit browsers */
          color: #ffffff;
          font-size: 0.21333333rem;
        }
        &::-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: #ffffff;
          font-size: 0.21333333rem;
        }
        &::-ms-input-placeholder {
          /* Internet Explorer 10+ */
          color: #ffffff;
          font-size: 0.21333333rem;
        }
      }
    }
    &.right {
      width: 2.24rem;
      line-height: 88/@rem;
      .alarm {
        margin-left: 30/@rem;
        width: 40/@rem;
        height: 40/@rem;
        padding-top: 0.064rem;
        img {
          width: 100%;
        }
        .message {
          position: absolute;
          right: 16/@rem;
          top: -30/@rem;
          display: none;
          span {
            width: 34/@rem;
            height: 20/@rem;
            background-image: url("../images/mess4@2x.png");
            font-family: "lato", "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;
            font-size: 16/@rem;
            border-radius: 50%;
            color: #ffffff;
          }
        }
      }
    }
  }
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 88/@rem;
  bottom: 2.13333333rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  #scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    section {
      overflow: hidden;

      .new {
        padding: 0 35/@rem;
        // .inner .new_top
        .inner {
          .new_top {
            // .new_top_right
            .new_top_right {
              h3 {
                font-size: 28/@rem;
                color: #333333;
                font-weight: bold;
                overflow: hidden;
                line-height: 46/@rem;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              p {
                /* padding: 0.29866667rem 0 16/@rem; */
                font-size: 0.512rem;
                color: #747474;
                line-height: 32/@rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                letter-spacing: 0px;
                text-align: justify;
                // text-align-last: justify;
                min-height: 88 / @rem;
              }
              .datatime {
                overflow: hidden;
                line-height: 0.98266667rem;
                font-size: 20/@rem;
                color: #999999;
                span {
                  &:nth-of-type(1) {
                    text-align: left;
                    float: left;
                  }
                  &:nth-of-type(2) {
                    text-align: right;
                    float: right;
                    margin-right: 20/@rem;
                  }
                }
              }
            }
            .new_top_left1 {
              .datatime {
                span {
                  &:nth-of-type(1) {
                    text-align: left;
                    float: left;
                  }
                  &:nth-of-type(2) {
                    text-align: right;
                    float: right;
                    margin-right: 20/@rem;
                  }
                }
              }
            }
          }
          h2 {
            font-size: 28/@rem;
            color: #333333;
            height: 1.856rem;
            line-height: 1.856rem;
            border-bottom: solid 1px #eeeeee;
            span {
              padding-left: 0.256rem;
              img {
                width: 0.256rem;
                height: 22/@rem;
              }
            }
          }
          .news {
            padding-bottom: 30/@rem;
            overflow: hidden;
            border-bottom: solid 1px #eeeeee;
            .new_top {
              padding: 30/@rem 0 29/@rem;
              overflow: hidden;
              border-bottom: solid 1px #eeeeee;
              .new_top_left {
                width: 260/@rem;
                height: 173/@rem;
                float: left;
                border-radius: 8px;
                overflow: hidden;
                img {
                  width: 100%;
                }
              }
              .new_top_right {
                float: left;
                width: 388/@rem;
                margin-left: 30/@rem;
              }
              .new_top_left1 {
                float: left;
                width: 388/@rem;
                margin-right: 30/@rem;
                h3 {
                  font-size: 28/@rem;
                  color: #333333;
                  font-weight: bold;
                  overflow: hidden;
                  line-height: 46/@rem;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                p {
                  font-size: 0.512rem;
                  color: #747474;
                  line-height: 32/@rem;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 3;
                  overflow: hidden;
                  letter-spacing: 0px;
                  text-align: justify;
                  text-align-last: justify;
                }
                .datatime {
                  overflow: hidden;
                  line-height: 0.98266667rem;
                  font-size: 20/@rem;
                  color: #999999;
                }
              }
              .new_top_right1 {
                width: 260/@rem;
                height: 173/@rem;
                float: left;
                border-radius: 8px;
                overflow: hidden;
                img {
                  width: 100%;
                }
              }
            }
            .list {
              width: 206/@rem;
              // float: left;
              display: inline-block;
              padding-top: 30/@rem;
              padding-bottom: 30/@rem;
              margin-left: 31/@rem;
              &:nth-of-type(4n + 2) {
                margin-left: 0;
              }
              .bg {
                position: relative;
                width: 206/@rem;
                height: 206/@rem;
                border-radius: 8px;
                overflow: hidden;
                img {
                  width: 206/@rem;
                  height: 206/@rem;
                }
                .read {
                  position: absolute;
                  width: 206/@rem;
                  height: 38/@rem;
                  bottom: 0;
                  right: 0;
                  z-index: 10;
                  background-color: rgba(51, 51, 51, 0.48);
                  span {
                    float: right;
                    line-height: 38/@rem;
                    margin-right: 20/@rem;
                    text-align: right;
                    font-size: 0.384rem;
                    color: #ffffff;
                  }
                }
              }
              .text {
                padding-top: 0.32rem;
                font-size: 0.512rem;
                color: #333333;
                line-height: 0.632rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                letter-spacing: 0px;
                // text-align: justify;
                // text-align-last: justify;
              }
            }
          }
        }
      }
      .banner {
        .swiper-container {
          .swiper-wrapper {
            .swiper-slide {
              width: 750 / @rem;
              height: 360 / @rem;
              img {
                width: 100%;
                font-size: 28 / @rem;
              }
            }
          }
        }
      }
      .menu {
        margin: 0 35/@rem;
        overflow: hidden;
        .menu_ul {
          overflow: hidden;
          width: 100%;
          padding-top: 0.8rem;
          li {
            float: left;
            width: 19%;
            padding: 0rem 0 0.8rem 0.8rem;
            &:nth-of-type(1) {
              margin-left: 0;
            }
            a {
              text-decoration: none;
              display: inline-block;
              img {
                width: 90 / @rem;
                height: 90 / @rem;
                padding-left: 0.1rem;
                font-size: 28 / @rem;
              }
              p {
                font-size: 0.512rem;
                padding-top: 0.21333333rem;
              }
            }
          }
        }
      }
      .line {
        height: 20/@rem;
        background-color: #eeeeee;
      }
      .weather {
        font-size: 0.412rem;
        padding: 0 35/@rem;
        background-color: #ffffff;
        overflow: hidden;
        padding: 0.76666667rem;
        .left {
          float: left;
          img {
            width: 1.5rem;
            padding: 0 0.3rem 0 0;
          }
          p {
            color: #666666;
            line-height: 0.75rem;
            &:last-of-type {
              color: #999999;
            }
            img {
              width: 1.2rem;
              margin-left: 0.2rem;
              vertical-align: -0.11rem;
            }
          }
        }
        .right {
          float: right;
          color: #999999;
          img {
            width: 0.25rem;
            padding-left: 0.2rem;
            vertical-align: -0.04rem;
          }
        }
      }
    }
  }
}

// #scroller section

// #scroller section .new .inner

footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  background-color: #ffffff;
  overflow: hidden;
  border-top: solid 1px #eeeeee;
  height: 2.13333333rem;
  padding: 0.21333333rem 0;
  .foot {
    width: 4rem;
    float: left;
    text-align: center;
    padding: 5px 0;
    a {
      display: inline-block;
      .ft {
        width: 1.13066667rem;
        height: 1.024rem;
        margin: 0 auto;
        img {
          /* width: 1.13066667rem; */
          width: 1.13066667rem;
          height: 1.024rem;
        }
      }
      p {
        padding-top: 8/@rem;
        font-size: 20/@rem;
        text-align: center;
      }
    }
  }
}
.masked {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  transition: 1s;
  &.maskeds {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.personalCente {
  overflow: hidden;
  height: 100%;
  width: 11.52rem;
  position: absolute;
  top: 0;
  left: -11.52rem;
  z-index: 100;
  background-color: #ffffff;
  transition: 1s;
  &.peractive {
    left: 0;
  }
  .personalCente_header {
    height: 5.12rem;
    width: 11.52rem;
    background: url("../img/userbg.png") no-repeat;
    background-size: 100%;
    padding-top: 30/@rem;
    .user {
      overflow: hidden;
      height: 88/@rem;
    }
    .user {
      .user_logo {
        width: 1.28rem;
        height: 1.28rem;
        float: left;
        margin-left: 25/@rem;
        margin-top: 20/@rem;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 1.28rem;
          height: 1.28rem;
        }
      }
      .user_name {
        float: left;
        font-size: 34/@rem;
        color: #ffffff;
        line-height: 88/@rem;
        padding-top: 8/@rem;
        margin-left: 20/@rem;
      }
      .user_quit {
        float: right;
        margin-right: 25/@rem;
        width: 46/@rem;
        height: 38/@rem;
        line-height: 88/@rem;
        padding-top: 8/@rem;
        img {
          width: 46/@rem;
          height: 38/@rem;
        }
      }
    }
    .user_personalized {
      font-size: 22/@rem;
      color: #ffffff;
      margin-left: 2.24rem;
      p {
        line-height: 31/@rem;
      }
    }
  }
  .personalCente_content {
    ul {
      li {
        &.active {
          background-color: #eeeeee;
        }
        .me {
          height: 3.52rem;
          margin-left: 35/@rem;
          .top {
            position: relative;
            padding-top: 40/@rem;
            .tp {
              display: inline-block;
              position: absolute;
              left: 0;
              top: 0.87466667rem;
              img {
                width: 28/@rem;
                height: 0.576rem;
                vertical-align: -0.03rem;
              }
            }
            span {
              font-size: 30/@rem;
              color: #333333;
              margin-left: 1.06666667rem;
            }
          }
          p {
            font-size: 0.512rem;
            color: #999999;
            padding-top: 0.32rem;
            margin-left: 1.06666667rem;
          }
        }
      }
    }
  }
}
