* {
  font-size: 0.59733333rem;
}
html,
body {
  /* height: 100%; */
  overflow: hidden;
}
header {
  z-index: 100;
  height: 1.87733333rem;
  background: #1c9ee1;
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 2.24rem;
  line-height: 1.87733333rem;
}
header div.left .sweep {
  width: 0.85333333rem;
  height: 0.85333333rem;
  margin-left: 0.74666667rem;
  padding-top: 0.064rem;
}
header div.left .sweep img {
  width: 100%;
}
header div.center {
  position: relative;
  background: #71ccf3;
  margin-top: 0.34133333rem;
  width: 11.52rem;
  height: 1.19466667rem;
  line-height: 1.87733333rem;
  border-radius: 0.64rem;
}
header div.center img {
  position: absolute;
  left: 0.74666667rem;
  top: 0.29866667rem;
  width: 0.64rem;
  height: 0.64rem;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 1.87733333rem;
  bottom: 2.13333333rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper #scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
header div.center input {
  position: absolute;
  left: 2.02666667rem;
  top: 0rem;
  height: 1.19466667rem;
  background: #71ccf3;
  width: 8.53333333rem;
  padding: 0;
  border: 0;
  font-size: 0.42666666rem;
  outline: none;
  color: #ffffff;
}
header div.center input::placeholder {
  color: #ffffff;
  font-size: 0.21333333rem;
}
header div.center input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ffffff;
  font-size: 0.21333333rem;
}
header div.center input::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  font-size: 0.21333333rem;
}
header div.center input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  font-size: 0.21333333rem;
}
header div.center input::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ffffff;
  font-size: 0.21333333rem;
}
header div.right {
  width: 2.24rem;
  line-height: 1.87733333rem;
}
header div.right .alarm {
  margin-left: 0.64rem;
  width: 0.85333333rem;
  height: 0.85333333rem;
  padding-top: 0.064rem;
}
header div.right .alarm img {
  width: 100%;
}
header div.right .alarm .message {
  position: absolute;
  right: 0.34133333rem;
  top: -0.64rem;
  display: none;
}
header div.right .alarm .message span {
  width: 0.72533333rem;
  height: 0.42666667rem;
  background-image: url("../images/mess4@2x.png");
  font-family: "lato", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.34133333rem;
  border-radius: 50%;
  color: #ffffff;
}
#scroller section {
  overflow: hidden;
}
#scroller section .banner .swiper-container .swiper-wrapper .swiper-slide {
  width: 16rem;
  height: 7.46666667rem;
}
#scroller section .banner .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  font-size: 0.59733333rem;
}
#scroller section .menu {
  margin: 0 0.74666667rem;
  overflow: hidden;
}
#scroller section .menu .menu_ul {
  overflow: hidden;
  width: 100%;
  padding-top: 0.8rem;
}
#scroller section .menu .menu_ul li {
  float: left;
  width: 19%;
  padding: 0rem 0 0.8rem 0.8rem;
}
#scroller section .menu .menu_ul li:nth-of-type(1) {
  margin-left: 0;
}
#scroller section .menu .menu_ul li a {
  text-decoration: none;
  display: inline-block;
}
#scroller section .menu .menu_ul li a img {
  width: 1.92rem;
  height: 1.92rem;
  padding-left: 0.1rem;
  font-size: 0.59733333rem;
}
#scroller section .menu .menu_ul li a p {
  font-size: 0.512rem;
  padding-top: 0.21333333rem;
}
#scroller section .line {
  height: 0.42666667rem;
  background-color: #eeeeee;
}
#scroller section .weather {
  font-size: 0.412rem;
  padding: 0 0.74666667rem;
  background-color: #ffffff;
  overflow: hidden;
  padding: 0.76666667rem;
}
#scroller section .weather .left {
  float: left;
}
#scroller section .weather .left img {
  width: 1.5rem;
  padding: 0 0.3rem 0 0;
}
#scroller section .weather .left p {
  color: #666666;
  line-height: 0.75rem;
}
#scroller section .weather .left p:last-of-type {
  color: #999999;
}
#scroller section .weather .left p img {
  width: 1.2rem;
  margin-left: 0.2rem;
  vertical-align: -0.11rem;
}
#scroller section .weather .right {
  float: right;
  color: #999999;
}
#scroller section .weather .right img {
  width: 0.25rem;
  padding-left: 0.2rem;
  vertical-align: -0.04rem;
}
#scroller section .new {
  padding: 0 0.74666667rem;
}
#scroller section .new .inner h2 {
  font-size: 0.59733333rem;
  color: #333333;
  height: 1.856rem;
  line-height: 1.856rem;
  border-bottom: solid 1px #eeeeee;
}
#scroller section .new .inner h2 span {
  padding-left: 0.256rem;
}
#scroller section .new .inner h2 span img {
  width: 0.256rem;
  height: 0.46933333rem;
}
#scroller section .new .inner .new_top {
  padding: 0.64rem 0 0.61866667rem;
  overflow: hidden;
  border-bottom: solid 1px #eeeeee;
}
#scroller section .new .inner .new_top .new_top_left {
  width: 5.54666667rem;
  float: left;
  border-radius: 8px;
  overflow: hidden;
}
#scroller section .new .inner .new_top .new_top_left img {
  width: 5.54666667rem;
  height: 3.69066667rem;
}
#scroller section .new .inner .new_top .new_top_right {
  float: left;
  width: 8.27733333rem;
  margin-left: 0.64rem;
}
/*  */
#scroller section .new .inner .new_top .new_top_right1 {
  width: 5.54666667rem;
  float: left;
  border-radius: 8px;
  overflow: hidden;
}
#scroller section .new .inner .new_top .new_top_right1 img {
  width: 5.54666667rem;
  height: 3.69066667rem;
}
#scroller section .new .inner .new_top .new_top_left1 {
  float: left;
  width: 8.27733333rem;
  margin-right: 0.64rem;
}
#scroller section .new .inner .new_top .new_top_left1 h3 {
  font-size: 0.59733333rem;
  color: #333333;
  font-weight: bold;
  overflow: hidden;
  line-height: 0.99733333rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#scroller section .new .inner .new_top .new_top_left1 p {
  /* padding: 0.29866667rem 0 0.34133333rem; */
  font-size: 0.512rem;
  color: #747474;
  line-height: 0.68266667rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  letter-spacing: 0px;
  text-align: justify;
  text-align-last: justify;
}
#scroller section .new .inner .new_top .new_top_left1 .datatime {
  overflow: hidden;
  line-height: 0.98266667rem;
  font-size: 0.42666667rem;
  color: #999999;
}
#scroller section .new .inner .new_top .new_top_left1 .datatime span:nth-of-type(1) {
  /* display: inline-block; */
  /* width: 4.05333333rem; */
  text-align: left;
  float: left;
}
#scroller section .new .inner .new_top .new_top_left1 .datatime span:nth-of-type(2) {
  /* display: inline-block; */
  /* width: 4.05333333rem; */
  text-align: right;
  float: right;
  margin-right: 0.42666667rem;
}
/*  */
#scroller section .new .inner .new_top .new_top_right h3 {
  font-size: 0.59733333rem;
  color: #333333;
  font-weight: bold;
  overflow: hidden;
  line-height: 0.99733333rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#scroller section .new .inner .new_top .new_top_right p {
  /* padding: 0.29866667rem 0 0.34133333rem; */
  font-size: 0.512rem;
  color: #747474;
  line-height: 0.68266667rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  letter-spacing: 0px;
  text-align: justify;
  text-align-last: justify;
}
#scroller section .new .inner .new_top .new_top_right .datatime {
  overflow: hidden;
  line-height: 0.98266667rem;
  font-size: 0.42666667rem;
  color: #999999;
}
#scroller section .new .inner .new_top .new_top_right .datatime span:nth-of-type(1) {
  /* display: inline-block; */
  /* width: 4.05333333rem; */
  text-align: left;
  float: left;
}
#scroller section .new .inner .new_top .new_top_right .datatime span:nth-of-type(2) {
  /* display: inline-block; */
  /* width: 4.05333333rem; */
  text-align: right;
  float: right;
  margin-right: 0.42666667rem;
}
#scroller section .new .inner .new_bottom {
  padding-top: 0.64rem;
  padding-bottom: 0.64rem;
  overflow: hidden;
  border-bottom: solid 1px #eeeeee;
}
#scroller section .new .inner .new_bottom .list {
  width: 4.39466667rem;
  float: left;
  margin-left: 0.66133333rem;
}
#scroller section .new .inner .new_bottom .list:first-child {
  margin-left: 0;
}
#scroller section .new .inner .new_bottom .list .bg {
  position: relative;
  width: 4.39466667rem;
  height: 4.39466667rem;
  border-radius: 8px;
  overflow: hidden;
}
#scroller section .new .inner .new_bottom .list .bg img {
  width: 4.39466667rem;
  height: 4.39466667rem;
}
#scroller section .new .inner .new_bottom .list .bg .read {
  position: absolute;
  width: 4.39466667rem;
  height: 0.81066667rem;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(51, 51, 51, 0.48);
}
#scroller section .new .inner .new_bottom .list .bg .read span {
  float: right;
  line-height: 0.81066667rem;
  margin-right: 0.42666667rem;
  text-align: right;
  font-size: 0.384rem;
  color: #ffffff;
}
#scroller section .new .inner .new_bottom .list .text {
  padding-top: 0.32rem;
  font-size: 0.512rem;
  color: #333333;
  line-height: 0.632rem;
}
footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  background-color: #ffffff;
  overflow: hidden;
  border-top: solid 1px #eeeeee;
  height: 2.13333333rem;
  padding: 0.21333333rem 0;
}
footer .foot {
  width: 4rem;
  float: left;
  text-align: center;
  padding: 5px 0;
}
footer .foot a {
  display: inline-block;
}
footer .foot a .ft {
  width: 1.13066667rem;
  height: 1.024rem;
  margin: 0 auto;
}
footer .foot a .ft img {
  /* width: 1.13066667rem; */
  width: 1.13066667rem;
  height: 1.024rem;
}
footer .foot a p {
  padding-top: 0.17066667rem;
  font-size: 0.42666667rem;
  text-align: center;
}
.masked {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  transition: 1s;
}
.masked.maskeds {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}
.personalCente {
  overflow: hidden;
  height: 100%;
  width: 11.52rem;
  position: absolute;
  top: 0;
  left: -11.52rem;
  z-index: 100;
  background-color: #ffffff;
  transition: 1s;
}
.personalCente.peractive {
  left: 0;
}
.personalCente .personalCente_header {
  height: 5.12rem;
  width: 11.52rem;
  background: url("../img/userbg.png") no-repeat;
  background-size: 100%;
  padding-top: 0.64rem;
}
.personalCente .personalCente_header .user {
  overflow: hidden;
  height: 1.87733333rem;
}
.personalCente .personalCente_header .user .user_logo {
  width: 1.28rem;
  height: 1.28rem;
  float: left;
  margin-left: 0.53333333rem;
  margin-top: 0.42666667rem;
  border-radius: 50%;
  overflow: hidden;
}
.personalCente .personalCente_header .user .user_logo img {
  width: 1.28rem;
  height: 1.28rem;
}
.personalCente .personalCente_header .user .user_name {
  float: left;
  font-size: 0.72533333rem;
  color: #ffffff;
  line-height: 1.87733333rem;
  padding-top: 0.17066667rem;
  margin-left: 0.42666667rem;
}
.personalCente .personalCente_header .user .user_quit {
  float: right;
  margin-right: 0.53333333rem;
  width: 0.98133333rem;
  height: 0.81066667rem;
  line-height: 1.87733333rem;
  padding-top: 0.17066667rem;
}
.personalCente .personalCente_header .user .user_quit img {
  width: 0.98133333rem;
  height: 0.81066667rem;
}
.personalCente .personalCente_header .user_personalized {
  font-size: 0.46933333rem;
  color: #ffffff;
  margin-left: 2.24rem;
}
.personalCente .personalCente_header .user_personalized p {
  line-height: 0.66133333rem;
}
.personalCente .personalCente_content ul li.active {
  background-color: #eeeeee;
}
.personalCente .personalCente_content ul li .me {
  height: 3.52rem;
  margin-left: 0.74666667rem;
}
.personalCente .personalCente_content ul li .me .top {
  position: relative;
  padding-top: 0.85333333rem;
}
.personalCente .personalCente_content ul li .me .top .tp {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0.87466667rem;
}
.personalCente .personalCente_content ul li .me .top .tp img {
  width: 0.59733333rem;
  height: 0.576rem;
  vertical-align: -0.03rem;
}
.personalCente .personalCente_content ul li .me .top span {
  font-size: 0.64rem;
  color: #333333;
  margin-left: 1.06666667rem;
}
.personalCente .personalCente_content ul li .me p {
  font-size: 0.512rem;
  color: #999999;
  padding-top: 0.32rem;
  margin-left: 1.06666667rem;
}
.iScrollVerticalScrollbar {
  display: none;
}
