html,
body {
  height: 100%;
}
body {
  position: relative;
  width: 100%;
}
body .bg {
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
body .bg img {
  width: 100vw;
  height: 100vh;
}
body .wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6.4rem;
}
body input {
  width: 6.4rem;
  margin: 0.21333333rem;
  text-align: center;
  border: #333333 solid 0.02133333rem;
  font-size: 0.68266667rem;
}
