@rem: 750/16rem;
html,
body {
  height: 100%;
}
body {
  position: relative;
  width: 100%;
  .bg {
    position: absolute;
    z-index: 9999;
    img {
      width: 100vw;
      height: 100vh;
    }
  }
  .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300 / @rem;
  }
  input {
    width: 300 / @rem;
    margin: 10 / @rem;
    text-align: center;
    border: #333333 solid 1 / @rem;
    font-size: 32 / @rem;
  }
}
