<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
</head>

<body>
    <header>
        <a href="../../index.html">
            <div class="left">
                <img src="../../images/jt.png" alt="jt">
            </div>
        </a>
        <div class="center">
            保单详情
        </div>
        <div class="right">
            <img src="../../images/kefu.png" alt="kefu">
        </div>
    </header>
    <section>
        <div class="detailsTop">
            <ul>
                <li>
                    <span class="left">生效中</span>
                    <span class="right">
                        <a>￥</a>30000</span>
                </li>
                <li>
                    <span class="left">订单号 : 06148765468424</span>
                    <span class="right">支付金额</span>
                </li>
            </ul>
        </div>
        <div class="line">

        </div>
        <div class="detailsCenter">
            <h2>产品信息</h2>
            <ul>
                <li>
                    <span class="left">保单类型 :</span>
                    <span class="right">台风风力险</span>
                </li>
                <li>
                    <span class="left">投保地区 :</span>
                    <span class="right">海南省三亚市福田镇福源街12号</span>
                </li>
                <li>
                    <span class="left">投保物 :</span>
                    <span class="right">哈密瓜</span>
                </li>
                <li>
                    <span class="left">投保面积 :</span>
                    <span class="right">300亩</span>
                </li>
                <li>
                    <span class="left">保费 :</span>
                    <span class="right"><a>100元</a>/亩</span>
                </li>
                <li>
                    <span class="left">保额 :</span>
                    <span class="right"><a>2000元</a>/亩</span>
                </li>
            </ul>
        </div>
        <div class="line">

        </div>
        <div class="detailsCenter">
            <h2>投保明细</h2>
            <ul>
                <li>
                    <span class="left">投保人 :</span>
                    <span class="right">李四</span>
                </li>
                <li>
                    <span class="left">身份证 :</span>
                    <span class="right">320***********6845</span>
                </li>
                <li>
                    <span class="left">承保方 :</span>
                    <span class="right">中国人民财产保险有限公司</span>
                </li>
                <li>
                    <span class="left">投保日期 :</span>
                    <span class="right">2018年1月1日</span>
                </li>
                <li>
                    <span class="left">生效日期 :</span>
                    <span class="right">2018年1月2日-2019年1月1日</span>
                </li>
                <li>
                    <span class="left">赔付账户 :</span>
                    <span class="right">651************8456</span>
                </li>
                <li>
                    <span class="left">理财经理 :</span>
                    <span class="right">李达康</span>
                </li>
                <li>
                    <span class="left">电话 :</span>
                    <span class="right">15694835168</span>
                </li>
            </ul>
        </div>
    </section>
</body>
<link rel="stylesheet" href="../../style/reset.css">
<link rel="stylesheet" href="./css/policyDetails.css">
<script src="../../js/tool.js"></script>

</html>