body {
  background-color: #eeeeee;
}
body header {
  height: 1.87733333rem;
  background-color: #1c9ee1;
}
body header div {
  line-height: 1.87733333rem;
}
body header div.left {
  padding-left: 0.74666667rem;
  width: 20%;
  float: left;
}
body header div.left img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
body header div.center {
  margin-left: -0.74666667rem;
  float: left;
  width: 60%;
  font-size: 0.68266667rem;
  text-align: center;
  color: #ffffff;
}
body header div.right {
  width: 20%;
  float: left;
}
body header div.right .toolImg {
  float: right;
  padding-right: 0.74666667rem;
}
body header div.right .toolImg span {
  margin-left: 0.21333333rem;
}
body header div.right .toolImg span.add img {
  width: 0.59733333rem;
  height: 0.59733333rem;
}
body header div.right .toolImg span.del img {
  width: 0.53333333rem;
  height: 0.64rem;
  vertical-align: -0.02133333rem;
}
body header a {
  overflow: hidden;
}
body section ul li {
  padding: 0.64rem 0;
  margin: 0.74666667rem;
  background-color: #ffffff;
  overflow: hidden;
  height: 2.70933333rem;
  border-radius: 5px;
  box-shadow: 0.08533333rem 0.08533333rem 0.21333333rem rgba(51, 51, 51, 0.1);
}
body section ul li div {
  float: left;
}
body section ul li div.nameIcon {
  width: 2.304rem;
  height: 2.70933333rem;
  line-height: 2.70933333rem;
  text-align: center;
}
body section ul li div.nameIcon img {
  width: 0.98133333rem;
  height: 1.06666667rem;
  vertical-align: middle;
}
body section ul li div.farmName {
  width: 8.21333333rem;
  padding: 0 0.64rem;
  border-left: solid #eeeeee 0.02133333rem;
  line-height: 1.2;
}
body section ul li div.farmName div {
  font-size: 0.512rem;
  color: #999999;
}
body section ul li div.farmName div.title p {
  color: #333333;
  font-size: 0.59733333rem;
}
body section ul li div.farmName div.content {
  padding: 0.21333333rem 0;
}
body section ul li div.right {
  width: 2.304rem;
  height: 2.70933333rem;
  line-height: 2.70933333rem;
  text-align: center;
}
body section ul li div.right img {
  width: 1.472rem;
  height: 1.472rem;
  vertical-align: middle;
}
body section .addMoreFarm {
  padding: 0 0.74666667rem;
}
body section .addMoreFarm img {
  width: 100%;
}
