html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #7e8c8d;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
html,
body {
  width: 100%;
}
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: #eeeeee;
}
body header {
  height: 1.87733333rem;
  background-color: #1c9ee1;
}
body header div {
  line-height: 1.87733333rem;
}
body header div.left {
  padding-left: 0.74666667rem;
  width: 10%;
  float: left;
}
body header div.left img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
body header div.center {
  margin-left: -0.74666667rem;
  float: left;
  width: 80%;
  font-size: 0.68266667rem;
  text-align: center;
  color: #ffffff;
}
body header a {
  overflow: hidden;
}
body menu {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
}
body menu .inner {
  user-select: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 0.42666667rem;
  box-shadow: 0.08533333rem 0.08533333rem 0.42666667rem rgba(0, 0, 0, 0.1);
  border-radius: 0.17066667rem;
  min-width: 50%;
}
body menu .inner p {
  text-align: center;
  font-size: 0.59733333rem;
  color: #666666;
  line-height: 2;
}
body menu .inner p input {
  width: 50%;
  text-align: center;
  background: none;
}
body #wrapper {
  position: absolute;
  z-index: 1;
  top: 1.87733333rem;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
body #wrapper #scroller {
  padding-bottom: 1.06666667rem;
}
body #wrapper #scroller section .bottom .line {
  width: 100%;
  height: 0.42666667rem;
}
body #wrapper #scroller section .bottom .lis {
  background-color: #ffffff;
  padding: 0 0.74666667rem;
  height: 3.712rem;
  overflow: hidden;
  padding: 0.64rem 0.74666667rem;
}
body #wrapper #scroller section .bottom .lis .left {
  float: left;
  width: 5.54666667rem;
  height: 3.712rem;
  overflow: hidden;
  border-radius: 0.21333333rem;
}
body #wrapper #scroller section .bottom .lis .left img {
  width: 100%;
  height: 100%;
}
body #wrapper #scroller section .bottom .lis .right {
  width: 56%;
  margin-left: 0.64rem;
  float: left;
}
body #wrapper #scroller section .bottom .lis .right h2 {
  font-size: 0.59733333rem;
  position: relative;
}
body #wrapper #scroller section .bottom .lis .right h2 span {
  position: absolute;
  right: 0;
  top: 0;
}
body #wrapper #scroller section .bottom .lis .right p {
  width: 100%;
  font-size: 0.46933333rem;
  color: #999999;
  line-height: 0.768rem;
  overflow: hidden;
}
body #wrapper #scroller section .bottom .lis .right p:first-of-type {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  letter-spacing: 0px;
  text-align: justify;
  height: 2.34666667rem;
}
body #wrapper #scroller section .bottom .lis .right p:last-of-type span {
  display: inline-block;
  width: 50%;
  overflow: hidden;
}
body #wrapper #scroller section .bottom .lis .right p:last-of-type span:last-of-type {
  text-align: right;
}
body #wrapper #scroller section p.loadingTxt {
  font-size: 0.59733333rem;
  text-align: center;
  color: #666666;
  line-height: 2;
}
