<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>悦农通</title>
    <link rel="Shortcut Icon" href="../../../img/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/sc.css">
    <script src="../../../js/rem.js"></script>
</head>

<body>
    <header>
        <a href="../../../index.html">
            <div class="left">
                <img src="../../../img/return.png" alt="jt" />
            </div>
        </a>
        <div class="center">
            收藏
        </div>
        <div class="left">

        </div>
    </header>
    <menu id="wrap">
        <div class="inner">
            <p></p>
            <p id="address"></p>
            <p>
                <input id="queren" type="button" value="确定" /><input id="quxiao" type="button" value="取消" />
            </p>
        </div>
    </menu>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div id="listHTML" class="bottom">
                </div>
                <p id="loadingTxt" class="loadingTxt"></p>
            </section>
        </div>
    </div>
</body>

<script src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script src="js/sc.js"></script>

</html>