<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/personalData.css">
</head>

<body>
    <header>
        <a href="#" onclick="history.back(-1);">
            <div class="left">
                <img src="img/jt.png" alt="jt">
            </div>
        </a>
        <div class="center">
            个人资料
        </div>
        <div class="right">
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <ul>
                    <li>
                        <div class="user-logo">
                            <div class="left">
                                <p>头像</p>
                            </div>
                            <div class="right">
                                <div class="userLogo">
                                    <img id="userLogo" src="img/user.png" alt="图像">
                                </div>
                                <div class="arr">
                                    <img src="img/jiantou@2x.png" alt="">
                                </div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="dataText">
                            <div class="left">
                                <p>昵称</p>
                            </div>
                            <div class="right">
                                <div id="userName" class="right-text">
                                    悦农通
                                </div>
                                <div class="arr">
                                    <img src="img/jiantou@2x.png" alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dataText">
                            <div class="left">
                                <p>性别</p>
                            </div>
                            <div class="right">
                                <div class="right-text">
                                    <img src="img/radio-yes.png" alt="">男
                                    <img src="img/radio-no.png" alt="">女
                                </div>
                                <div class="arr">
                                    <img src="img/jiantou@2x.png" alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dataText">
                            <div class="left">
                                <p>微信号</p>
                            </div>
                            <div class="right">
                                <div id="telephone" class="right-text">
                                    vian_32dean
                                </div>
                                <div class="arr">
                                    <img src="img/jiantou@2x.png" alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dataText">
                            <div class="left">
                                <p>我的地址</p>
                            </div>
                            <div class="right">
                                <div class="right-text">
                                    桃源街道珠光科技创新园3栋4楼
                                </div>
                                <div class="arr">
                                    <img src="img/jiantou@2x.png" alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="dataText">
                            <div class="left">
                                <p>个性签名</p>
                            </div>
                            <div class="right">
                                <div class="arr">
                                    <img src="img/jiantou@2x.png" alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dataText dataTextP">
                            <p>这是一个非常努力的测试人员！</p>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <script src="../../../js/jquery.js"></script>
    <script type="text/javascript" src="../../../js/iscroll.js"></script>
    <script src="../../../js/loaded_iscroll.js"></script>
    <script src="../../../js/tool.js"></script>
    <script src="js/personalData.js"></script>
</body>

</html>