<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/policyList.css">
</head>

<body>
    <header>
        <a href="../../../index.html">
            <div class="left">
                <img src="../../../img/public/jt.png" alt="jt">
            </div>
        </a>
        <div class="center">
            保单
        </div>
        <div class="left">

        </div>
    </header>

    <menu>
        <div class="top">
            <ul id="menu">
            </ul>
        </div>
    </menu>

    <div id="wrapper">
        <div id="scroller">
            <section>
                <div id="listHTML" class="bottom">
                </div>
                <p id="loadingTxt" class="loadingTxt">加载更多...</p>
            </section>
        </div>
    </div>
</body>

<script src="../../../js/jquery.js"></script>
<script src="../../../js/swiper.3.4.2.min.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script type="text/javascript" src="../../../js/public.js"></script>
<script src="js/policyList.js"></script>

</html>