html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
  background-image: url("../img/bg.png");
  background-size: 100% auto;
}
header {
  position: absolute;
  width: 16rem;
  height: 1.87733333rem;
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 1.6rem;
  line-height: 1.87733333rem;
}
header div.left a {
  display: inline-block;
}
header div.left a .sweep {
  width: 1.6rem;
  margin-left: 0.74666667rem;
}
header div.left a .sweep img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 1.87733333rem;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper #scroller {
  padding-bottom: 1.408rem;
}
#wrapper #scroller section .top {
  text-align: center;
  color: #ffffff;
}
#wrapper #scroller section .top h1 {
  font-size: 1.152rem;
  line-height: 1.49333333rem;
}
#wrapper #scroller section .top h3 {
  font-size: 0.59733333rem;
  line-height: 1.49333333rem;
}
#wrapper #scroller section .top h2 {
  font-size: 2.77333333rem;
  line-height: 2.77333333rem;
  font-weight: 300;
}
#wrapper #scroller section .top p {
  font-size: 0.55466667rem;
  line-height: 1.49333333rem;
}
#wrapper #scroller section .top .details {
  padding: 0 0.74666667rem;
}
#wrapper #scroller section .top .details p {
  overflow: hidden;
  line-height: 1.06666667rem;
}
#wrapper #scroller section .top .details p .left {
  float: left;
}
#wrapper #scroller section .top .details p .right {
  float: right;
}
#wrapper #scroller section .weatherAI {
  margin-top: 0.64rem;
  padding: 0 0.74666667rem;
  height: 2.60266667rem;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
}
#wrapper #scroller section .weatherAI div {
  font-size: 0.55466667rem;
  color: #ffffff;
  float: left;
  padding: 0.64rem 0;
}
#wrapper #scroller section .weatherAI div:last-of-type {
  width: 12.97066667rem;
}
#wrapper #scroller section .weatherAI div img {
  width: 1.51466667rem;
  height: 1.344rem;
}
#wrapper #scroller section .weatherAI div p {
  overflow: hidden;
  padding-left: 0.42666667rem;
}
#wrapper #scroller section .weatherAI div p span {
  line-height: 0.768rem;
}
#wrapper #scroller section .weatherAI div p span:first-of-type {
  float: left;
}
#wrapper #scroller section .weatherAI div p span:first-of-type img {
  width: 1.10933333rem;
  height: 0.512rem;
  margin-left: 0.32rem;
}
#wrapper #scroller section .weatherAI div p span:last-of-type {
  float: right;
}
#wrapper #scroller section .weatherAI div p span:last-of-type img {
  width: 0.21333333rem;
  height: 0.384rem;
  margin-left: 0.21333333rem;
}
#wrapper #scroller section menu {
  padding: 0.85333333rem 0.74666667rem;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 0.42666667rem;
}
#wrapper #scroller section menu ul {
  overflow: hidden;
}
#wrapper #scroller section menu ul li {
  float: left;
  width: 25%;
  text-align: center;
}
#wrapper #scroller section menu ul li a img {
  width: 2.13333333rem;
  height: 2.13333333rem;
}
#wrapper #scroller section .message {
  padding: 0.32rem 0.74666667rem;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 0.42666667rem;
  color: #ffffff;
}
#wrapper #scroller section .message div {
  padding: 0.32rem 0;
}
#wrapper #scroller section .message div.title {
  font-size: 0.68266667rem;
}
#wrapper #scroller section .message div p {
  line-height: 0.68266667rem;
  font-size: 0.55466667rem;
}
#wrapper #scroller section .message div p:last-of-type {
  font-size: 0.512rem;
}
#wrapper #scroller section .weather {
  padding: 0.74666667rem 0.74666667rem;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 0.42666667rem;
  color: #ffffff;
}
#wrapper #scroller section .weather .title {
  font-size: 0.68266667rem;
}
#wrapper #scroller section .weather ul {
  margin-top: 0.64rem;
  overflow: hidden;
}
#wrapper #scroller section .weather ul li {
  width: 14.2%;
  float: left;
  text-align: center;
}
#wrapper #scroller section .weather ul li p {
  font-size: 0.512rem;
}
#wrapper #scroller section .weather ul li img {
  width: 1.152rem;
  height: 1.152rem;
  margin: 0.21333333rem auto;
}
#wrapper .iScrollVerticalScrollbar .iScrollIndicator {
  opacity: 0;
}
