<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../../../js/jquery.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
    <link rel="stylesheet" href="css/supplyAndDemandMarket.css">
    <link rel="stylesheet" href="../../../../css/reset.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1>供求市场</h1>
        </div>
        <div class="right">
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="../maize/maize.html">
                                    <img src="img/banner.png" alt="banner"></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="../maize/maize.html">
                                    <img src="img/banner.png" alt="banner"></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="../maize/maize.html">
                                    <img src="img/banner.png" alt="banner"></a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="menu">
                    <ul id="menuHTML">
                        <!-- <li>
                            <a href="#">
                                <div>
                                    <img src="img/fruits.png" alt="水果">
                                    <p>水果</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="img/vegetables.png" alt="蔬菜">
                                    <p>蔬菜</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="img/foodstuff.png" alt="梁作">
                                    <p>梁作</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="img/specialty.png" alt="特产">
                                    <p>特产</p>
                                </div>
                            </a>
                        </li> -->
                    </ul>
                </div>
                <div class="line">

                </div>
                <div class="supplyAndDemand">
                    <div class="supplyAndDemand-title">
                        <div class="left">
                            <span class="active">
                                供应
                            </span>
                        </div>
                        <div class="right">
                            <span>
                                求购
                            </span>
                        </div>
                    </div>
                    <div id="contentHTML" class="supplyAndDemand-list">
                        <!-- <div class="supplyAndDemand-text">
                            <div class="supplyAndDemand-text-title">
                                <div class="left">
                                    <img src="img/userLogo.png" alt="">
                                </div>
                                <div class="center">
                                    <p>赣南脐橙专业合作社</p>
                                    <p><span>江西赣州赣南县</span></p>
                                </div>
                                <div class="right">
                                    <p>1小时前</p>
                                </div>
                            </div>
                            <div class="supplyAndDemand-text-content">
                                <p>出售赣南脐橙</p>
                                <p>本合作社种植赣南脐橙50亩地，产量约20万斤，现出售，有需要的请联系电话18889878888。</p>
                            </div>
                            <div class="supplyAndDemand-text-img">
                                <ul>
                                    <li>
                                        <img src="img/new.png" alt="">
                                    </li>
                                    <li>
                                        <img src="img/new.png" alt="">
                                    </li>
                                    <li>
                                        <img src="img/new.png" alt="">
                                    </li>
                                </ul>
                            </div>
                            <div class="count">
                                <p>
                                    <span><img src="img/read.png" alt="">888人阅读</span>
                                    <span><img src="img/heart.png" alt="">888人阅读</span>
                                </p>
                            </div>
                        </div>
                    </div> -->
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer>
        <div class="menu">
            <div class="left">
                <div class="left-left">
                    <img src="img/index.png" alt="index">
                    <p>首页</p>
                </div>
                <div class="left-right">
                    <img src="img/supply.png" alt="supply">
                    <p>供求市场</p>
                </div>
            </div>
            <div class="center">
            </div>
            <div class="right">
                <div class="right-left">
                    <img src="img/message.png" alt="message">
                    <p>消息</p>
                </div>
                <div class="right-right">
                    <img src="img/personCenter.png" alt="personCenter">
                    <p>我</p>
                </div>
            </div>
        </div>
        <div class="center-add">
            <img src="img/add.png" alt="" srcset="">
            <p>发布</p>
        </div>
    </footer>
</body>
<script type="text/javascript" src="../../../../js/iscroll.js"></script>
<script src="../../../../js/loaded_iscroll.js"></script>
<script src="../../../../js/tool.js"></script>
<!-- <script src="../../../../js/index.js"></script> -->
<script src="js/supplyAndDemandMarket.js"></script>

</html>