<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/zwyy.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1>植物医院</h1>
        </div>
        <div class="right">
        </div>
    </header>
    <menu>
        <ul id="menu_list">
            <li class="active">
                <div>
                    <span>
                        推荐
                    </span>
                </div>
            </li>
            <li>
                <div>
                    <span>
                        病虫害图库
                    </span>
                </div>
            </li>
            <li>
                <div>
                    <span>
                        技术服务
                    </span>
                </div>
            </li>
            <li>
                <div>
                    <span>
                        农资店
                    </span>
                </div>
            </li>
        </ul>
    </menu>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="../insectPestsDetials/insectPestsDetials.html">
                                    <img src="img/banner1.png" alt="banner">
                                    <div class="banner-msg">
                                        <p>青菜的四季种植方法,提高青菜的收成</p>
                                        <p>1小时前·888人阅读</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="../insectPestsDetials/insectPestsDetials.html">
                                    <img src="img/banner1.png" alt="banner">
                                    <div class="banner-msg">
                                        <p>青菜的四季种植方法,提高青菜的收成</p>
                                        <p>1小时前·888人阅读</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="../insectPestsDetials/insectPestsDetials.html">
                                    <img src="img/banner1.png" alt="banner">
                                    <div class="banner-msg">
                                        <p>青菜的四季种植方法,提高青菜的收成</p>
                                        <p>1小时前·888人阅读</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="line">

                </div>
                <div class="content">
                    <div class="content-title">
                        <span class="blue-line"></span>
                        <div class="title">
                            <span>热门推荐</span>
                            <span>
                                <!-- <img src="img/right.png" alt="" srcset=""> -->
                            </span>
                        </div>
                    </div>
                    <div class="content-top">
                        <a href="../insectPestsDetials/insectPestsDetials.html">
                            <p class="content-top-title">再生水稻的养殖方法；采用耐寒早熟的水稻培育秧苗,然后将秧苗插入到田间并施肥</p>
                            <ul>
                                <li>
                                    <img src="img/top-new1.png" alt="">
                                </li>
                                <li>
                                    <img src="img/top-new2.png" alt="">
                                </li>
                                <li>
                                    <img src="img/top-new1.png" alt="">
                                </li>
                            </ul>
                            <p class="timer">
                                <span>2017.12.21</span>
                                <span>阅读 183</span>
                            </p>
                        </a>
                    </div>
                    <div class="content-bottom">
                        <ul>
                            <li>
                                <a href="../insectPestsDetials/insectPestsDetials.html">
                                    <div class="left">
                                        <img src="img/new-bottom.png" alt="">
                                    </div>
                                    <div class="right">
                                        <p class="content-bottom-title">
                                            种土豆的处理技巧及最佳种植时间解说!
                                        </p>
                                        <p class="content-bottom-content">
                                            种植土豆,可以在2月上旬种植；露地地膜覆盖种植一般在3月下旬。处理的方法为:切块催芽每亩需种薯150千克左右.克左右
                                        </p>
                                        <p class="content-bottom-timer">
                                            <span>2017.12.21</span>
                                            <span>阅读 183</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../insectPestsDetials/insectPestsDetials.html">
                                    <div class="left">
                                        <img src="img/new-bottom.png" alt="">
                                    </div>
                                    <div class="right">
                                        <p class="content-bottom-title">
                                            种土豆的处理技巧及最佳种植时间解说!
                                        </p>
                                        <p class="content-bottom-content">
                                            种植土豆,可以在2月上旬种植；露地地膜覆盖种植一般在3月下旬。处理的方法为:切块催芽每亩需种薯150千克左右.克左右
                                        </p>
                                        <p class="content-bottom-timer">
                                            <span>2017.12.21</span>
                                            <span>阅读 183</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../insectPestsDetials/insectPestsDetials.html">
                                    <div class="left">
                                        <img src="img/new-bottom.png" alt="">
                                    </div>
                                    <div class="right">
                                        <p class="content-bottom-title">
                                            种土豆的处理技巧及最佳种植时间解说!
                                        </p>
                                        <p class="content-bottom-content">
                                            种植土豆,可以在2月上旬种植；露地地膜覆盖种植一般在3月下旬。处理的方法为:切块催芽每亩需种薯150千克左右.克左右
                                        </p>
                                        <p class="content-bottom-timer">
                                            <span>2017.12.21</span>
                                            <span>阅读 183</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../insectPestsDetials/insectPestsDetials.html">
                                    <div class="left">
                                        <img src="img/new-bottom.png" alt="">
                                    </div>
                                    <div class="right">
                                        <p class="content-bottom-title">
                                            种土豆的处理技巧及最佳种植时间解说!
                                        </p>
                                        <p class="content-bottom-content">
                                            种植土豆,可以在2月上旬种植；露地地膜覆盖种植一般在3月下旬。处理的方法为:切块催芽每亩需种薯150千克左右.克左右
                                        </p>
                                        <p class="content-bottom-timer">
                                            <span>2017.12.21</span>
                                            <span>阅读 183</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <div class="banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="img/banner2.png" alt="banner">
                                    <div class="banner-msg">
                                        <p>柑橘黄龙病</p>
                                        <p>1小时前·888人阅读</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="img/banner2.png" alt="banner">
                                    <div class="banner-msg">
                                        <p>柑橘黄龙病</p>
                                        <p>1小时前·888人阅读</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="img/banner2.png" alt="banner">
                                    <div class="banner-msg">
                                        <p>柑橘黄龙病</p>
                                        <p>1小时前·888人阅读</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="line">

                </div>
                <div class="content">
                    <div class="content-title">
                        <span class="blue-line"></span>
                        <div class="title">
                            <span>果树类</span>
                            <span>
                                <a href="../diseaseAndInsectBank/diseaseAndInsectBank.html">
                                    <img src="img/right.png" alt="" srcset="">
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="content-top">
                        <p class="content-top-title">再生水稻的养殖方法；采用耐寒早熟的水稻培育秧苗,然后将秧苗插入到田间并施肥</p>
                        <ul>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                        </ul>
                        <p class="timer">
                            <span>2017.12.21</span>
                            <span>阅读 183</span>
                        </p>
                    </div>
                </div>
                <div class="content">
                    <div class="content-title">
                        <span class="blue-line"></span>
                        <div class="title">
                            <span>蔬菜类</span>
                            <span>
                                <img src="img/right.png" alt="" srcset="">
                            </span>
                        </div>
                    </div>
                    <div class="content-top">
                        <p class="content-top-title">再生水稻的养殖方法；采用耐寒早熟的水稻培育秧苗,然后将秧苗插入到田间并施肥</p>
                        <ul>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                        </ul>
                        <p class="timer">
                            <span>2017.12.21</span>
                            <span>阅读 183</span>
                        </p>
                    </div>
                </div>
                <div class="content">
                    <div class="content-title">
                        <span class="blue-line"></span>
                        <div class="title">
                            <span>粮食类</span>
                            <span>
                                <img src="img/right.png" alt="" srcset="">
                            </span>
                        </div>
                    </div>
                    <div class="content-top">
                        <p class="content-top-title">再生水稻的养殖方法；采用耐寒早熟的水稻培育秧苗,然后将秧苗插入到田间并施肥</p>
                        <ul>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                        </ul>
                        <p class="timer">
                            <span>2017.12.21</span>
                            <span>阅读 183</span>
                        </p>
                    </div>
                </div>
                <div class="content">
                    <div class="content-title">
                        <span class="blue-line"></span>
                        <div class="title">
                            <span>精作类</span>
                            <span>
                                <img src="img/right.png" alt="" srcset="">
                            </span>
                        </div>
                    </div>
                    <div class="content-top">
                        <p class="content-top-title">再生水稻的养殖方法；采用耐寒早熟的水稻培育秧苗,然后将秧苗插入到田间并施肥</p>
                        <ul>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                        </ul>
                        <p class="timer">
                            <span>2017.12.21</span>
                            <span>阅读 183</span>
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="img/banner1.png" alt="banner">
                                    <div class="banner-msg">
                                        <p>青菜的四季种植方法,提高青菜的收成</p>
                                        <p>1小时前·888人阅读</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="img/banner1.png" alt="banner">
                                    <div class="banner-msg">
                                        <p>青菜的四季种植方法,提高青菜的收成</p>
                                        <p>1小时前·888人阅读</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="img/banner1.png" alt="banner">
                                    <div class="banner-msg">
                                        <p>青菜的四季种植方法,提高青菜的收成</p>
                                        <p>1小时前·888人阅读</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="line">

                </div>
                <div class="content">
                    <div class="content-title">
                        <span class="blue-line"></span>
                        <div class="title">
                            <span>热门推荐</span>
                            <span>
                                <img src="img/right.png" alt="" srcset="">
                            </span>
                        </div>
                    </div>
                    <div class="content-top">
                        <p class="content-top-title">再生水稻的养殖方法；采用耐寒早熟的水稻培育秧苗,然后将秧苗插入到田间并施肥</p>
                        <ul>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                        </ul>
                        <p class="timer">
                            <span>2017.12.21</span>
                            <span>阅读 183</span>
                        </p>
                    </div>
                    <div class="content-bottom">
                        <ul>
                            <li>
                                <div class="left">
                                    <img src="img/new-bottom.png" alt="">
                                </div>
                                <div class="right">
                                    <p class="content-bottom-title">
                                        种土豆的处理技巧及最佳种植时间解说!
                                    </p>
                                    <p class="content-bottom-content">
                                        种植土豆,可以在2月上旬种植；露地地膜覆盖种植一般在3月下旬。处理的方法为:切块催芽每亩需种薯150千克左右.克左右
                                    </p>
                                    <p class="content-bottom-timer">
                                        <span>2017.12.21</span>
                                        <span>阅读 183</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <img src="img/new-bottom.png" alt="">
                                </div>
                                <div class="right">
                                    <p class="content-bottom-title">
                                        种土豆的处理技巧及最佳种植时间解说!
                                    </p>
                                    <p class="content-bottom-content">
                                        种植土豆,可以在2月上旬种植；露地地膜覆盖种植一般在3月下旬。处理的方法为:切块催芽每亩需种薯150千克左右.克左右
                                    </p>
                                    <p class="content-bottom-timer">
                                        <span>2017.12.21</span>
                                        <span>阅读 183</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <img src="img/new-bottom.png" alt="">
                                </div>
                                <div class="right">
                                    <p class="content-bottom-title">
                                        种土豆的处理技巧及最佳种植时间解说!
                                    </p>
                                    <p class="content-bottom-content">
                                        种植土豆,可以在2月上旬种植；露地地膜覆盖种植一般在3月下旬。处理的方法为:切块催芽每亩需种薯150千克左右.克左右
                                    </p>
                                    <p class="content-bottom-timer">
                                        <span>2017.12.21</span>
                                        <span>阅读 183</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <img src="img/new-bottom.png" alt="">
                                </div>
                                <div class="right">
                                    <p class="content-bottom-title">
                                        种土豆的处理技巧及最佳种植时间解说!
                                    </p>
                                    <p class="content-bottom-content">
                                        种植土豆,可以在2月上旬种植；露地地膜覆盖种植一般在3月下旬。处理的方法为:切块催芽每亩需种薯150千克左右.克左右
                                    </p>
                                    <p class="content-bottom-timer">
                                        <span>2017.12.21</span>
                                        <span>阅读 183</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <div class="banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="img/banner2.png" alt="banner">
                                    <div class="banner-msg">
                                        <p>柑橘黄龙病</p>
                                        <p>1小时前·888人阅读</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="img/banner2.png" alt="banner">
                                    <div class="banner-msg">
                                        <p>柑橘黄龙病</p>
                                        <p>1小时前·888人阅读</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="img/banner2.png" alt="banner">
                                    <div class="banner-msg">
                                        <p>柑橘黄龙病</p>
                                        <p>1小时前·888人阅读</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="line">

                </div>
                <div class="content">
                    <div class="content-title">
                        <span class="blue-line"></span>
                        <div class="title">
                            <span>热门推荐</span>
                            <span>
                                <img src="img/right.png" alt="" srcset="">
                            </span>
                        </div>
                    </div>
                    <div class="content-top">
                        <p class="content-top-title">再生水稻的养殖方法；采用耐寒早熟的水稻培育秧苗,然后将秧苗插入到田间并施肥</p>
                        <ul>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                            <li>
                                <img src="img/top-new1.png" alt="">
                            </li>
                        </ul>
                        <p class="timer">
                            <span>2017.12.21</span>
                            <span>阅读 183</span>
                        </p>
                    </div>
                    <div class="content-bottom">
                        <ul>
                            <li>
                                <div class="left">
                                    <img src="img/new-bottom.png" alt="">
                                </div>
                                <div class="right">
                                    <p class="content-bottom-title">
                                        种土豆的处理技巧及最佳种植时间解说!
                                    </p>
                                    <p class="content-bottom-content">
                                        种植土豆,可以在2月上旬种植；露地地膜覆盖种植一般在3月下旬。处理的方法为:切块催芽每亩需种薯150千克左右.克左右
                                    </p>
                                    <p class="content-bottom-timer">
                                        <span>2017.12.21</span>
                                        <span>阅读 183</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <img src="img/new-bottom.png" alt="">
                                </div>
                                <div class="right">
                                    <p class="content-bottom-title">
                                        种土豆的处理技巧及最佳种植时间解说!
                                    </p>
                                    <p class="content-bottom-content">
                                        种植土豆,可以在2月上旬种植；露地地膜覆盖种植一般在3月下旬。处理的方法为:切块催芽每亩需种薯150千克左右.克左右
                                    </p>
                                    <p class="content-bottom-timer">
                                        <span>2017.12.21</span>
                                        <span>阅读 183</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <img src="img/new-bottom.png" alt="">
                                </div>
                                <div class="right">
                                    <p class="content-bottom-title">
                                        种土豆的处理技巧及最佳种植时间解说!
                                    </p>
                                    <p class="content-bottom-content">
                                        种植土豆,可以在2月上旬种植；露地地膜覆盖种植一般在3月下旬。处理的方法为:切块催芽每亩需种薯150千克左右.克左右
                                    </p>
                                    <p class="content-bottom-timer">
                                        <span>2017.12.21</span>
                                        <span>阅读 183</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <img src="img/new-bottom.png" alt="">
                                </div>
                                <div class="right">
                                    <p class="content-bottom-title">
                                        种土豆的处理技巧及最佳种植时间解说!
                                    </p>
                                    <p class="content-bottom-content">
                                        种植土豆,可以在2月上旬种植；露地地膜覆盖种植一般在3月下旬。处理的方法为:切块催芽每亩需种薯150千克左右.克左右
                                    </p>
                                    <p class="content-bottom-timer">
                                        <span>2017.12.21</span>
                                        <span>阅读 183</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/swiper.3.4.2.min.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script type="text/javascript" src="js/zwyy.js"></script>

</html>