<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/classification.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1 id="diseaseListTitle">选择分类</h1>
        </div>
        <div class="right">
        </div>
    </header>
    <section>
        <div class="Area">
            <div class="block AreaLeft">
                <ul id="ulList">
                </ul>
            </div>
            <div class="block AreaCenter">
                <ul></ul>
            </div>
            <div class="block AreaRight">
                <ul></ul>
            </div>
        </div>
    </section>

</body>
<script src="../../../js/jquery.js"></script>
<script src="../../../js/tool.js"></script>
<script src="js/classification.js"></script>

</html>