
html {
  height: 100%;
}
html body {
  margin: 0;
  height: 100%;
}
header {
  width: 100%;
  height: 1.87733333rem;
  background: linear-gradient(29deg, #1b9de1, #3fbef1);
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 2.98666667rem;
  line-height: 1.87733333rem;
}
header div.left a {
  display: inline-block;
}
header div.left a .sweep {
  width: 1.6rem;
  margin-left: 0.74666667rem;
}
header div.left a .sweep img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
header div.center {
  text-align: center;
  width: 10.02666667rem;
}
header div.center h1 {
  color: #ffffff;
  font-size: 0.64rem;
  line-height: 1.87733333rem;
  text-align: center;
}
header div.right {
  width: 2.98666667rem;
  float: right;
  line-height: 1.87733333rem;
}
#areaLabel {
  width: 100%;
  height: 1.87733333rem;
  font-size: 0.59733333rem;
  color: #000;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  border-bottom: 0.00091022rem solid #aaa;
  padding-right: 1em;
  padding-left: 1em;
  position: relative;
}
#areaLabel::after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(1.384em);
  width: 0.768rem;
  height: 0.768rem;
  border-width: 0.04266667rem;
  border-style: solid solid none none;
  border-color: #000;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: center;
}
#areaLabel span {
  width: 3.41333333rem;
}
#areaLabel input {
  flex: 1;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#addressSelectWrapper {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#addressSelect {
  z-index: 999;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 87%;
  background-color: #fff;
}
#addressSelect .tip {
  position: relative;
  height: 1.70666667rem;
  line-height: 1.70666667rem;
  width: 100%;
  border-bottom: 0.04266667rem solid #dedede;
}
#addressSelect .tip h3 {
  width: 100%;
  height: 1.70666667rem;
  line-height: 1.70666667rem;
  text-align: center;
  font-size: 0.68266667rem;
  font-weight: normal;
  color: #666;
}
#addressSelect .tip #cancel {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.664rem;
  height: 1.664rem;
  color: #666;
  border: none;
  background: transparent url("../img/cancel.png") no-repeat center;
  cursor: pointer;
}
#addressSelect #address {
  width: 100%;
  height: 100%;
}
/*被选中的地址*/
.selected-address {
  width: 100%;
  height: 1.70666667rem;
  line-height: 1.70666667rem;
  border-bottom: 0.04266667rem solid #ededed;
}
.selected-address:before {
  content: "";
  display: table;
}
.selected-address:after {
  content: "";
  display: table;
  clear: both;
}
.selected-address li {
  float: left;
  height: 1.70666667rem;
  line-height: 1.664rem;
  text-align: center;
  width: 25%;
  color: #333;
  border-bottom: 0.04266667rem solid transparent;
  font-size: 0.55466667rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.selected-address li.active {
  border-bottom-color: #3da5fe;
  color: #3da5fe;
}
/*各级地址列表*/
.address-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*加载中*/
}
.address-content ul {
  display: block;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  padding-top: 0.34133333rem;
  padding-bottom: 3.75466667rem;
}
.address-content ul li {
  height: 1.536rem;
  line-height: 1.536rem;
  padding-left: 1em;
  font-size: 0.55466667rem;
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
  cursor: pointer;
}
.address-content ul li.active {
  background-color: #3da5ef;
  color: #fff;
}
.address-content .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.59733333rem 0.59733333rem 0.59733333rem 2.21866667rem;
  background: rgba(0, 0, 0, 0.5) url("../img/loading.gif") no-repeat left 0.29866667rem center / 1.024rem 1.024rem;
  color: #fff;
  border-radius: 0.256rem;
  font-size: 0.68266667rem;
}
