html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}
header {
  width: 100%;
  height: 1.87733333rem;
  background: linear-gradient(29deg, #1b9de1, #3fbef1);
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 2.98666667rem;
  line-height: 1.87733333rem;
}
header div.left a {
  display: inline-block;
}
header div.left a .sweep {
  width: 1.6rem;
  margin-left: 0.74666667rem;
}
header div.left a .sweep img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
header div.center {
  text-align: center;
  width: 10.02666667rem;
}
header div.center h1 {
  color: #ffffff;
  font-size: 0.64rem;
  line-height: 1.87733333rem;
  text-align: center;
}
header div.right {
  width: 2.98666667rem;
  float: right;
  line-height: 1.87733333rem;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 1.87733333rem;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper #scroller {
  padding-bottom: 2.98666667rem;
}
#wrapper #scroller section .marquee {
  position: relative;
  height: 1.408rem;
  background: #fff7ea;
  font-size: 0.512rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #e5be5b;
  line-height: 1.408rem;
  padding: 0 2.00533333rem 0 0.74666667rem;
}
#wrapper #scroller section .marquee .closeMarquee {
  position: absolute;
  right: 0.74666667rem;
  top: 0;
}
#wrapper #scroller section .marquee .closeMarquee img {
  width: 0.42666667rem;
  height: 0.42666667rem;
  margin: 0 0.128rem;
}
#wrapper #scroller section .line {
  width: 100%;
  height: 0.42666667rem;
  background-color: #eeeeee;
}
#wrapper #scroller section .forms1 {
  padding: 0.64rem 0;
  margin: 0 0.74666667rem;
}
#wrapper #scroller section .forms1 .form_input {
  height: 1.83466667rem;
  border-bottom: solid 1px #eeeeee;
}
#wrapper #scroller section .forms1 .form_input .form_input_box {
  height: 0.85333333rem;
  padding-top: 0.49066667rem;
}
#wrapper #scroller section .forms1 .form_input .form_input_box .form_input_left {
  float: left;
  color: #666666;
  line-height: 0.85333333rem;
  font-size: 0.59733333rem;
}
#wrapper #scroller section .forms1 .form_input .form_input_box .form_input_left img {
  margin-left: 0.21333333rem;
  width: 0.64rem;
  vertical-align: -0.128rem;
}
#wrapper #scroller section .forms1 .form_input .form_input_box .form_input_right {
  color: #999999;
  font-size: 0;
  line-height: 0.85333333rem;
  float: right;
}
#wrapper #scroller section .forms1 .form_input .form_input_box .form_input_right span {
  font-size: 0.59733333rem;
}
#wrapper #scroller section .forms1 .form_input .form_input_box .form_input_right img {
  vertical-align: sub;
  margin-left: 0.32rem;
  width: 0.29866667rem;
  height: 0.55466667rem;
}
#wrapper #scroller section .forms1 .form_radius {
  height: 1.83466667rem;
  border-bottom: solid 1px #eeeeee;
}
#wrapper #scroller section .forms1 .form_radius .form_radius_box {
  height: 0.85333333rem;
  padding-top: 0.49066667rem;
}
#wrapper #scroller section .forms1 .form_radius .form_radius_box .form_radius_left {
  float: left;
  color: #666666;
  line-height: 0.85333333rem;
  font-size: 0.59733333rem;
}
#wrapper #scroller section .forms1 .form_radius .form_radius_box .form_radius_right {
  color: #999999;
  font-size: 0;
  line-height: 0.85333333rem;
  float: right;
}
#wrapper #scroller section .forms1 .form_radius .form_radius_box .form_radius_right span {
  font-size: 0.59733333rem;
  margin-left: 0.29866667rem;
}
#wrapper #scroller section .forms1 .form_radius .form_radius_box .form_radius_right span img {
  margin-right: 0.08533333rem;
  width: 0.46933333rem;
  height: 0.49066667rem;
}
#wrapper #scroller section .forms1 .form_date {
  height: 1.83466667rem;
  border-bottom: solid 1px #eeeeee;
}
#wrapper #scroller section .forms1 .form_date.form_end {
  border: none;
}
#wrapper #scroller section .forms1 .form_date .form_date_box {
  height: 0.85333333rem;
  padding-top: 0.49066667rem;
}
#wrapper #scroller section .forms1 .form_date .form_date_box .form_date_left {
  float: left;
  font-size: 0.59733333rem;
  color: #666666;
  line-height: 0.85333333rem;
}
#wrapper #scroller section .forms1 .form_date .form_date_box .form_date_right {
  color: #999999;
  font-size: 0;
  line-height: 0.85333333rem;
  float: right;
}
#wrapper #scroller section .forms1 .form_date .form_date_box .form_date_right span {
  font-size: 0.59733333rem;
}
#wrapper #scroller section .forms1 .form_date .form_date_box .form_date_right img {
  vertical-align: sub;
  margin-left: 0.32rem;
  width: 0.29866667rem;
  height: 0.55466667rem;
}
footer {
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer .insure_footer {
  background-color: #ffffff;
  padding: 0.64rem 0.74666667rem;
}
footer .insure_footer input {
  background-color: #1c9ee1;
  width: 14.50666667rem;
  height: 1.77066667rem;
  font-size: 0.59733333rem;
  color: #ffffff;
  border: none;
  outline: none;
}
