<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>悦农通</title>
    <link rel="Shortcut Icon" href="../../../img/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css">
    <link rel="stylesheet" href="css/issueAQuestion.css">
    <script>
            (function () {
                var width = document.documentElement.clientWidth;
                var style = document.createElement("style");
                style.innerHTML = "html{font-size: " + width / 16 + "px !important;}";
                document.head.appendChild(style);
            })();
        </script>
</head>

<body>
    <header id="header">
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="../../../img/return.png" alt="sweep"/>
                </div>
            </a>
        </div>
        <div class="center">
            <h1>发布提问</h1>
        </div>
        <div class="right">
        </div>
    </header>
    <div id="line" class="line">

    </div>
    <div id="wrapper">
        <div id="scroller">
            <section class="aui-content">
                <div style="height:20px;"></div>
                <div class="aui-content-up">
                    <form action="" name="form1" method="post">
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <input type="text" class="aui-form-control-two" name="yourname" onBlur="checkna()"
                                    required id="1" placeholder="加个标题哟~"/>
                            </div>
                        </div>
                        <div class="aui-form-group clear">
                            <div class="aui-form-input">
                                <textarea class="aui-form-control" name="description" id="4" minlength="5" placeholder="请发布你要咨询的问题！"></textarea>
                            </div>
                        </div>
                        <div class="aui-form-group clear">

                            <div class="aui-form-input">
                                <div class="aui-content-img-box aui-content-full">
                                    <div class="aui-photo aui-up-img clear">
                                        <section class="aui-file-up fl">
                                            <img src="img/add.png" class="add-img"/>
                                            <input type="file" name="file" id="file" class="file" value="" accept="jpg,jpeg,png" />
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="problemAndaddress">
                    <p>
                        <span>问题类型</span>
                    </p>
                    <p>
                        <span>233</span>
                        <span><img src="../../../img/arrow-right-blue.png" alt=""/></span>
                    </p>
                </div>
                <div class="problemAndaddress">
                    <p>
                        <span>所在位置</span>
                    </p>
                    <p>
                        <span>666</span>
                        <span><img src="../../../img/arrow-right-blue.png" alt=""/></span>
                    </p>
                </div>
                <div class="aui-btn-default">
                    <button class="aui-btn aui-btn-account">确认提交</button>
                </div>
            </section>
            <!-- mask begin -->
            <div class="aui-mask aui-works-mask">
                <div class="aui-mask-content">
                    <p class="aui-delete-text">确定要删除你上传的图片？</p>
                    <p class="aui-check-text">
                        <span class="aui-delete aui-accept-ok">确定</span>
                        <span class="aui-accept-no">取消</span>
                    </p>
                </div>
            </div>
            <!-- mask end -->
        </div>
    </div>

</body>
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/swiper.3.4.2.min.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script type="text/javascript" src="js/up.js"></script>
<script type="text/javascript" src="js/issueAQuestion.js"></script>

</html>