<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/dksq.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1>贷款申请</h1>
        </div>
        <div class="right">
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="marquee">
                    <marquee>温馨提示，如果您有任何疑问，请点击此处拨打客服电话88</marquee>
                    <div class="closeMarquee"><img src="img/closeMarquee.png" alt=""></div>
                </div>
                <div class="forms1 forms">
                    <form>
                        <div class="form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    机构类型
                                </div>
                                <a href="insureInput.html?ids=number">
                                    <div class="form_input_right">
                                        <span id="number" class="msg" ids="number">
                                            <!-- 请输入投保亩数 -->
                                            <!-- 100亩 -->
                                        </span>
                                        <span></span>
                                        <img src="img/right.png" alt="jiantou">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    机构名称
                                </div>
                                <a href="insureInput.html?ids=number">
                                    <div class="form_input_right">
                                        <span id="number" class="msg" ids="number">
                                        </span>
                                        <span></span>
                                        <img src="img/right.png" alt="jiantou">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    所在地区
                                </div>
                                <a href="insureInput.html?ids=number">
                                    <div class="form_input_right">
                                        <span id="number" class="msg" ids="number">
                                        </span>
                                        <span></span>
                                        <img src="img/right.png" alt="jiantou">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    土地面积
                                </div>
                                <a href="insureInput.html?ids=number">
                                    <div class="form_input_right">
                                        <span id="number" class="msg" ids="number">
                                            <!-- 请输入投保亩数 -->
                                            <!-- 100亩 -->
                                        </span>
                                        <span></span>
                                        <img src="img/right.png" alt="jiantou">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="form_radius">
                            <div class="form_radius_box">
                                <div class="form_radius_left">
                                    土地经营权
                                </div>
                                <a href="insureInput.html?ids=number">
                                    <div class="form_radius_right">
                                        <span><img src="img/no.png" alt="">没有</span>
                                        <span><img src="img/yes.png" alt="">有</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="form_radius">
                            <div class="form_radius_box">
                                <div class="form_radius_left">
                                    婚姻状况
                                </div>
                                <a href="insureInput.html?ids=number">
                                    <div class="form_radius_right">
                                        <span><img src="img/no.png" alt="">单身</span>
                                        <span><img src="img/yes.png" alt="">已婚</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="form_radius">
                            <div class="form_radius_box">
                                <div class="form_radius_left">
                                    是否有其他贷款
                                </div>
                                <a href="insureInput.html?ids=number">
                                    <div class="form_radius_right">
                                        <span><img src="img/no.png" alt="">没有</span>
                                        <span><img src="img/yes.png" alt="">有</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    其他抵押物
                                </div>
                                <a href="insureInput.html?ids=number">
                                    <div class="form_input_right">
                                        <span id="number" class="msg" ids="number">
                                        </span>
                                        <span></span>
                                        <img src="img/right.png" alt="jiantou">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    联系人
                                </div>
                                <a href="insureInput.html?ids=number">
                                    <div class="form_input_right">
                                        <span id="number" class="msg" ids="number">
                                        </span>
                                        <span></span>
                                        <img src="img/right.png" alt="jiantou">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    联系电话
                                </div>
                                <a href="insureInput.html?ids=number">
                                    <div class="form_input_right">
                                        <span id="number" class="msg" ids="number">
                                        </span>
                                        <span></span>
                                        <img src="img/right.png" alt="jiantou">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    贷款金额
                                </div>
                                <a href="insureInput.html?ids=number">
                                    <div class="form_input_right">
                                        <span id="number" class="msg" ids="number">
                                        </span>
                                        <span></span>
                                        <img src="img/right.png" alt="jiantou">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    贷款用途
                                </div>
                                <a href="insureInput.html?ids=number">
                                    <div class="form_input_right">
                                        <span id="number" class="msg" ids="number">
                                        </span>
                                        <span></span>
                                        <img src="img/right.png" alt="jiantou">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="form_date">
                            <div class="form_date_box">
                                <div class="form_date_left">
                                    开始日期
                                </div>
                                <div class="form_date_right">
                                    <span>2018.02.23</span>
                                    <img src="img/right.png" alt="jiantou">
                                </div>
                            </div>
                        </div>
                        <div class="form_date form_end">
                            <div class="form_date_box">
                                <div class="form_date_left">
                                    结束日期
                                </div>
                                <div class="form_date_right">
                                    <span>2018.02.23</span>
                                    <img src="img/right.png" alt="jiantou">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="line">
                </div>
            </section>

        </div>
    </div>
    <footer>
        <div class="insure_footer">
            <input id="playFooter" type="button" value="确认信息">
        </div>
    </footer>
</body>
<script>
</script>
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script type="text/javascript" src="js/dksq.js"></script>

</html>