<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/dksqqr.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1>贷款申请</h1>
        </div>
        <div id="xg" class="right">
            修改
        </div>
    </header>
    <div class="marquee">
        <marquee>温馨提示，如果您有任何疑问，请点击此处拨打客服电话88</marquee>
        <div class="closeMarquee"><img src="img/closeMarquee.png" alt=""></div>
    </div>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="forms1 forms">
                    <form>
                        <div class="jigou_leixing optionCode form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    机构类型
                                </div>
                                <!-- <a href="dksqInput.html?ids=mec"> -->
                                <div class="form_input_right">
                                    <!-- <span id="mec" class="msg" ids="mec">
                                        </span> -->
                                    <span id="jigou_leixing"></span>
                                    <!-- <img src="img/right.png" alt="jiantou"> -->
                                </div>
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="jigou_mingcheng optionCode form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    机构名称
                                </div>
                                <!-- <a href="dksqInput.html?ids=org"> -->
                                <div class="form_input_right">
                                    <span id="jigou_mingcheng"></span>
                                    <!-- <img src="img/right.png" alt="jiantou"> -->
                                </div>
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="diqu optionCode form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    所在地区
                                </div>
                                <!-- <a href="address.html?ids=loc"> -->
                                <div class="form_input_right">
                                    <span id="diqu"></span>
                                    <!-- <img src="img/right.png" alt="jiantou"> -->
                                </div>
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="tudi_mianji optionCode form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    土地面积
                                </div>
                                <!-- <a href="dksqInput.html?ids=lan"> -->
                                <div class="form_input_right">
                                    <span id="tudi_mianji"></span>
                                    <!-- <img src="img/right.png" alt="jiantou"> -->
                                </div>
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="tudi_jingyingquan optionCode form_radius">
                            <div class="form_radius_box">
                                <div class="form_radius_left">
                                    土地经营权
                                </div>
                                <div id="tudi_jingyingquan" class="radius form_radius_right">
                                    <span data-id="0" class="status"><img src="img/no.png" alt="">没有</span>
                                    <span data-id="1" class="status"><img src="img/no.png" alt="">有</span>
                                </div>
                            </div>
                        </div>
                        <div class="hunyin_zhuangkuang optionCode form_radius">
                            <div class="form_radius_box">
                                <div class="form_radius_left">
                                    婚姻状况
                                </div>
                                <div id="hunyin_zhuangkuang" class="radius form_radius_right">
                                    <span data-id="0" class="status"><img src="img/no.png" alt="">单身</span>
                                    <span data-id="1" class="status"><img src="img/no.png" alt="">已婚</span>
                                </div>
                            </div>
                        </div>
                        <div class="qita_daikuan optionCode form_radius">
                            <div class="form_radius_box">
                                <div class="form_radius_left">
                                    是否有其他贷款
                                </div>
                                <div id="qita_daikuan" class="radius form_radius_right">
                                    <span data-id="0" class="status"><img src="img/no.png" alt="">没有</span>
                                    <span data-id="1" class="status"><img src="img/no.png" alt="">有</span>
                                </div>
                            </div>
                        </div>
                        <div class="qita_diyawu optionCode form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    其他抵押物
                                </div>
                                <!-- <a href="dksqInput.html?ids=col"> -->
                                <div class="form_input_right">
                                    <span id="qita_diyawu"></span>
                                    <!-- <img src="img/right.png" alt="jiantou"> -->
                                </div>
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="lianxi_ren optionCode form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    联系人
                                </div>
                                <!-- <a href="dksqInput.html?ids=con"> -->
                                <div class="form_input_right">
                                    <span id="lianxi_ren"></span>
                                    <!-- <img src="img/right.png" alt="jiantou"> -->
                                </div>
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="lianxi_dianhua optionCode form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    联系电话
                                </div>
                                <!-- <a href="dksqInput.html?ids=num"> -->
                                <div class="form_input_right">
                                    <span id="lianxi_dianhua"></span>
                                    <!-- <img src="img/right.png" alt="jiantou"> -->
                                </div>
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="daikuan_jine optionCode form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    贷款金额
                                </div>
                                <!-- <a href="dksqInput.html?ids=amo"> -->
                                <div class="form_input_right">
                                    <span id="daikuan_jine"></span>
                                    <!-- <img src="img/right.png" alt="jiantou"> -->
                                </div>
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="daikuai_yongtu optionCode form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    贷款用途
                                </div>
                                <!-- <a href="dksqInput.html?ids=use"> -->
                                <div class="form_input_right">
                                    <span id="daikuai_yongtu"></span>
                                    <!-- <img src="img/right.png" alt="jiantou"> -->
                                </div>
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="kaishi_riqi optionCode form_input">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    开始日期
                                </div>
                                <!-- <a href="dksqInput.html?ids=sta"> -->
                                <div class="form_input_right">
                                    <span id="kaishi_riqi"></span>
                                    <!-- <img src="img/right.png" alt="sta"> -->
                                </div>
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="jieshu_riqi optionCode form_input form_end">
                            <div class="form_input_box">
                                <div class="form_input_left">
                                    结束日期
                                </div>
                                <!-- <a href="dksqInput.html?ids=end"> -->
                                <div class="form_input_right">
                                    <span id="jieshu_riqi"></span>
                                    <!-- <img src="img/right.png" alt="end"> -->
                                </div>
                                <!-- </a> -->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="line">
                </div>
            </section>

        </div>
    </div>
    <footer>
        <div class="insure_footer">
            <input id="playFooter" type="button" value="确认信息">
        </div>
    </footer>
</body>
<script>
</script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.10&key=465c831c8323875841cda920ae24fd7b"></script>
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/public.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script type="text/javascript" src="js/dksqqr.js"></script>

</html>