<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../../../js/jquery.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
    <link rel="stylesheet" href="css/insectPestsDetials.css">
    <link rel="stylesheet" href="../../../../css/reset.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1>黄胸蓟马</h1>
        </div>
        <div class="right">
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="img/banner.png" alt="banner">
                                    <div class="banner-msg">
                                        <span>1/3</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="img/banner.png" alt="banner">
                                    <div class="banner-msg">
                                        <span>2/3</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="img/banner.png" alt="banner">
                                    <div class="banner-msg">
                                        <span>3/3</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
                <div class="line">

                </div>
                <div class="content">
                    <div class="content-title">
                        <span class="blue-line"></span>
                        <div class="title">
                            <span>详细信息</span>
                            <span>
                            </span>
                        </div>
                    </div>
                    <ul class="content-text-top">
                        <li>
                            <span class="left">虫害名称：</span>
                            <span class="right">黄胸蓟马</span>
                        </li>
                        <li>
                            <span class="left">中文别名：</span>
                            <span class="right">夏威夷蓟马</span>
                        </li>
                    </ul>
                    <ul class="content-text-bottom">
                        <li>
                            <p>分布区域：</p>
                            <p>广西海南广东贵州上海江西浙江湖北湖南江苏四川河南山西台湾云南西藏。</p>
                        </li>
                        <li>
                            <p>形态特征：</p>
                            <p>雌成虫体长1．2mm。胸部橙黄色，腹部黑褐色。触角7节褐色，第3节黄色，前胸背板前角有短粗鬃1对，后角2对。前翅灰色，有时基部稍淡，前翅上脉基鬃43根，端鬃3根，下脉鬃15-16根，足色淡于体色。腹部腹板具附鬃。第5至8节两侧6有微弯梳。</p>
                        </li>
                        <li>
                            <p>为害作物：</p>
                            <p>雌成虫体长1．2mm。胸部橙黄色，腹部黑褐色。触角7节褐色，第3节黄色，前胸背板前角有短粗鬃1对，后角2对。前翅灰色，有时基部稍淡，前翅上脉基鬃43根，端鬃3根，下脉鬃15-16根，足色淡于体色。腹部腹板具附鬃。第5至8节两侧6有微弯梳。</p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>

</body>
<script type="text/javascript" src="../../../../js/iscroll.js"></script>
<script src="../../../../js/loaded_iscroll.js"></script>
<script src="../../../../js/tool.js"></script>
<script src="js/insectPestsDetials.js"></script>

</html>