<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>供求市场</title>
    <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/supplyAndDemandInner.css">
</head>

<body>
    <header>
        <div class="header">
            <div class="left">
                <a href="../gqsc/gqsc.html">
                    <div class="sweep">
                        <img src="img/jt.png" alt="sweep">
                    </div>
                </a>
            </div>
            <div class="center">
                <h1>供求市场</h1>
            </div>
            <div class="right">
            </div>
        </div>
        <div class="supplyAndDemand">
            <div class="supplyAndDemand-title">
                <div class="left">
                    <span class="active">
                        供应
                    </span>
                </div>
                <div class="right">
                    <span>
                        求购
                    </span>
                </div>
            </div>
        </div>
        <menu class="menu">
            <ul>
                <li>
                    <a href="../classification/classification.html">
                        <div id="fenlei">
                            选择分类
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../address/address.html">
                        <div id="diqu">
                            选择地区
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../../classification/classification.html">
                        <div id="paixu">
                            排序方式
                        </div>
                    </a>
                </li>
            </ul>
        </menu>
        <div class="listtt">
            <div class="Area">
                <div class="block AreaLeft">
                    <ul id="ulList">
                    </ul>
                </div>
                <div class="block AreaCenter">
                    <ul></ul>
                </div>
                <div class="block AreaRight">
                    <ul></ul>
                </div>
            </div>
        </div>
    </header>
    <div class="mask">

    </div>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="supplyAndDemand">
                    <div id="contentHTML" class="supplyAndDemand-list">

                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../../../js/swiper.3.4.2.min.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script type="text/javascript" src="js/supplyAndDemandInner.js"></script>

</html>