<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/myFarm.css">
</head>

<body>
    <header>
        <a href="../../../index.html">
            <div class="left">
                <img src="../../../img/public/jt.png" alt="jt">
            </div>
        </a>
        <div class="center">
            我的农场
        </div>
        <div class="right">
            <div class="toolImg">
                <span class="add">
                    <img src="img/add.png" alt="">
                </span>
                <span class="del">
                    <img src="img/del.png" alt="">
                </span>
            </div>

        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <ul>
                    <li>
                        <div class="nameIcon">
                            <img src="img/nameIcon.png" alt="">
                        </div>
                        <div class="farmName">
                            <div class="title">
                                <p>
                                    深圳南山漂亮果园
                                </p>
                            </div>
                            <div class="content">
                                <p>
                                    深圳市南山区桃源街道珠光科技创新园3栋4楼
                                </p>
                            </div>
                            <div class="num">
                                <p>
                                    500亩 荔枝
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <img src="img/right.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="nameIcon">
                            <img src="img/nameIcon.png" alt="">
                        </div>
                        <div class="farmName">
                            <div class="title">
                                <p>
                                    深圳南山漂亮果园
                                </p>
                            </div>
                            <div class="content">
                                <p>
                                    深圳市南山区桃源街道珠光科技创新园3栋4楼
                                </p>
                            </div>
                            <div class="num">
                                <p>
                                    500亩 荔枝
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <img src="img/right.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="nameIcon">
                            <img src="img/nameIcon.png" alt="">
                        </div>
                        <div class="farmName">
                            <div class="title">
                                <p>
                                    深圳南山漂亮果园
                                </p>
                            </div>
                            <div class="content">
                                <p>
                                    深圳市南山区桃源街道珠光科技创新园3栋4楼
                                </p>
                            </div>
                            <div class="num">
                                <p>
                                    500亩 荔枝
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <img src="img/right.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="nameIcon">
                            <img src="img/nameIcon.png" alt="">
                        </div>
                        <div class="farmName">
                            <div class="title">
                                <p>
                                    深圳南山漂亮果园
                                </p>
                            </div>
                            <div class="content">
                                <p>
                                    深圳市南山区桃源街道珠光科技创新园3栋4楼
                                </p>
                            </div>
                            <div class="num">
                                <p>
                                    500亩 荔枝
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <img src="img/right.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="nameIcon">
                            <img src="img/nameIcon.png" alt="">
                        </div>
                        <div class="farmName">
                            <div class="title">
                                <p>
                                    深圳南山漂亮果园
                                </p>
                            </div>
                            <div class="content">
                                <p>
                                    深圳市南山区桃源街道珠光科技创新园3栋4楼
                                </p>
                            </div>
                            <div class="num">
                                <p>
                                    500亩 荔枝
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <img src="img/right.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="nameIcon">
                            <img src="img/nameIcon.png" alt="">
                        </div>
                        <div class="farmName">
                            <div class="title">
                                <p>
                                    深圳南山漂亮果园
                                </p>
                            </div>
                            <div class="content">
                                <p>
                                    深圳市南山区桃源街道珠光科技创新园3栋4楼
                                </p>
                            </div>
                            <div class="num">
                                <p>
                                    500亩 荔枝
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <img src="img/right.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="nameIcon">
                            <img src="img/nameIcon.png" alt="">
                        </div>
                        <div class="farmName">
                            <div class="title">
                                <p>
                                    深圳南山漂亮果园
                                </p>
                            </div>
                            <div class="content">
                                <p>
                                    深圳市南山区桃源街道珠光科技创新园3栋4楼
                                </p>
                            </div>
                            <div class="num">
                                <p>
                                    500亩 荔枝
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <img src="img/right.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="nameIcon">
                            <img src="img/nameIcon.png" alt="">
                        </div>
                        <div class="farmName">
                            <div class="title">
                                <p>
                                    深圳南山漂亮果园
                                </p>
                            </div>
                            <div class="content">
                                <p>
                                    深圳市南山区桃源街道珠光科技创新园3栋4楼
                                </p>
                            </div>
                            <div class="num">
                                <p>
                                    500亩 荔枝
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <img src="img/right.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="nameIcon">
                            <img src="img/nameIcon.png" alt="">
                        </div>
                        <div class="farmName">
                            <div class="title">
                                <p>
                                    深圳南山漂亮果园
                                </p>
                            </div>
                            <div class="content">
                                <p>
                                    深圳市南山区桃源街道珠光科技创新园3栋4楼
                                </p>
                            </div>
                            <div class="num">
                                <p>
                                    500亩 荔枝
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <img src="img/right.png" alt="">
                        </div>
                    </li>
                </ul>
                <div class="addMoreFarm">
                    <img src="img/addMoreFarm.png" alt="">
                </div>
            </section>
        </div>
    </div>
    <script type="text/javascript" src="../../../js/jquery.js"></script>
    <script type="text/javascript" src="../../../js/iscroll.js"></script>
    <script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
    <script type="text/javascript" src="../../../js/tool.js"></script>
</body>

</html>