@rem: 750/16rem;

html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
}

header {
  width: 750 / @rem;
  height: 88 / @rem;
  background: linear-gradient(
    29deg,
    rgba(27, 157, 225, 1),
    rgba(63, 190, 241, 1)
  );
  div {
    float: left;
    height: 88 / @rem;
    &.left {
      width: 75 / @rem;
      line-height: 88 / @rem;
      a {
        display: inline-block;
        .sweep {
          width: 75 / @rem;
          margin-left: 35 / @rem;
          img {
            width: 19 / @rem;
            height: 35 / @rem;
          }
        }
      }
    }
    &.center {
      text-align: center;
      width: 600 / @rem;
      h1 {
        width: 600 / @rem;
        color: #ffffff;
        font-size: 30 / @rem;
        line-height: 88 / @rem;
        text-align: center;
      }
    }
    &.right {
      float: right;
    }
  }
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 88 / @rem;
  bottom: 0 / @rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  #scroller {
    padding-bottom: 113 / @rem;
    section {
      .banner {
        width: 680 / @rem;
        margin: 0 auto;
        .swiper-container {
          overflow: visible;
          .swiper-wrapper {
            .swiper-slide {
              img {
                width: 660 / @rem;
                min-height: 230/@rem;
                margin: 20 / @rem 10 / @rem;
              }
            }
          }
          .swiper-pagination {
            bottom: -8 / @rem;
            span {
              background: #282828;
              &.swiper-pagination-bullet-active {
                width: 50 / @rem;
                border-radius: 30 / @rem;
                background: linear-gradient(
                  29deg,
                  rgba(27, 157, 225, 1),
                  rgba(63, 190, 241, 1)
                );
              }
            }
          }
        }
      }
      .menu {
        padding: 30 / @rem 35 / @rem;
        background-color: #ffffff;
        margin-top: 16 / @rem;
        ul {
          overflow: hidden;
          li {
            float: left;
            width: 25%;
            margin-top: 10 / @rem;
            a {
              div {
                text-align: center;
                img {
                  width: 80 / @rem;
                  height: 80 / @rem;
                }
                p {
                  font-size: 24 / @rem;
                  color: #666666;
                }
              }
            }
          }
        }
      }
      .loanProcess {
        background-color: #ffffff;
        margin-top: 20 / @rem;
        h2 {
          font-size: 28 / @rem;
          font-weight: bold;
          color: rgba(51, 51, 51, 1);
          line-height: 70 / @rem;
          &::before {
            content: "";
            margin-right: 26 / @rem;
            display: inline-block;
            width: 4 / @rem;
            height: 26 / @rem;
            background: url(../img/line.png);
            vertical-align: -4 / @rem;
          }
        }
        .loanProcessImg {
          padding: 35 / @rem;
          img {
            width: 100%;
          }
        }
        .caseOfLoan {
          padding: 10 / @rem 35 / @rem;

          overflow: hidden;
          li {
            float: left;
            width: 220 / @rem;
            margin-right: 10 / @rem;
            padding: 20 / @rem 0 / @rem;
            &:nth-of-type(3n) {
              margin-right: 0;
            }
            div {
              width: 220 / @rem;
              height: 146 / @rem;
              img {
                width: 220 / @rem;
              }
            }
            p {
              padding-top: 30 / @rem;
              color: #333333;
              font-size: 24 / @rem;
              line-height: 30 / @rem;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              letter-spacing: 0px;
            }
          }
        }
      }
    }
  }
  .iScrollVerticalScrollbar {
    .iScrollIndicator {
      opacity: 0;
    }
  }
}

footer {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: #eeeeee solid 1px;
  height: 98 / @rem;
  padding-top: 15 / @rem;
  background-color: #ffffff;
  z-index: 666;
  ul {
    width: 100%;
    li {
      float: left;
      width: 25%;
      text-align: center;
      p {
        font-size: 20 / @rem;
        color: #999999;
      }
      &:first-of-type {
        img {
          width: 56 / @rem;
          height: 48 / @rem;
        }
        p {
          color: #1b9de1;
        }
      }
      &:nth-of-type(2) {
        img {
          width: 36 / @rem;
          height: 45 / @rem;
        }
      }
      &:nth-of-type(3) {
        img {
          width: 36 / @rem;
          height: 45 / @rem;
        }
      }
      &:last-of-type {
        img {
          width: 45 / @rem;
          height: 45 / @rem;
        }
      }
    }
  }
}
