html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #7e8c8d;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
html,
body {
  width: 100%;
}
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: #eeeeee;
}
body header {
  height: 1.87733333rem;
  background-color: #1c9ee1;
}
body header div {
  line-height: 1.87733333rem;
}
body header div.left {
  padding-left: 0.74666667rem;
  width: 20%;
  float: left;
}
body header div.left img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
body header div.center {
  margin-left: -0.74666667rem;
  float: left;
  width: 60%;
  font-size: 0.68266667rem;
  text-align: center;
  color: #ffffff;
}
body header div.right {
  width: 20%;
  float: left;
}
body header a {
  overflow: hidden;
}
body section ul {
  margin-top: 0.42666667rem;
  background-color: #d3d3d3;
}
body section ul li {
  font-size: 0.59733333rem;
  padding: 0 0.74666667rem;
  height: 1.81333333rem;
  line-height: 1.81333333rem;
  background-color: #ffffff;
  color: #666666;
}
body section ul li a p {
  position: relative;
  border-bottom: solid 1px #eeeeee;
}
body section ul li a p::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0.21333333rem;
  transform: translateY(-50%);
  width: 0.29866667rem;
  height: 0.55466667rem;
  background-image: url(../../../../img//arrow-right-blue.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
