<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/changePassword.css">
</head>

<body>
    <header>
        <a href="../accountSecurity/accountSecurity.html">
            <div class="left">
                <img src="../../../img/img/jt.png" alt="jt">
            </div>
        </a>
        <div class="center">
            修改密码
        </div>
        <div class="right">
        </div>
    </header>
    <section>
        <ul>
            <li>
                <p>原密码
                    <input type="password" placeholder="请填写原密码">
                </p>
            </li>
            <li>
                <p>新密码
                    <input type="password" placeholder="请填写原密码">
                </p>
            </li>
            <li>
                <p>确认密码
                    <input type="password" placeholder="请填写原密码">
                </p>
            </li>
        </ul>
    </section>
    <script src="../../../js/jquery.js"></script>
    <script src="../../../js/tool.js"></script>
</body>

</html>