@rem: 750/16rem;
body {
  background-color: #eeeeee;
  header {
    height: 88 / @rem;
    background-color: #1c9ee1;
    div {
      line-height: 88 / @rem;
      &.left {
        padding-left: 35 / @rem;
        width: 20%;
        float: left;
        img {
          width: 19 / @rem;
          height: 35 / @rem;
        }
      }
      &.center {
        margin-left: -35 / @rem;
        float: left;
        width: 60%;
        font-size: 32 / @rem;
        text-align: center;
        color: #ffffff;
      }
      &.right {
        width: 20%;
        float: left;
      }
    }
    a {
      overflow: hidden;
    }
  }
  section {
    margin-top: 20 / @rem;
    ul {
      li {
        background-color: #ffffff;
        padding: 0 35 / @rem;
        &:last-of-type {
          p {
            border-bottom: none;
          }
        }
        p {
          overflow: hidden;
          height: 87 / @rem;
          line-height: 87 / @rem;
          border-bottom: solid 1px #eeeeee;
          font-size: 28 / @rem;
          color: #666666;
          input {
            font-size: 28 / @rem;
            color: #999999;
            text-align: right;
            float: right;
            height: 87 / @rem;
            line-height: 87 / @rem;
            outline: none;
            &::placeholder {
              font-size: 28 / @rem;
              color: #999999;
            }
          }
        }
      }
    }
  }
}
