body {
  background-color: #eeeeee;
}
body header {
  height: 1.87733333rem;
  background-color: #1c9ee1;
}
body header div {
  line-height: 1.87733333rem;
}
body header div.left {
  padding-left: 0.74666667rem;
  width: 20%;
  float: left;
}
body header div.left img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
body header div.center {
  margin-left: -0.74666667rem;
  float: left;
  width: 60%;
  font-size: 0.68266667rem;
  text-align: center;
  color: #ffffff;
}
body header div.right {
  width: 20%;
  float: left;
}
body header a {
  overflow: hidden;
}
body section {
  margin-top: 0.42666667rem;
}
body section ul li {
  background-color: #ffffff;
  padding: 0 0.74666667rem;
}
body section ul li:last-of-type p {
  border-bottom: none;
}
body section ul li p {
  overflow: hidden;
  height: 1.856rem;
  line-height: 1.856rem;
  border-bottom: solid 1px #eeeeee;
  font-size: 0.59733333rem;
  color: #666666;
}
body section ul li p input {
  font-size: 0.59733333rem;
  color: #999999;
  text-align: right;
  float: right;
  height: 1.856rem;
  line-height: 1.856rem;
  outline: none;
}
body section ul li p input::placeholder {
  font-size: 0.59733333rem;
  color: #999999;
}
