/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom */
a {
  color: #7e8c8d;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
html,
body {
  width: 100%;
}
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
}
header {
  position: absolute;
  width: 100%;
  height: 1.87733333rem;
  z-index: 100;
  background: linear-gradient(-90deg, #1ea0e3, #32b5ee, #35bcf0);
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 1.6rem;
  line-height: 1.87733333rem;
}
header div.left a {
  display: inline-block;
}
header div.left a .sweep {
  width: 1.6rem;
  margin-left: 0.74666667rem;
}
header div.left a .sweep img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
header div.center {
  width: 12.8rem;
  text-align: center;
  line-height: 1.87733333rem;
  font-size: 0.68266667rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #ffffff;
}
section #container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}
section #container .amap-copyright {
  visibility: hidden !important;
}
section .wrap {
  position: absolute;
  left: 0.74666667rem;
  top: 2.77333333rem;
  z-index: 999;
  background-color: #ffffff;
  width: 14.50666667rem;
  height: 8.53333333rem;
  box-shadow: 0 0.04266667rem 0.36266667rem 0.064rem rgba(22, 20, 20, 0.15);
  border-radius: 0.21333333rem;
}
section .wrap .top {
  padding: 0 0.74666667rem;
}
section .wrap .top p {
  color: #666666;
  font-size: 0.55466667rem;
  line-height: 0.85333333rem;
  padding: 0.21333333rem 0 0.21333333rem;
}
section .wrap .top p:first-of-type {
  color: #333333;
  border-bottom: solid #eeeeee 0.04266667rem;
  line-height: 0.85333333rem;
}
section .wrap .top p img {
  margin-right: 0.21333333rem;
  width: 0.55466667rem;
  height: 0.55466667rem;
  vertical-align: -0.08533333rem;
}
section .wrap .main {
  left: 0;
  top: 0;
  z-index: 1000;
}
