body {
  background-color: #eeeeee;
}
body header {
  height: 1.87733333rem;
  background-color: #1c9ee1;
}
body header div {
  line-height: 1.87733333rem;
}
body header div.left {
  padding-left: 0.74666667rem;
  width: 20%;
  float: left;
}
body header div.left img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
body header div.center {
  margin-left: -0.74666667rem;
  float: left;
  width: 60%;
  font-size: 0.68266667rem;
  text-align: center;
  color: #ffffff;
}
body header div.right {
  width: 20%;
  float: left;
}
body header a {
  overflow: hidden;
}
body section ul {
  margin-top: 0.42666667rem;
  background-color: #d3d3d3;
}
body section ul li {
  font-size: 0.59733333rem;
  padding: 0 0.74666667rem;
  height: 1.81333333rem;
  line-height: 1.81333333rem;
  background-color: #ffffff;
  color: #666666;
}
body section ul li a p {
  border-bottom: solid 1px #eeeeee;
  overflow: hidden;
}
body section ul li a p i {
  display: block;
  float: right;
}
body section ul li a p i img {
  width: 0.34133333rem;
  height: 0.576rem;
}
