html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #7e8c8d;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
html,
body {
  width: 100%;
}
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.loginPrompt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.2);
}
.loginPrompt .pro {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10.66666667rem;
  height: 6.82666667rem;
  background: #fff;
  border-radius: 0.21333333rem;
  overflow: hidden;
  box-shadow: 0px 0.04266667rem 0.34133333rem 0.08533333rem rgba(51, 51, 51, 0.2);
}
.loginPrompt .pro p {
  text-align: center;
  line-height: 1.49333333rem;
}
.loginPrompt .pro p:first-of-type {
  padding-top: 0.85333333rem;
  font-size: 0.59733333rem;
  color: #333;
}
.loginPrompt .pro p:last-of-type {
  font-size: 0.55466667rem;
  color: #666;
}
.loginPrompt .pro .bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.92rem;
  line-height: 1.92rem;
  border-top: solid 0.04266667rem #eee;
  font-size: 0.55466667rem;
}
.loginPrompt .pro .bottom div {
  float: left;
  width: 50%;
  text-align: center;
  height: 1.92rem;
  box-sizing: border-box;
}
.loginPrompt .pro .bottom div.left {
  color: #999;
}
.loginPrompt .pro .bottom div.right {
  color: #fff;
  background: #27a6e6;
}
.ljb-tip {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.ljb-tip span {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  padding: 0.42666667rem;
  background: #999;
  font-size: 0.59733333rem;
  border-radius: 0.21333333rem;
  color: #fff;
}
body {
  background-color: #eeeeee;
}
body header {
  position: relative;
  height: 1.87733333rem;
  background-color: #1c9ee1;
}
body header .center {
  position: absolute;
  left: 50%;
  line-height: 1.87733333rem;
  transform: translateX(-50%);
  font-size: 0.68266667rem;
  color: #ffffff;
}
body menu {
  border-bottom: solid 1px #eeeeee;
}
body menu .top {
  width: 100%;
  background-color: #ffffff;
}
body menu .top ul {
  height: 1.728rem;
  overflow: hidden;
  margin: 0 0.74666667rem;
  width: 90%;
}
body menu .top ul li {
  line-height: 1.70666667rem;
  text-align: center;
  width: 20%;
  float: left;
  font-size: 0.512rem;
  color: #999999;
}
body menu .top ul li.active span {
  display: inline-block;
  color: #22a3e5;
  border-bottom: solid 2px #22a3e5;
  line-height: 1.70666667rem;
}
body #wrapper {
  position: absolute;
  z-index: 1;
  top: 3.66933333rem;
  bottom: 2.13333333rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
body #wrapper #scroller {
  padding-bottom: 2.13333333rem;
}
body #wrapper #scroller section .bottom .line {
  width: 100%;
  height: 0.42666667rem;
}
body #wrapper #scroller section .bottom .lis {
  background-color: #ffffff;
  padding: 0 0.74666667rem;
  height: 3.712rem;
  overflow: hidden;
  padding: 0.64rem 0.74666667rem;
}
body #wrapper #scroller section .bottom .lis .left {
  float: left;
  width: 5.54666667rem;
  height: 3.712rem;
  overflow: hidden;
}
body #wrapper #scroller section .bottom .lis .left img {
  width: 100%;
}
body #wrapper #scroller section .bottom .lis .right {
  width: 56%;
  margin-left: 0.64rem;
  float: left;
}
body #wrapper #scroller section .bottom .lis .right h2 {
  font-size: 0.59733333rem;
  position: relative;
}
body #wrapper #scroller section .bottom .lis .right h2 span {
  position: absolute;
  right: 0;
  top: 0;
}
body #wrapper #scroller section .bottom .lis .right p {
  width: 100%;
  font-size: 0.46933333rem;
  color: #999999;
  line-height: 0.78933333rem;
}
body #wrapper #scroller section .bottom .lis .right p.maxRight {
  text-align: right;
  font-size: 0.512rem;
}
body #wrapper #scroller section .bottom .lis .right p.maxRight span {
  font-size: 0.64rem;
  color: #ff0000;
}
body #wrapper #scroller section .bottom .lis .right p span.minRight {
  float: right;
  font-size: 0.512rem;
}
body #wrapper #scroller section .bottom .lis .right p span.blue {
  color: #1d9fe2;
}
body #wrapper #scroller section .bottom .lis .right p span.gray {
  color: #999999;
}
body #wrapper #scroller section .bottom .lis .right p span.red {
  color: #ff4e00;
}
body #wrapper #scroller section p.loadingTxt {
  font-size: 0.59733333rem;
  text-align: center;
  color: #666666;
  line-height: 2;
}
body footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  background-color: #ffffff;
  overflow: hidden;
  border-top: solid 1px #eeeeee;
  height: 2.13333333rem;
  padding: 0.21333333rem 0;
}
body footer .foot {
  width: 4rem;
  float: left;
  text-align: center;
  padding: 5px 0;
}
body footer .foot .ft {
  width: 1.23733333rem;
  height: 1.23733333rem;
  margin: 0 auto;
}
body footer .foot .ft img {
  width: 1.23733333rem;
  height: 1.23733333rem;
}
body footer .foot p {
  padding-top: 0.17066667rem;
  font-size: 0.42666667rem;
  text-align: center;
  color: #999;
}
body .masked {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
}
body .masked.maskeds {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}
body .personalCente {
  overflow: hidden;
  height: 100%;
  width: 11.52rem;
  position: absolute;
  top: 0;
  left: -11.52rem;
  z-index: 100;
  background-color: #ffffff;
  transition: 1s;
}
body .personalCente.peractive {
  left: 0;
}
body .personalCente .personalCente_header {
  height: 5.12rem;
  width: 11.52rem;
  background: url("../../../../img/userbg.png") no-repeat;
  background-size: 100%;
}
body .personalCente .personalCente_header .user {
  padding-top: 1.28rem;
  overflow: hidden;
  height: 1.87733333rem;
}
body .personalCente .personalCente_header .user .user_logo {
  width: 1.28rem;
  height: 1.28rem;
  float: left;
  margin-left: 0.53333333rem;
  border-radius: 50%;
  overflow: hidden;
}
body .personalCente .personalCente_header .user .user_logo img {
  width: 1.28rem;
  height: 1.28rem;
}
body .personalCente .personalCente_header .user .user_name {
  float: left;
  font-size: 0.72533333rem;
  color: #ffffff;
  line-height: 1.28rem;
  margin-left: 0.42666667rem;
}
body .personalCente .personalCente_header .user .user_quit {
  float: right;
  margin-right: 0.53333333rem;
  width: 0.98133333rem;
  height: 0.81066667rem;
  padding-top: 0.17066667rem;
}
body .personalCente .personalCente_header .user .user_quit img {
  width: 0.98133333rem;
  height: 0.81066667rem;
}
body .personalCente .personalCente_header .user_personalized {
  font-size: 0.46933333rem;
  color: #ffffff;
  margin-left: 2.24rem;
}
body .personalCente .personalCente_header .user_personalized p {
  word-break: break-all;
  word-wrap: break-word;
  width: 8.10666667rem;
  line-height: 0.64rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  letter-spacing: 1px;
  min-height: 1.87733333rem;
}
body .personalCente .personalCente_content ul li .me {
  height: 3.52rem;
  padding-left: 0.74666667rem;
}
body .personalCente .personalCente_content ul li .me .top {
  position: relative;
  padding-top: 0.85333333rem;
}
body .personalCente .personalCente_content ul li .me span {
  font-size: 0.64rem;
  color: #333333;
  position: relative;
  margin-left: 0.85333333rem;
}
body .personalCente .personalCente_content ul li .me span::before {
  content: "";
  position: absolute;
  left: -0.896rem;
  top: 0.04266667rem;
  display: block;
  width: 0.72533333rem;
  height: 0.72533333rem;
  background-image: url(../../../../img/icon/sc.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
body .personalCente .personalCente_content ul li .me.active {
  background: #eeeeee;
}
body .personalCente .personalCente_content ul li .me.active .top span::before {
  background-image: url(../../../../img/icon/sc_pre.png);
}
body .personalCente .personalCente_content ul li p {
  font-size: 0.512rem;
  color: #999999;
  line-height: 0.85333333rem;
  margin-left: 0.85333333rem;
}
body .personalCente .personalCente_content ul li:first-of-type .me .top span::before {
  background-image: url(../../../../img/icon/sc.png);
}
body .personalCente .personalCente_content ul li:first-of-type .me.active {
  background: #eeeeee;
}
body .personalCente .personalCente_content ul li:first-of-type .me.active .top span::before {
  background-image: url(../../../../img/icon/sc_pre.png);
}
body .personalCente .personalCente_content ul li:nth-of-type(2) .me .top span::before {
  background-image: url(../../../../img/icon/zh.png);
}
body .personalCente .personalCente_content ul li:nth-of-type(2) .me.active {
  background: #eeeeee;
}
body .personalCente .personalCente_content ul li:nth-of-type(2) .me.active .top span::before {
  background-image: url(../../../../img/icon/zh_pre.png);
}
body .personalCente .personalCente_content ul li:nth-of-type(3) .me .top span::before {
  background-image: url(../../../../img/icon/grzl.png);
}
body .personalCente .personalCente_content ul li:nth-of-type(3) .me.active {
  background: #eeeeee;
}
body .personalCente .personalCente_content ul li:nth-of-type(3) .me.active .top span::before {
  background-image: url(../../../../img/icon/grzl_pre.png);
}
body .personalCente .personalCente_content ul li:nth-of-type(4) .me .top span::before {
  background-image: url(../../../../img/icon/nc.png);
}
body .personalCente .personalCente_content ul li:nth-of-type(4) .me.active {
  background: #eeeeee;
}
body .personalCente .personalCente_content ul li:nth-of-type(4) .me.active .top span::before {
  background-image: url(../../../../img/icon/nc_pre.png);
}
body .personalCente .personalCente_content ul li:nth-of-type(5) .me .top span::before {
  background-image: url(../../../../img/icon/sz.png);
}
body .personalCente .personalCente_content ul li:nth-of-type(5) .me.active {
  background: #eeeeee;
}
body .personalCente .personalCente_content ul li:nth-of-type(5) .me.active .top span::before {
  background-image: url(../../../../img/icon/sz_pre.png);
}
body .personalCente .personalCente_content ul li:nth-of-type(6) .me .top span::before {
  background-image: url(../../../../img/icon/gy.png);
}
body .personalCente .personalCente_content ul li:nth-of-type(6) .me.active {
  background: #eeeeee;
}
body .personalCente .personalCente_content ul li:nth-of-type(6) .me.active .top span::before {
  background-image: url(../../../../img/icon/gy_pre.png);
}
