body {
  background-color: #eeeeee;
}
body header {
  height: 1.87733333rem;
  background-color: #1c9ee1;
}
body header div {
  line-height: 1.87733333rem;
}
body header div.left {
  padding-left: 0.74666667rem;
  width: 10%;
  float: left;
}
body header div.left img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
body header div.center {
  margin-left: -0.74666667rem;
  float: left;
  width: 80%;
  font-size: 0.68266667rem;
  text-align: center;
  color: #ffffff;
}
body header a {
  overflow: hidden;
}
body menu {
  border-bottom: solid 1px #eeeeee;
}
body menu .top {
  width: 100%;
  background-color: #ffffff;
}
body menu .top ul {
  height: 1.728rem;
  overflow: hidden;
  margin: 0 0.74666667rem;
  width: 90%;
}
body menu .top ul li {
  line-height: 1.70666667rem;
  text-align: center;
  width: 20%;
  float: left;
  font-size: 0.512rem;
  color: #999999;
}
body menu .top ul li.active span {
  display: inline-block;
  color: #22a3e5;
  border-bottom: solid 2px #22a3e5;
  line-height: 1.70666667rem;
}
body #wrapper {
  position: absolute;
  z-index: 1;
  top: 3.66933333rem;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
body #wrapper #scroller {
  padding-bottom: 1.06666667rem;
}
body #wrapper #scroller section .bottom .line {
  width: 100%;
  height: 0.42666667rem;
}
body #wrapper #scroller section .bottom .lis {
  background-color: #ffffff;
  padding: 0 0.74666667rem;
  height: 3.712rem;
  overflow: hidden;
  padding: 0.64rem 0.74666667rem;
}
body #wrapper #scroller section .bottom .lis .left {
  float: left;
  width: 5.54666667rem;
  height: 3.712rem;
  overflow: hidden;
}
body #wrapper #scroller section .bottom .lis .left img {
  width: 100%;
}
body #wrapper #scroller section .bottom .lis .right {
  width: 56%;
  margin-left: 0.64rem;
  float: left;
}
body #wrapper #scroller section .bottom .lis .right h2 {
  font-size: 0.59733333rem;
  position: relative;
}
body #wrapper #scroller section .bottom .lis .right h2 span {
  position: absolute;
  right: 0;
  top: 0;
}
body #wrapper #scroller section .bottom .lis .right p {
  width: 100%;
  font-size: 0.46933333rem;
  color: #999999;
  line-height: 0.78933333rem;
}
body #wrapper #scroller section .bottom .lis .right p.maxRight {
  text-align: right;
  font-size: 0.512rem;
}
body #wrapper #scroller section .bottom .lis .right p.maxRight span {
  font-size: 0.64rem;
  color: #ff0000;
}
body #wrapper #scroller section .bottom .lis .right p span.minRight {
  float: right;
  font-size: 0.512rem;
}
body #wrapper #scroller section .bottom .lis .right p span.blue {
  color: #1d9fe2;
}
body #wrapper #scroller section .bottom .lis .right p span.gray {
  color: #999999;
}
body #wrapper #scroller section .bottom .lis .right p span.red {
  color: #ff4e00;
}
body #wrapper #scroller section p.loadingTxt {
  font-size: 0.59733333rem;
  text-align: center;
  color: #666666;
  line-height: 2;
}
