<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>悦农通</title>
    <link rel="Shortcut Icon" href="../../../img/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/maize.css">
    <script>
        (function () {
            var width = document.documentElement.clientWidth;
            var style = document.createElement("style");
            style.innerHTML = "html{font-size: " + width / 16 + "px !important;}";
            document.head.appendChild(style);
        })();
    </script>
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="self.location = document.referrer;">
                <div class="sweep">
                    <img src="../../../img/return.png" alt />
                </div>
            </a>
        </div>
        <div class="center">
            <h1 id="title"></h1>
        </div>
        <div class="right">
            <div class="alarm">
            </div>
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="line">
                </div>
                <div id="banner" class="banner">
                </div>
                <div class="line">
                </div>
                <div class="insurance1">
                    <div class="insurance_title">
                        <h3 id="h3">
                        </h3>
                        <h4>产品特点：</h4>
                        <div id="list" class="list">
                        </div>
                    </div>
                </div>
                <div class="line">
                </div>
                <div class="insurance2">
                    <div class="insurance_title">
                        <p>承保作物:
                            <span id="toubaowu"></span>
                        </p>
                        <p>保障期限:
                            <span id="term"></span>
                        </p>
                        <p>销售区域:
                            <span id="areaName"></span>
                        </p>
                        <p>保险公司:
                            <span id="companyName"></span>
                        </p>
                    </div>
                </div>
                <div class="line">
                </div>
                <div class="insurance3">
                    <div class="insurance_title">
                        <h3>产品方案:</h3>
                        <p id="scheme">在保险期间内，保险玉米因发生保险事故造成部分损失的， 保险人在赔偿时实施10%的绝对免赔率。</p>
                        <h3>保障责任:</h3>
                        <p id="responsibility">在保险期间内，保险玉米因发生保险事故造成部分损失的， 保险人在赔偿时实施10%的绝对免赔率。</p>
                        <h3>保障额度:</h3>
                        <p>
                            <span id="baoE" class="bzed">-</span>
                            <span>元</span>
                            <span>/</span>
                            <span>亩</span>
                        </p>
                        <h3>保费:</h3>
                        <p>
                            <span id="cost" class="bf">-</span>
                            <span>元</span>
                            <span>/</span>
                            <span>亩</span>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer>
        <div class="left">
            <div id="sc" class=" tc img_right">
                <img id="scImg" src="../../../img/heart.png" alt="" srcset="" />
                <p>收藏</p>
            </div>
        </div>
        <div id="insure" class=" tc right">
            立即投保
        </div>
    </footer>
</body>
<script src="../../../js/jquery.js"></script>
<script src="../../../js/iscroll.js"></script>
<script src="../../../js/loaded_iscroll.js"></script>
<script src="../../../js/tool.js"></script>
<script src="js/maize.js"></script>

</html>
<script>

</script>