<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>maize</title>
    <script src="../../../js/jquery.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script> -->
    <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css">
    <script src="../../../js/swiper.3.4.2.min.js"></script>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/maize.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="../zxtb/zxtb.html">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1>喀左县玉米干旱指数保险</h1>
        </div>
        <div class="right">
            <div class="alarm">
            </div>
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="line">

                </div>
                <div class="banner">
                    <img src="img/banner.png" alt="banner@2x">
                </div>
                <div class="line">

                </div>
                <div class="insurance1">
                    <div class="insurance_title">
                        <h3>喀左县玉米干旱指数保险
                            <img src="img/jingxuan@2x.png" alt="jingxuan">
                            <img src="img/rexiao@2x.png" alt="rexiao">
                        </h3>
                        <h4>产品特点：</h4>
                        <p>1.本产品针对长期种植玉米的农户，保障农户玉米收到干旱 的损失。</p>
                        <p>2.本产品有这良好的赔利，可以大大的减少农户的损失。</p>
                    </div>
                </div>
                <div class="line">

                </div>
                <div class="insurance2">
                    <div class="insurance_title">
                        <p>承保作物:
                            <span>玉米</span>
                        </p>
                        <p>保障期限:
                            <span>2017.12.20-2018.5.30</span>
                        </p>
                        <p>销售区域:
                            <span>辽宁省朝阳市</span>
                        </p>
                    </div>
                </div>
                <div class="line">

                </div>
                <div class="insurance3">
                    <div class="insurance_title">
                        <h3>产品方案:</h3>
                        <p>在保险期间内，保险玉米因发生保险事故造成部分损失的， 保险人在赔偿时实施10%的绝对免赔率。</p>
                        <h3 class="title">保障责任:</h3>
                        <p>在保险期间内，保险玉米因发生保险事故造成部分损失的， 保险人在赔偿时实施10%的绝对免赔率。</p>
                        <h3>保额:</h3>
                        <p>在保险期间内，保险玉米因发生保险事故造成部分损失的， 保险人在赔偿时实施10%的绝对免赔率。</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer>
        <div class="left">
            <div class="img_left">
                <img src="img/kefu7@2x.png" alt="kefu7">
                <span>客服</span>
            </div>
            <div class="img_right">
                <img src="img/service@2x.png" alt="" srcset="">
                <span>收藏</span>
            </div>
        </div>
        <a href="../insure/insure.html">
            <div id="insure" class="right">
                立即投保
            </div>
        </a>

    </footer>
</body>
<script src="../../../js/iscroll.js"></script>
<script src="../../../js/loaded_iscroll.js"></script>
<script src="../../../js/tool.js"></script>

</html>
<script>
    $(document).on("click", "#insure", function () {
        localStorage.setItem("msg", null)
    })
</script>