html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
}
header {
  width: 16rem;
  height: 1.87733333rem;
  background: #1c9ee1;
  overflow: hidden;
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 1.6rem;
  line-height: 1.87733333rem;
}
header div.left a {
  display: inline-block;
}
header div.left a .sweep {
  width: 1.6rem;
  margin-left: 0.74666667rem;
}
header div.left a .sweep img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
header div.center {
  text-align: center;
  width: 12.8rem;
}
header div.center h1 {
  width: 12.8rem;
  color: #ffffff;
  font-size: 0.64rem;
  line-height: 1.87733333rem;
  text-align: center;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 1.89866667rem;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper #scroller {
  padding: 0.64rem 0.64rem;
}
#wrapper #scroller section {
  padding-top: 0.64rem;
  background-color: #ffffff;
  border-radius: 0.21333333rem;
}
#wrapper #scroller section .supplyAndDemand-text {
  margin-top: 0.42666667rem;
}
#wrapper #scroller section .supplyAndDemand-text:first-of-type {
  margin-top: 0;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-title {
  overflow: hidden;
  padding: 0 0.64rem;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-title div {
  float: left;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-title div.left {
  width: 1.45066667rem;
  height: 1.45066667rem;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-title div.left img {
  width: 1.45066667rem;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-title div.center {
  padding-left: 0.34133333rem;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-title div.center p {
  font-size: 0.55466667rem;
  color: #333333;
  font-weight: 500;
  line-height: 0.64rem;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-title div.center p span {
  display: inline-block;
  font-size: 0.34133333rem;
  color: #ffffff;
  background-color: #1c9ee1;
  transform: scale(0.8) translateX(-12%);
  border-radius: 0.512rem;
  padding: 0.128rem 0.34133333rem;
  letter-spacing: 0.064rem;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-title div.right {
  float: right;
  font-size: 0.34133333rem;
  color: #999999;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-content {
  font-size: 0.55466667rem;
  padding: 0.32rem 0.64rem;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-content p {
  line-height: 0.85333333rem;
  color: #333333;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-content p:last-of-type {
  color: #666666;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-img {
  padding: 0 0.64rem;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-img ul {
  overflow: hidden;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-img ul li {
  width: 6.29333333rem;
  height: 4.11733333rem;
  float: left;
  overflow: hidden;
  margin-right: 0.64rem;
  margin-bottom: 0.64rem;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-img ul li:nth-of-type(2n) {
  margin-right: 0;
}
#wrapper #scroller section .supplyAndDemand-text .supplyAndDemand-text-img ul li img {
  width: 6.29333333rem;
}
#wrapper #scroller section .bottom {
  overflow: hidden;
  height: 1.96266667rem;
  line-height: 1.96266667rem;
}
#wrapper #scroller section .bottom div {
  float: left;
  width: 50%;
  text-align: center;
  color: #999999;
  font-size: 0.55466667rem;
  border-top: solid 0.04266667rem #eeeeee;
}
#wrapper #scroller section .bottom div img {
  width: 0.576rem;
  margin-right: 0.32rem;
  vertical-align: middle;
}
#wrapper #scroller section .bottom div:first-of-type {
  border-right: solid 0.04266667rem #eeeeee;
  margin-left: -0.04266667rem;
}
#wrapper #scroller section .bottom div:first-of-type img {
  vertical-align: -0.04266667rem;
}
#wrapper .iScrollVerticalScrollbar .iScrollIndicator {
  opacity: 0;
}
