<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onClick="history.back(-1);">
                <img src="img/jt.png" alt="jt">
            </a>
        </div>
        <div class="center">
            我的账单
        </div>
        <div class="left">

        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <ul id="myBillsHTML"></ul>
            </section>
        </div>
    </div>
</body>
<link rel="stylesheet" href="../../../css/reset.css">
<link rel="stylesheet" href="css/myBills.css">
<script src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../../js/iscroll.js"></script>
<script src="../../../../js/loaded_iscroll.js"></script>
<script src="../../../js/tool.js"></script>
<script src="js/myBills.js"></script>

</html>