<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/myBills.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <img src="img/jt.png" alt="jt">
            </a>
        </div>
        <div class="center">
            我的贷款
        </div>
        <div class="left">

        </div>
    </header>
    <menu>
        <div class="left active" data-id="1"><span>正在申请</span></div>
        <div class="right" data-id="2"><span>申请成功</span></div>
    </menu>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <ul id="myBillsHTML"></ul>
            </section>
            <p class="loadingTxt" id="loadingTxt"></p>
        </div>
    </div>
</body>

<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/public.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script type="text/javascript" src="js/myBills.js"></script>

</html>