html,
body {
  overflow: hidden;
}
html header,
body header {
  background: -webkit-linear-gradient(30deg, #1b9de1, #38bbf0, #4dc5f4);
  overflow: hidden;
  height: 1.87733333rem;
  line-height: 1.87733333rem;
}
html header .left,
body header .left {
  float: left;
  width: 10%;
  padding-left: 0.74666667rem;
}
html header .left img,
body header .left img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
html header .center,
body header .center {
  float: left;
  width: 80%;
  margin-left: -0.74666667rem;
  text-align: center;
  color: #ffffff;
  font-size: 0.68266667rem;
}
html section ul,
body section ul {
  padding: 0 0.74666667rem;
}
html section ul li,
body section ul li {
  padding: 0.64rem 0;
  border-bottom: solid #eeeeee 1px;
}
html section ul li .billsTop,
body section ul li .billsTop {
  overflow: hidden;
}
html section ul li .billsTop span,
body section ul li .billsTop span {
  font-size: 0.55466667rem;
}
html section ul li .billsTop span:first-of-type,
body section ul li .billsTop span:first-of-type {
  float: left;
  font-size: 0.68266667rem;
  color: #333333;
}
html section ul li .billsTop span:last-of-type,
body section ul li .billsTop span:last-of-type {
  float: right;
}
html section ul li .billsTop span.huankuan,
body section ul li .billsTop span.huankuan {
  color: #20a0e3;
}
html section ul li .billsTop span.weihuankuan,
body section ul li .billsTop span.weihuankuan {
  color: #e62b2b;
}
html section ul li .billsBottom,
body section ul li .billsBottom {
  padding-top: 0.53333333rem;
  overflow: hidden;
  color: #666666;
}
html section ul li .billsBottom span,
body section ul li .billsBottom span {
  font-size: 0.512rem;
}
html section ul li .billsBottom span:first-of-type,
body section ul li .billsBottom span:first-of-type {
  float: left;
}
html section ul li .billsBottom span:last-of-type,
body section ul li .billsBottom span:last-of-type {
  float: right;
}
html section ul li .billsBottom span:last-of-type img,
body section ul li .billsBottom span:last-of-type img {
  vertical-align: -13%;
  width: 0.512rem;
  height: 0.512rem;
}
