html,
body {
  height: 100%;
  background-color: #eeeeee;
}
header {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 1.87733333rem;
  background: #1c9ee1;
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 1.6rem;
  line-height: 1.87733333rem;
}
header div.left a .sweep {
  width: 1.6rem;
  margin-left: 0.74666667rem;
}
header div.left a .sweep img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
header div.center {
  text-align: center;
  width: 12.8rem;
}
header div.center h1 {
  width: 12.8rem;
  color: #ffffff;
  font-size: 0.68266667rem;
  line-height: 1.87733333rem;
  text-align: center;
}
header div.right {
  float: right;
  width: 1.6rem;
  line-height: 1.87733333rem;
}
header div.right .alarm {
  margin-right: 0.74666667rem;
  float: right;
  width: 0.61866667rem;
  height: 0.74666667rem;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 45px;
  bottom: 71.5px;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper .iScrollVerticalScrollbar {
  display: none;
}
#wrapper #scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
#wrapper #scroller .line {
  width: 100%;
  height: 0.42666667rem;
}
#wrapper #scroller .forms {
  background-color: #ffffff;
  padding: 0.64rem 0.74666667rem;
}
#wrapper #scroller .forms .title {
  width: 100%;
  height: 1.83466667rem;
  line-height: 1.83466667rem;
  font-size: 0.59733333rem;
  color: #333333;
}
#wrapper #scroller .forms .title span {
  margin-left: 0.85333333rem;
}
#wrapper #scroller .forms .title span img {
  width: 0.59733333rem;
  height: 0.59733333rem;
  vertical-align: -0.08533333rem;
}
#wrapper #scroller .forms .form_price {
  height: 0.85333333rem;
  border-bottom: solid 1px #eeeeee;
  line-height: 1.83466667rem;
  height: 1.83466667rem;
}
#wrapper #scroller .forms .form_price .form_price_box {
  height: 0.85333333rem;
  padding-top: 0.49066667rem;
}
#wrapper #scroller .forms .form_price .form_price_box .form_price_left {
  float: left;
  font-size: 0.59733333rem;
  color: #666666;
  line-height: 0.85333333rem;
}
#wrapper #scroller .forms .form_price .form_price_box .form_price_right {
  font-size: 0;
  line-height: 0.85333333rem;
  float: right;
  margin-right: 0.61866667rem;
}
#wrapper #scroller .forms .form_price .form_price_box .form_price_right span {
  font-size: 0.59733333rem;
  color: #999999;
}
#wrapper #scroller .forms .form_price .form_price_box .form_price_right span:nth-of-type(1) {
  font-size: 0.72533333rem;
  color: #f70101;
}
#wrapper #scroller .forms .form_price .form_price_box .form_price_right span:nth-of-type(2) {
  font-size: 0.59733333rem;
}
#wrapper #scroller .forms .form_price .form_price_box .form_price_right span:nth-of-type(3) {
  font-size: 0.55466667rem;
}
#wrapper #scroller .forms .form_price .form_price_box .form_price_right span:nth-of-type(4) {
  font-size: 0.512rem;
}
#wrapper #scroller .forms .form_number {
  height: 1.83466667rem;
  border-bottom: solid 1px #eeeeee;
}
#wrapper #scroller .forms .form_number .form_number_box {
  height: 0.85333333rem;
  padding-top: 0.49066667rem;
}
#wrapper #scroller .forms .form_number .form_number_box .form_number_left {
  float: left;
  color: #666666;
  line-height: 0.85333333rem;
  font-size: 0.59733333rem;
}
#wrapper #scroller .forms .form_number .form_number_box .form_number_right {
  color: #999999;
  font-size: 0;
  line-height: 0.85333333rem;
  float: right;
}
#wrapper #scroller .forms .form_number .form_number_box .form_number_right span {
  font-size: 0.59733333rem;
}
#wrapper #scroller .forms .form_number .form_number_box .form_number_right img {
  vertical-align: sub;
  margin-left: 0.32rem;
  width: 0.29866667rem;
  height: 0.55466667rem;
}
#wrapper #scroller .forms .form_date {
  height: 1.83466667rem;
  border-bottom: solid 1px #eeeeee;
}
#wrapper #scroller .forms .form_date.form_end {
  border: none;
}
#wrapper #scroller .forms .form_date .form_date_box {
  height: 0.85333333rem;
  padding-top: 0.49066667rem;
}
#wrapper #scroller .forms .form_date .form_date_box .form_date_left {
  float: left;
  font-size: 0.59733333rem;
  color: #666666;
  line-height: 0.85333333rem;
}
#wrapper #scroller .forms .form_date .form_date_box .form_date_right {
  color: #999999;
  font-size: 0;
  line-height: 0.85333333rem;
  float: right;
}
#wrapper #scroller .forms .form_date .form_date_box .form_date_right span {
  font-size: 0.59733333rem;
}
#wrapper #scroller .forms .form_date .form_date_box .form_date_right img {
  vertical-align: sub;
  margin-left: 0.32rem;
  width: 0.29866667rem;
  height: 0.55466667rem;
}
footer {
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer .insure_footer {
  background-color: #ffffff;
  padding: 0.64rem 0.74666667rem;
}
footer .insure_footer input {
  background-color: #1c9ee1;
  width: 14.50666667rem;
  height: 1.77066667rem;
  font-size: 0.59733333rem;
  color: #ffffff;
  border: none;
  outline: none;
}
#insure_wrap {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(51, 51, 51, 0.5);
}
#insure_wrap #insure_inner {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 10.66666667rem;
  height: 10.66666667rem;
  padding: 0 0.64rem 0.85333333rem 0.64rem;
  border-radius: 0.10666667rem;
}
#insure_wrap #insure_inner div {
  border-bottom: solid #eeeeee 1px;
}
#insure_wrap #insure_inner div.insure_play {
  height: 2.048rem;
  line-height: 2.048rem;
  color: #333333;
}
#insure_wrap #insure_inner div.insure_play span {
  font-size: 0.59733333rem;
}
#insure_wrap #insure_inner div.insure_play span:last-of-type {
  float: right;
}
#insure_wrap #insure_inner div.insure_play span:last-of-type img {
  margin-top: 0.96rem;
  width: 0.384rem;
}
#insure_wrap #insure_inner div.insure_play_bottom {
  color: #666666;
}
#insure_wrap #insure_inner div.insure_play_bottom span:first-of-type {
  font-size: 0.59733333rem;
  height: 2.98666667rem;
}
#insure_wrap #insure_inner div.insure_play_bottom span:first-of-type img {
  margin: 0.64rem 0;
  width: 1.70666667rem;
}
#insure_wrap #insure_inner div.insure_play_bottom span:last-of-type {
  margin-left: 0.64rem;
  vertical-align: middle;
  font-size: 0.59733333rem;
  margin-top: -2.56rem;
  display: inline-block;
}
#insure_wrap #insure_inner div.insure_play_bottom:last-of-type {
  border-bottom: 0;
}
#insure_wrap #insure_inner2 {
  display: none;
  padding: 0 0.42666667rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 10.66666667rem;
  height: 10.66666667rem;
  padding: 0 0.64rem 0.85333333rem 0.64rem;
  border-radius: 0.10666667rem;
}
#insure_wrap #insure_inner2 .zhifu {
  text-align: center;
  font-size: 0.59733333rem;
  color: #333333;
  height: 2.048rem;
  line-height: 2.048rem;
}
#insure_wrap #insure_inner2 .zhifu span {
  overflow: hidden;
}
#insure_wrap #insure_inner2 .zhifu span img {
  width: 0.384rem;
  height: 0.384rem;
  float: right;
  margin-top: 0.81066667rem;
}
#insure_wrap #insure_inner2 .mess {
  height: 3.09333333rem;
  border-bottom: solid 1px #eeeeee;
}
#insure_wrap #insure_inner2 .mess div {
  color: #333333;
  text-align: center;
}
#insure_wrap #insure_inner2 .mess div:first-of-type {
  margin-top: 0.64rem;
  font-size: 0.512rem;
}
#insure_wrap #insure_inner2 .mess div:last-of-type {
  margin-top: 0.42666667rem;
  font-size: 0.896rem;
}
#insure_wrap #insure_inner2 .yinhangka {
  height: 1.83466667rem;
  line-height: 1.83466667rem;
  font-size: 0.55466667rem;
  border-bottom: solid 1px #eeeeee;
}
#insure_wrap #insure_inner2 .yinhangka img:first-of-type {
  width: 1.13066667rem;
  height: 0.512rem;
  margin-right: 0.32rem;
}
#insure_wrap #insure_inner2 .yinhangka img:last-of-type {
  float: right;
  margin-top: 0.74666667rem;
  width: 0.256rem;
  height: 0.448rem;
}
#insure_wrap #insure_inner2 .mima {
  height: 3.52rem;
  font-size: 0;
  padding-top: 0.85333333rem;
}
#insure_wrap #insure_inner2 .mima input {
  outline: none;
  text-align: center;
  font-size: 0.896rem;
  width: 1.70666667rem;
  height: 1.6rem;
  border: solid 1px #666666;
  border-right: none;
}
#insure_wrap #insure_inner2 .mima input:first-of-type {
  border-radius: 0.10666667rem 0 0 0.10666667rem;
}
#insure_wrap #insure_inner2 .mima input:last-of-type {
  border-right: solid #666666 1px;
  border-radius: 0 0.10666667rem 0.10666667rem 0;
}
.idTypeWrap {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(51, 51, 51, 0.5);
}
.idTypeWrap .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 12.8rem;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 0.10666667rem;
  font-size: 0.59733333rem;
}
.idTypeWrap .inner li {
  line-height: 1.70666667rem;
  padding: 0 1.28rem;
  color: #333333;
}
.idTypeWrap .inner li:last-of-type p {
  border: none;
}
.idTypeWrap .inner li.active {
  background-color: #1c9ee1;
  color: #ffffff;
}
.idTypeWrap .inner li.active p {
  border: none;
}
.idTypeWrap .inner li p {
  border-bottom: 0.02133333rem solid #eeeeee;
  overflow: hidden;
}
.idTypeWrap .inner li p span {
  padding-right: 0.21333333rem;
  float: left;
}
.idTypeWrap .inner li p img {
  float: right;
  margin-top: 0.55466667rem;
  width: 0.46933333rem;
}
