html,
body {
  height: 100%;
  background-color: #eeeeee;
}
header {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 1.87733333rem;
  background: #1c9ee1;
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 1.6rem;
  line-height: 1.87733333rem;
}
header div.left a .sweep {
  width: 1.6rem;
  margin-left: 0.74666667rem;
}
header div.left a .sweep img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
header div.center {
  text-align: center;
  width: 12.8rem;
}
header div.center h1 {
  width: 12.8rem;
  color: #ffffff;
  font-size: 0.68266667rem;
  line-height: 1.87733333rem;
  text-align: center;
}
header div.right {
  float: right;
  width: 1.6rem;
  line-height: 1.87733333rem;
}
header div.right .alarm {
  margin-right: 0.74666667rem;
  float: right;
  width: 0.61866667rem;
  height: 0.74666667rem;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 45px;
  bottom: 71.5px;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper .iScrollVerticalScrollbar {
  display: none;
}
#wrapper #scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
#wrapper #scroller .line {
  width: 100%;
  height: 0.42666667rem;
}
#wrapper #scroller .forms {
  background-color: #ffffff;
  padding: 0.64rem 0.74666667rem;
}
#wrapper #scroller .forms .title {
  width: 100%;
  height: 1.83466667rem;
  line-height: 1.83466667rem;
  font-size: 0.59733333rem;
  color: #333333;
  overflow: hidden;
}
#wrapper #scroller .forms .title span {
  float: right;
  margin-left: 0.85333333rem;
}
#wrapper #scroller .forms .title span img {
  width: 0.59733333rem;
  height: 0.59733333rem;
  vertical-align: -0.08533333rem;
}
#wrapper #scroller .forms .optionCode {
  display: none;
}
#wrapper #scroller .forms .form {
  height: 0.85333333rem;
  border-bottom: solid 1px #eeeeee;
  line-height: 1.83466667rem;
  height: 1.83466667rem;
}
#wrapper #scroller .forms .form .form_box {
  height: 0.85333333rem;
  padding-top: 0.49066667rem;
}
#wrapper #scroller .forms .form .form_box .form_left {
  float: left;
  font-size: 0.59733333rem;
  color: #666666;
  line-height: 0.85333333rem;
}
#wrapper #scroller .forms .form .form_box .form_right {
  font-size: 0;
  line-height: 0.85333333rem;
  float: right;
  margin-right: 0.61866667rem;
}
#wrapper #scroller .forms .form .form_box .form_right input {
  font-size: 0.59733333rem;
  text-align: right;
  height: 0.85333333rem;
  outline: none;
}
#wrapper #scroller .forms .form .form_box .form_right span {
  font-size: 0.59733333rem;
  color: #999999;
  height: 0.85333333rem;
  line-height: 0.85333333rem;
}
footer {
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer .insure_footer {
  background-color: #ffffff;
  padding: 0.64rem 0.74666667rem;
}
footer .insure_footer input {
  background-color: #1c9ee1;
  width: 14.50666667rem;
  height: 1.77066667rem;
  font-size: 0.59733333rem;
  color: #ffffff;
  border: none;
  outline: none;
}
#insure_wrap {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(51, 51, 51, 0.5);
}
#insure_wrap #insure_inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 0.10666667rem;
  font-size: 0.59733333rem;
  text-align: center;
  color: #666666;
}
#insure_wrap #insure_inner .top {
  line-height: 1.28rem;
}
#insure_wrap #insure_inner .bottom {
  overflow: hidden;
  line-height: 1.28rem;
  width: 8.576rem;
  border-top: 0.04266667rem solid #eeeeee;
}
#insure_wrap #insure_inner .bottom div {
  width: 4.26666667rem;
}
#insure_wrap #insure_inner .bottom div.left {
  float: left;
  border-right: 0.04266667rem solid #eeeeee;
}
#insure_wrap #insure_inner .bottom div.right {
  float: right;
  border-right: none;
}
#insure_wrap #insure_inner .bottom div.active {
  color: #ffffff;
  background-color: #1c9ee1;
}
.idTypeWrap {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(51, 51, 51, 0.5);
}
.idTypeWrap .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 12.8rem;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 0.10666667rem;
  font-size: 0.59733333rem;
}
.idTypeWrap .inner li {
  line-height: 1.70666667rem;
  padding: 0 1.28rem;
  color: #333333;
}
.idTypeWrap .inner li:last-of-type p {
  border: none;
}
.idTypeWrap .inner li.active {
  background-color: #1c9ee1;
  color: #ffffff;
}
.idTypeWrap .inner li.active p {
  border: none;
}
.idTypeWrap .inner li p {
  border-bottom: 0.02133333rem solid #eeeeee;
  overflow: hidden;
}
.idTypeWrap .inner li p span {
  padding-right: 0.21333333rem;
  float: left;
}
.idTypeWrap .inner li p img {
  float: right;
  margin-top: 0.55466667rem;
  width: 0.46933333rem;
}
