html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
}
header {
  position: absolute;
  width: 16rem;
  height: 1.87733333rem;
}
header .header {
  width: 16rem;
  overflow: hidden;
  background: #1c9ee1;
}
header .header div {
  float: left;
  height: 1.87733333rem;
}
header .header div.left {
  width: 1.6rem;
  line-height: 1.87733333rem;
}
header .header div.left a {
  display: inline-block;
}
header .header div.left a .sweep {
  width: 1.6rem;
  margin-left: 0.74666667rem;
}
header .header div.left a .sweep img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
header .header div.center {
  text-align: center;
  width: 12.8rem;
}
header .header div.center h1 {
  width: 12.8rem;
  color: #ffffff;
  font-size: 0.64rem;
  line-height: 1.87733333rem;
  text-align: center;
}
header .header div.right {
  float: right;
  width: 1.6rem;
  line-height: 1.87733333rem;
}
header .header div.right .alarm {
  margin-right: 0.74666667rem;
  float: right;
  width: 0.61866667rem;
  height: 0.74666667rem;
}
header .header div.right .alarm img {
  width: 100%;
}
header .supplyAndDemand {
  background: #1c9ee1;
}
header .supplyAndDemand .supplyAndDemand-title div {
  display: inline-block;
  width: 48%;
  text-align: center;
}
header .supplyAndDemand .supplyAndDemand-title div span {
  line-height: 1.81333333rem;
  padding: 0.512rem 0;
  font-size: 0.512rem;
  color: #d3d3d3;
}
header .supplyAndDemand .supplyAndDemand-title div span.active {
  border-bottom: solid 0.08533333rem #ffffff;
  color: #ffffff;
}
header menu {
  background-color: #ffffff;
  border-bottom: solid 0.08533333rem #eeeeee;
}
header menu ul {
  height: 1.728rem;
}
header menu ul li {
  float: left;
  width: 33%;
  text-align: center;
  font-size: 0.512rem;
  color: #999999;
  line-height: 1.10933333rem;
  padding: 0.32rem 0;
}
header .listtt {
  display: none;
  height: 10.66666667rem;
  background-color: #f5f5f5;
  margin-top: -0.04266667rem;
  position: relative;
  z-index: 999;
}
header .listtt .active span {
  color: #1b9de1;
  border-bottom: #1b9de1 solid 0.04266667rem;
}
header .listtt .Area {
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  background: #f5f5f5;
}
header .listtt .Area .block {
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow-y: auto;
  color: #999999;
}
header .listtt .Area .block.AreaLeft {
  width: 33%;
  float: left;
  /* padding-left: 10px; */
  text-align: center;
  border-right: 1px solid #ebebeb;
}
header .listtt .Area .block.AreaLeft ul li {
  width: 100%;
  padding: 0.32rem 0;
  line-height: 2;
}
header .listtt .Area .block.AreaCenter {
  background: #f5f5f5;
  width: 66%;
  float: left;
  /* padding-left: 10px; */
  text-align: center;
  border-right: 1px solid #e7e7e7;
}
header .listtt .Area .block.AreaCenter ul li {
  width: 100%;
  padding: 0.32rem 0;
  line-height: 2;
}
header .listtt .Area .block.AreaRight {
  background: #f5f5f5;
  width: 33%;
  float: left;
  /* padding-left: 10px; */
  text-align: center;
  display: none;
}
header .listtt .Area .block.AreaRight ul li {
  width: 100%;
  padding: 0.32rem 0;
  line-height: 2;
}
.mask {
  display: none;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  z-index: 333;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 5.41866667rem;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper #scroller {
  padding-bottom: 3.02933333rem;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text {
  padding: 0.64rem 0.74666667rem 0 0.74666667rem;
  margin-top: 0.42666667rem;
  background-color: #ffffff;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text:first-of-type {
  margin-top: 0;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .supplyAndDemand-text-title {
  overflow: hidden;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .supplyAndDemand-text-title div {
  float: left;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .supplyAndDemand-text-title div.left {
  width: 1.45066667rem;
  height: 1.45066667rem;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .supplyAndDemand-text-title div.left img {
  width: 1.45066667rem;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .supplyAndDemand-text-title div.center {
  padding-left: 0.34133333rem;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .supplyAndDemand-text-title div.center p {
  font-size: 0.55466667rem;
  color: #333333;
  font-weight: 500;
  line-height: 0.64rem;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .supplyAndDemand-text-title div.center p span {
  display: inline-block;
  font-size: 0.34133333rem;
  color: #ffffff;
  background-color: #1c9ee1;
  transform: scale(0.8) translateX(-12%);
  border-radius: 0.512rem;
  padding: 0.128rem 0.34133333rem;
  letter-spacing: 0.064rem;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .supplyAndDemand-text-title div.right {
  float: right;
  font-size: 0.34133333rem;
  color: #999999;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .supplyAndDemand-text-content {
  font-size: 0.55466667rem;
  padding: 0.32rem 0;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .supplyAndDemand-text-content p {
  line-height: 0.768rem;
  color: #666666;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .supplyAndDemand-text-content p:last-of-type {
  color: #999999;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .supplyAndDemand-text-img ul {
  overflow: hidden;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .supplyAndDemand-text-img ul li {
  width: 4.69333333rem;
  height: 2.98666667rem;
  float: left;
  overflow: hidden;
  margin-right: 0.21333333rem;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .supplyAndDemand-text-img ul li:last-of-type {
  margin-right: 0;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .supplyAndDemand-text-img ul li img {
  width: 4.69333333rem;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .count p {
  font-size: 0.512rem;
  text-align: right;
  padding: 0.46933333rem 0;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .count p span {
  color: #999999;
  margin-left: 0.40533333rem;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .count p span:first-of-type img {
  width: 0.768rem;
  height: 0.42666667rem;
  vertical-align: 0rem;
  margin-right: 0.17066667rem;
}
#wrapper #scroller section .supplyAndDemand .supplyAndDemand-list .supplyAndDemand-text .count p span:last-of-type img {
  width: 0.64rem;
  height: 0.55466667rem;
  vertical-align: -0.08533333rem;
  margin-right: 0.17066667rem;
}
#wrapper .iScrollVerticalScrollbar .iScrollIndicator {
  opacity: 0;
}
