<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>insure</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/insure.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="#">
                <div id="sweep" class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1>喀左县玉米干旱指数保险</h1>
        </div>
        <div class="right">
            <div class="alarm">
            </div>
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <div class="line">
            </div>
            <div class="forms1 forms">
                <form>
                    <div class="form_price">
                        <div class="form_price_box">
                            <div class="form_price_left">
                                亩单价
                            </div>
                            <div class="form_price_right">
                                <span id="priceDan">9</span>
                                <span>元</span>
                                <span>/</span>
                                <span>亩</span>
                            </div>
                        </div>
                    </div>
                    <div class="acreage optionCode form_number">
                        <div class="form_number_box">
                            <div class="form_number_left">
                                投保亩数
                            </div>
                            <!-- <a href="insureInput.html?ids=number"> -->
                            <div data-id="acreage" class="input form_number_right">
                                <span id="acreage" class="msg" ids="acreage">
                                    <!-- 请输入投保亩数 -->
                                    <!-- 100亩 -->
                                </span>
                                <span></span>
                                <img src="img/jiantou@2x.png" alt="jiantou">
                            </div>
                            <!-- </a> -->
                        </div>
                    </div>
                    <div class="form_price">
                        <div class="form_price_box">
                            <div class="form_price_left">
                                应付总价
                            </div>
                            <div class="form_price_right">
                                <span id="priceSum">900</span>
                                <span>元</span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="term_start optionCode form_date">
                        <div class="form_date_box">
                            <div class="form_date_left">
                                起保日期
                            </div>
                            <div class="form_date_right">
                                <span ids="term_start" id="term_start">2018.02.23</span>
                                <img src="img/jiantou@2x.png" alt="jiantou">
                            </div>
                        </div>
                    </div>
                    <div class="term_end optionCode form_date form_end">
                        <div class="form_date_box">
                            <div class="form_date_left">
                                终保日期
                            </div>
                            <div class="form_date_right">
                                <span ids="term_end">2018.02.23</span>
                                <img src="img/jiantou@2x.png" alt="jiantou">
                            </div>
                        </div>
                    </div>
                    <div class="policy_time optionCode form_date form_end">
                        <div class="form_date_box">
                            <div class="form_date_left">
                                投保日期
                            </div>
                            <div class="form_date_right">
                                <span ids="policy_time">2018.02.23</span>
                                <img src="img/jiantou@2x.png" alt="jiantou">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="line">
            </div>
            <div class="forms2 forms">
                <div class="title">
                    投保人信息
                </div>
                <div class="holder_name optionCode form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            姓名
                        </div>
                        <div data-id="holder_name" class="input form_number_right">
                            <span id="holder_name" class="msg" ids="holder_name">
                            </span>
                            <img src="img/jiantou@2x.png" alt="jiantou">
                        </div>
                    </div>
                </div>
                <div class="optionCode form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            证件类型
                        </div>
                        <!-- <a href="insureInput.html?ids=idType"> -->
                        <div data-id="idType" class="input form_number_right">
                            <span id="idType" class="msg" ids="idType">
                                <!-- 身份证 -->
                            </span>
                            <img src="img/jiantou@2x.png" alt="jiantou">
                        </div>
                        <!-- </a> -->
                    </div>
                </div>
                <div class="holder_id_card optionCode form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            证件号码
                        </div>
                        <!-- <a href="insureInput.html?ids=id"> -->
                        <div data-id="holder_id_card" class="input form_number_right">
                            <span id="holder_id_card" class="msg" ids="holder_id_card">
                                <!-- 4303088199706540195 -->
                            </span>
                            <img src="img/jiantou@2x.png" alt="jiantou">
                        </div>
                        <!-- </a> -->
                    </div>
                </div>
                <div class="holder_phone optionCode form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            手机号码
                        </div>
                        <!-- <a href="insureInput.html?ids=pho"> -->
                        <div data-id="holder_phone" class="input form_number_right">
                            <span id="holder_phone" class="msg" ids="holder_phone">
                                <!-- 15246956315 -->
                            </span>
                            <img src="img/jiantou@2x.png" alt="jiantou">
                        </div>
                        <!-- </a> -->
                    </div>
                </div>
                <div class="holder_address optionCode form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            投保人地址
                        </div>
                        <!-- <a href="insureInput.html?ids=ema"> -->
                        <div data-id="holder_address" class="input form_number_right">
                            <span id="holder_address" class="msg" ids="holder_address">
                                <!-- shandianqiu@163.com -->
                            </span>
                            <img src="img/jiantou@2x.png" alt="jiantou">
                        </div>
                        <!-- </a> -->
                    </div>
                </div>
                <div class="holder_email optionCode form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            电子邮箱
                        </div>
                        <!-- <a href="insureInput.html?ids=ema"> -->
                        <div data-id="holder_email" class="input form_number_right">
                            <span id="holder_email" class="msg" ids="holder_email">
                                <!-- shandianqiu@163.com -->
                            </span>
                            <img src="img/jiantou@2x.png" alt="jiantou">
                        </div>
                        <!-- </a> -->
                    </div>
                </div>

            </div>
            <div class="line">
            </div>
            <div class="forms2 forms">
                <div class="title">
                    受益人信息
                </div>
                <div class="beneficiary_name optionCode form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            姓名
                        </div>
                        <!-- <a href="insureInput.html?ids=name"> -->
                        <div data-id="beneficiary_name" class="input form_number_right">
                            <span id="beneficiary_name" class="msg" ids="beneficiary_name">
                                <!-- 王大锤 -->
                            </span>
                            <img src="img/jiantou@2x.png" alt="jiantou">
                        </div>
                        <!-- </a> -->
                    </div>
                </div>
                <div class="optionCode form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            证件类型
                        </div>
                        <!-- <a href="insureInput.html?ids=idType"> -->
                        <div data-id="beneficiary_idType" class="input form_number_right">
                            <span id="beneficiary_idType" class="msg" ids="beneficiary_idType">
                                <!-- 身份证 -->
                            </span>
                            <img src="img/jiantou@2x.png" alt="jiantou">
                        </div>
                        <!-- </a> -->
                    </div>
                </div>
                <div class="beneficiary_id_card optionCode form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            证件号码
                        </div>
                        <!-- <a href="insureInput.html?ids=id"> -->
                        <div data-id="beneficiary_id_card" class="input form_number_right">
                            <span id="beneficiary_id_card" class="msg" ids="beneficiary_id_card">
                                <!-- 4303088199706540195 -->
                            </span>
                            <img src="img/jiantou@2x.png" alt="jiantou">
                        </div>
                        <!-- </a> -->
                    </div>
                </div>
                <div class="beneficiary_phone optionCode form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            手机号码
                        </div>
                        <!-- <a href="insureInput.html?ids=pho"> -->
                        <div data-id="beneficiary_phone" class="input form_number_right">
                            <span id="beneficiary_phone" class="msg" ids="beneficiary_phone">
                                <!-- 15246956315 -->
                            </span>
                            <img src="img/jiantou@2x.png" alt="jiantou">
                        </div>
                        <!-- </a> -->
                    </div>
                </div>
                <div class="beneficiary_address optionCode form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            受益人地址
                        </div>
                        <!-- <a href="insureInput.html?ids=ben"> -->
                        <div data-id="beneficiary_address" class="input form_number_right">
                            <span id="beneficiary_address" class="msg" ids="beneficiary_address">
                                <!-- 张三 -->
                            </span>
                            <img src="img/jiantou@2x.png" alt="jiantou">
                        </div>
                        <!-- </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="insure_footer">
            <input id="playFooter" type="button" value="立即付款">
        </div>
    </footer>
    <div id="insure_wrap">
        <div id="insure_inner">
            <div class="insure_play">
                <span>请选择您的付款方式</span>
                <span id="insureClose">
                    <img src="img/close.png" alt="close">
                </span>
            </div>
            <div class="insure_play_bottom">
                <span>
                    <img src="img/weixin@2x.png" alt="weixin">
                </span>
                <span>微信支付</span>
            </div>
            <div class="insure_play_bottom">
                <span>
                    <img src="img/zhifu@2x.png" alt="zhifu">
                </span>
                <span>支付宝支付</span>
            </div>
            <div class="insure_play_bottom">
                <span>
                    <img src="img/yinlian@2x.png" alt="yinlian">
                </span>
                <span>银联支付</span>
            </div>
        </div>
        <div id="insure_inner2">
            <div class="zhifu">
                请输入支付密码
                <span><img id="insureClose2" src="img/close.png" alt="close"></span>
            </div>
            <div class="mess">
                <div>喀左县玉米干旱指数保险</div>
                <div>￥<span>900</span>元</div>
            </div>
            <div class="yinhangka">
                <img src="img/bank.png" alt="bank">
                <span>
                    光大银行储蓄卡(8596)
                </span>
                <img src="img/jiantou.png" alt="jiantou">
            </div>
            <div class="mima">
                <input type="password">
                <input type="password">
                <input type="password">
                <input type="password">
                <input type="password">
                <input type="password">
            </div>
        </div>


    </div>
</body>
<script src="../../../js/jquery.js"></script>
<script src="../../../js/public.js"></script>
<script src="../../../js/iscroll.js"></script>
<script src="../../../js/loaded_iscroll.js"></script>
<script src="../../../js/tool.js"></script>
<script src="js/insure.js"></script>

</html>