<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>insure</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/insureInput.css">
</head>

<body>
    <header>
        <div id="historyBack" class="left">
            <!-- <a href="#"> -->
                <!-- <a href="#"> -->
                <div id="sweep" class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            <!-- </a> -->
        </div>
        <div class="center">
            <h1 id="title">请修改名称</h1>
        </div>
        <div class="right">
            <div class="alarm">
            </div>
        </div>
    </header>
    <section>
        <input id="text" type="text" placeholder="请输入投保亩数" value="">
    </section>
</body>
<script src="../../../js/jquery.js"></script>
<script src="../../../js/tool.js"></script>
<script src="js/insureInput.js"></script>

</html>