<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>insure</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/insure.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="#">
                <div id="sweep" class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1>喀左县玉米干旱指数保险</h1>
        </div>
        <div class="right">
            <div class="alarm">
            </div>
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <div class="line">
            </div>
            <div class="forms1 forms">
                <form>
                    <div class="form_price">
                        <div class="form_price_box">
                            <div class="form_price_left">
                                亩单价
                            </div>
                            <div class="form_price_right">
                                <span id="priceDan">9</span>
                                <span>元</span>
                                <span>/</span>
                                <span>亩</span>
                            </div>
                        </div>
                    </div>
                    <div class="form_number">
                        <div class="form_number_box">
                            <div class="form_number_left">
                                投保亩数
                            </div>
                            <a href="insureInput.html?ids=number">
                                <div class="form_number_right">
                                    <span id="number" class="msg" ids="number">
                                        <!-- 请输入投保亩数 -->
                                        <!-- 100亩 -->
                                    </span>
                                    <span></span>
                                    <img src="img/jiantou@2x.png" alt="jiantou">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="form_price">
                        <div class="form_price_box">
                            <div class="form_price_left">
                                应付总价
                            </div>
                            <div class="form_price_right">
                                <span id="priceSum">900</span>
                                <span>元</span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form_date">
                        <div class="form_date_box">
                            <div class="form_date_left">
                                起保日期
                            </div>
                            <div class="form_date_right">
                                <span>2018.02.23</span>
                                <img src="img/jiantou@2x.png" alt="jiantou">
                            </div>
                        </div>
                    </div>
                    <div class="form_date form_end">
                        <div class="form_date_box">
                            <div class="form_date_left">
                                终保日期
                            </div>
                            <div class="form_date_right">
                                <span>2018.02.23</span>
                                <img src="img/jiantou@2x.png" alt="jiantou">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="forms2 forms">
                <div class="title">
                    投保人信息
                </div>
                <div class="form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            姓名
                        </div>
                        <a href="insureInput.html?ids=name">
                            <div class="form_number_right">
                                <span id="name" class="msg" ids="name">
                                    <!-- 王大锤 -->
                                </span>
                                <img src="img/jiantou@2x.png" alt="jiantou">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            证件类型
                        </div>
                        <a href="insureInput.html?ids=idType">
                            <div class="form_number_right">
                                <span id="idType" class="msg" ids="idType">
                                    <!-- 身份证 -->
                                </span>
                                <img src="img/jiantou@2x.png" alt="jiantou">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            证件号码
                        </div>
                        <a href="insureInput.html?ids=id">
                            <div class="form_number_right">
                                <span id="id" class="msg" ids="id">
                                    <!-- 4303088199706540195 -->
                                </span>
                                <img src="img/jiantou@2x.png" alt="jiantou">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            手机号码
                        </div>
                        <a href="insureInput.html?ids=pho">
                            <div class="form_number_right">
                                <span id="pho" class="msg" ids="pho">
                                    <!-- 15246956315 -->
                                </span>
                                <img src="img/jiantou@2x.png" alt="jiantou">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            电子邮箱
                        </div>
                        <a href="insureInput.html?ids=ema">
                            <div class="form_number_right">
                                <span id="ema" class="msg" ids="ema">
                                    <!-- shandianqiu@163.com -->
                                </span>
                                <img src="img/jiantou@2x.png" alt="jiantou">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            承保作物信息
                        </div>
                        <a href="insureInput.html?ids=msg">
                            <div class="form_number_right">
                                <span id="msg" class="msg" ids="msg">
                                    <!-- 100亩玉米地 -->
                                </span>
                                <img src="img/jiantou@2x.png" alt="jiantou">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="form_number">
                    <div class="form_number_box">
                        <div class="form_number_left">
                            受益人信息
                        </div>
                        <a href="insureInput.html?ids=ben">
                            <div class="form_number_right">
                                <span id="ben" class="msg" ids="ben">
                                    <!-- 张三 -->
                                </span>
                                <img src="img/jiantou@2x.png" alt="jiantou">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <footer>
        <div class="insure_footer">
            <input id="playFooter" type="button" value="立即付款">
        </div>
    </footer>
    <div id="insure_wrap">
        <div id="insure_inner">
            <div class="insure_play">
                <span>请选择您的付款方式</span>
                <span id="insureClose">
                    <img src="img/close.png" alt="close">
                </span>
            </div>
            <div class="insure_play_bottom">
                <span>
                    <img src="img/weixin@2x.png" alt="weixin">
                </span>
                <span>微信支付</span>
            </div>
            <div class="insure_play_bottom">
                <span>
                    <img src="img/zhifu@2x.png" alt="zhifu">
                </span>
                <span>支付宝支付</span>
            </div>
            <div class="insure_play_bottom">
                <span>
                    <img src="img/yinlian@2x.png" alt="yinlian">
                </span>
                <span>银联支付</span>
            </div>
        </div>
        <div id="insure_inner2">
            <div class="zhifu">
                请输入支付密码
                <span><img id="insureClose2" src="img/close.png" alt="close"></span>
            </div>
            <div class="mess">
                <div>喀左县玉米干旱指数保险</div>
                <div>￥<span>900</span>元</div>
            </div>
            <div class="yinhangka">
                <img src="img/bank.png" alt="bank">
                <span>
                    光大银行储蓄卡(8596)
                </span>
                <img src="img/jiantou.png" alt="jiantou">
            </div>
            <div class="mima">
                <input type="password">
                <input type="password">
                <input type="password">
                <input type="password">
                <input type="password">
                <input type="password">
            </div>
        </div>


    </div>
</body>
<script src="../../../js/jquery.js"></script>
<script src="../../../js/public.js"></script>
<script src="../../../js/iscroll.js"></script>
<script src="../../../js/loaded_iscroll.js"></script>
<script src="../../../js/tool.js"></script>
<script src="js/insure.js"></script>

</html>