<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>悦农通</title>
    <link rel="Shortcut Icon" href="../../../img/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/insure.css">
    <script>
        (function () {
                var width = document.documentElement.clientWidth;
                var style = document.createElement("style");
                style.innerHTML = "html{font-size: " + width / 16 + "px !important;}";
                document.head.appendChild(style);
            })();
        </script>
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div id="sweep" class="sweep">
                    <img src="../../../img/return.png" alt="sweep" />
                </div>
            </a>
        </div>
        <div class="center">
            <h1 id="title"></h1>
        </div>
        <div class="right">
            <div class="alarm">
            </div>
        </div>
    </header>
    <div id="wrapper">
        <div id="scroll">
            <div class="line">
            </div>
            <div class="forms">
                <form>
                    <div class="danjia optionCode form">
                        <div class="form_box">
                            <div class="form_left">
                                亩单价
                            </div>
                            <div class="form_right">
                                <span id="danjia"></span>
                                <span>元</span>
                                <span>/</span>
                                <span>亩</span>
                            </div>
                        </div>
                    </div>

                    <div class="acreage optionCode form">
                        <div class="form_box">
                            <div class="form_left">
                                投保亩数
                            </div>
                            <div data-id="acreage" class="input form_right">
                                <input id="acreage" type="text" placeholder="请输入亩数" />
                            </div>
                        </div>
                    </div>
                    <div class="zongjia optionCode form">
                        <div class="form_box">
                            <div class="form_left">
                                应付总价
                            </div>
                            <div class="form_right">
                                <span id="zongjia">0</span>
                                <span>元</span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="bao_e optionCode form">
                        <div class="form_box">
                            <div class="form_left">
                                保额
                            </div>
                            <div class="form_right">
                                <span id="bao_e"></span>
                                <span>元</span>
                                <span>/</span>
                                <span>亩</span>
                            </div>
                        </div>
                    </div>
                    <div class="term_start optionCode form">
                        <div class="form_box">
                            <div class="form_left">
                                起保日期
                            </div>
                            <div class="form_right">
                                <span id="term_start"></span>
                            </div>
                        </div>
                    </div>
                    <div class="term_end optionCode form">
                        <div class="form_box">
                            <div class="form_left">
                                终保日期
                            </div>
                            <div class="form_right">
                                <span id="term_end"></span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="policy_time optionCode form">
                        <div class="form_box">
                            <div class="form_left">
                                投保日期
                            </div>
                            <div class="form_right">
                                <span id="policy_time"></span>
                            </div>
                        </div>
                    </div> -->
                </form>
            </div>
            <div class="line">
            </div>
            <div class="forms">
                <div class="title">
                    投保人信息
                </div>
                <div class="holder_name holder_name optionCode form">
                    <div class="form_box">
                        <div class="form_left">
                            姓名
                        </div>
                        <div data-id="holder_name" class="input form_right">
                            <input id="holder_name" type="text" placeholder="请输入姓名" />
                        </div>
                    </div>
                </div>
                <div class="holder_zjlx optionCode form">
                    <div class="form_box">
                        <div class="form_left">
                            证件类型
                        </div>
                        <div data-id="holder_zjlx" num="holder_zjlx" class="idType form_right">
                            <span id="holder_zjlx">请选择证件类型</span>
                        </div>
                    </div>
                </div>
                <div class="holder_id_card optionCode form">
                    <div class="form_box">
                        <div class="form_left">
                            证件号码
                        </div>
                        <div data-id="holder_card" class="input form_right">
                            <input id="holder_id_card" type="text" placeholder="请输入证件号码" />
                        </div>
                    </div>
                </div>
                <div class="holder_phone optionCode form">
                    <div class="form_box">
                        <div class="form_left">
                            手机号码
                        </div>
                        <div data-id="holder_phone" class="input form_right">
                            <input id="holder_phone" type="text" placeholder="请输入手机号码" />
                        </div>
                    </div>
                </div>
                <div class="holder_address optionCode form">
                    <div class="form_box">
                        <div class="form_left">
                            投保人地址
                        </div>
                        <div data-id="holder_address" class="input form_right">
                            <input id="holder_address" type="text" placeholder="请输入投保人地址" />
                        </div>
                    </div>
                </div>
                <div class="holder_email optionCode form">
                    <div class="form_box">
                        <div class="form_left">
                            电子邮箱
                        </div>
                        <div data-id="holder_email" class="input form_right">
                            <input id="holder_email" type="text" placeholder="请输入电子邮箱" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="line">
            </div>
            <div class="forms">
                <div class="title">
                    受益人信息
                    <span ids="false" id="benTrue"><img src="../../../img/checkFalse.png" srcset="" /> 与投保人为同一人</span>
                </div>
                <div class="beneficiary_name optionCode form">
                    <div class="form_box">
                        <div class="form_left">
                            姓名
                        </div>
                        <div data-id="beneficiary_name" class="input form_right">
                            <input id="beneficiary_name" type="text" placeholder="请输入姓名" />
                        </div>
                    </div>
                </div>
                <div class="beneficiary_zjlx optionCode form">
                    <div class="form_box">
                        <div class="form_left">
                            证件类型
                        </div>
                        <div data-id="beneficiary_zjlx" num="beneficiary_zjlx" class="idType form_right">
                            <span id="beneficiary_zjlx">请选择证件类型</span>
                        </div>
                    </div>
                </div>
                <div class="beneficiary_id_card optionCode form">
                    <div class="form_box">
                        <div class="form_left">
                            证件号码
                        </div>
                        <div data-id="beneficiary_id_card" class="input form_right">
                            <input id="beneficiary_id_card" type="text" placeholder="请输入证件号码" />
                        </div>
                    </div>
                </div>
                <div class="beneficiary_phone optionCode form">
                    <div class="form_box">
                        <div class="form_left">
                            手机号码
                        </div>
                        <div data-id="beneficiary_phone" class="input form_right">
                            <input id="beneficiary_phone" type="text" placeholder="请输入手机号码" />
                        </div>
                    </div>
                </div>
                <div class="beneficiary_address optionCode form">
                    <div class="form_box">
                        <div class="form_left">
                            受益人地址
                        </div>
                        <div data-id="beneficiary_address" class="input form_right">
                            <input id="beneficiary_address" type="text" placeholder="请输入受益人地址" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="insure_footer">
            <input id="playFooter" type="button" value="确认订单" />
        </div>
    </footer>
    <div id="insure_wrap">
        <div id="insure_inner">
            <div class="top">
                <p>确认提交订单</p>
            </div>
            <div class="bottom">
                <div id="yes" class="left">
                    确认
                </div>
                <div id="no" class="right">
                    取消
                </div>
            </div>
        </div>
    </div>
    <div class="idTypeWrap" id="idTypeWrap">
        <ul class="inner">

        </ul>
    </div>
</body>
<script src="../../../js/jquery.js"></script>
<script src="../../../js/iscroll.js"></script>
<script src="../../../js/loaded_iscroll.js"></script>
<script src="../../../js/tool.js"></script>
<script src="js/insure.js"></script>

</html>