<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onClick="history.back(-1);">
                <img src="img/jt.png" alt="jt">
            </a>
        </div>
        <div class="center">
            贷款分类
        </div>
        <div class="right">
            <img src="img/kefu.png" alt="kefu">
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="img/banner.png" alt="banner01">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/banner.png" alt="banner01">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/banner.png" alt="banner01">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="line">

                </div>
                <div class="loan">
                    <img src="img/zhongzhidai.png" alt="zhongzhidai">
                </div>
                <div class="loan">
                    <img src="img/nongzidai.png" alt="zhongzhidai">
                </div>
                <div class="loan">
                    <img src="img/nongmaodai.png" alt="nongmaodai">
                </div>
                <div class="loan">
                    <img src="img/qiyedai.png" alt="qiyedai">
                </div>
            </section>
        </div>
    </div>
</body>
<script src="../../../js/jquery.js"></script>
<link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
<link rel="stylesheet" href="../../../css/reset.css">
<script src="../../../js/iscroll.js"></script>
<script src="../../../js/loaded_iscroll.js"></script>
<script src="../../../js/tool.js"></script>
<link rel="stylesheet" href="./css/loanClassification.css">

</html>