<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="css/accountSecurity.css">
</head>

<body>
    <header>
        <a href="../../index.html">
            <div class="left">
                <img src="img/jt.png" alt="jt">
            </div>
        </a>
        <div class="center">
            账号与安全
        </div>
        <div class="right">
        </div>
    </header>
    <section>
        <ul>
            <li>
                <a href="../changePassword/changePassword.html">
                    <p>
                        修改密码</p>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="../bankCardBinding/bankCardBinding.html">
                    <p>
                        银行卡绑定
                    </p>
                </a>
            </li>
        </ul>
    </section>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/tool.js"></script>
</body>

</html>