<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>供求市场</title>
    <script src="../../../../js/jquery.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
    <link rel="stylesheet" href="css/farmersCommunity.css">
    <link rel="stylesheet" href="../../../../css/reset.css">
</head>
<body>
    <div id="header_bg" class="header-bg">

    </div>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <input type="text" placeholder="请输入你想搜索的内容">
            <img src="img/search.png" alt="">
        </div>
        <div class="right">
            <div class="msg">
                <img src="img/msg.png" alt="sweep">
            </div>
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="img/banner.png" alt="banner"></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="img/banner.png" alt="banner"></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="img/banner.png" alt="banner"></a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="menu">
                    <ul id="menuHTML">

                    </ul>
                </div>
                <div class="line">

                </div>
                <div class="recommendData">
                    <div class="top">
                        <div class="title">
                            <img src="img/line.png" alt="">
                            <span>推荐专区</span>
                        </div>
                        <div class="right">
                            <span>更多</span>
                            <img src="img/right.png" alt="">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="swiper-menu">
                            <div id="swiper_menu" class="swiper-wrapper">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="line">

                </div>
                <div class="enterprise">
                    <div class="top">
                        <div class="title">
                            <img src="img/line.png" alt="">
                            <span>企业推荐</span>
                        </div>
                        <div class="right">
                            <span>更多</span>
                            <img src="img/right.png" alt="">
                        </div>
                    </div>
                    <div class="bottom">
                        <ul id="newListHTML">
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer>
        <div class="menu">
            <div class="left">
                <div class="left-left">
                    <img src="img/shouye.png" alt="index">
                    <p>首页</p>
                </div>
                <div class="left-right">
                    <a href="../supplyAndDemandInner/supplyAndDemandInner.html">
                        <img src="img/shequ.png" alt="supply">
                        <p>社区</p>
                    </a>
                </div>
            </div>
            <div class="center">
            </div>
            <div class="right">
                <div class="right-left">
                    <a href="#">
                        <img src="img/xiaoxi.png" alt="message">
                        <p>消息</p>
                    </a>
                </div>
                <div class="right-right">
                    <a href="#">
                        <img src="img/wo.png" alt="personCenter">
                        <p>我</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="center-add">
            <img src="img/fabu.png" alt="" srcset="">
            <p>发布</p>
        </div>
    </footer>
</body>
<script type="text/javascript" src="../../../../js/iscroll.js"></script>
<script src="../../../../js/loaded_iscroll.js"></script>
<script src="../../../../js/tool.js"></script>
<!-- <script src="../../../../js/index.js"></script> -->
<script src="js/farmersCommunity.js"></script>

</html>