<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../../../js/jquery.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/plantingLoan.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1>种植贷</h1>
        </div>
        <div class="right">
            <span><img src="img/kefu.png" alt=""></span>
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <div class="banner">
                <img src="img/banner.png" alt="">
            </div>
            <div class="new produce">
                <h2>产品介绍</h2>
                <p> 为解决新型农业经营主体种植资金压力，悦农通
                    特制定种植贷产品。此产品主要解决农户种植时面临的
                    融资难/额度低等问题。本产品以土地经营权和土地收
                    益权为抵押，真正解决农民种植时的资金问题。</p>
            </div>
            <div class="new msg">
                <h2>产品信息</h2>
                <p><span>服务客户类型:</span>
                    <span>合作社，种植大户，家庭农场，种植公司</span>
                </p>
                <p><span>贷款额度:</span>
                    <span>依选择贷款产品而定</span>
                </p>
                <p><span>贷款利率:</span>
                    <span>依金融机构而定，最高不超过年化利率13%</span>
                </p>
            </div>
            <div class="new if">
                <h2>贷款人准入条件</h2>
                <ul>
                    <li>1.目标客户需是新型农业经营主体，种植合作社/家庭农场/种植大户/种植公司</li>
                    <li>1.目标客户需是新型农业经营主体，种植合作社/家庭农场/种植大户/种植公司</li>
                    <li>1.目标客户需是新型农业经营主体，种植合作社/家庭农场/种植大户/种植公司</li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <input type="button" value="贷款申请">
    </footer>
</body>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script src="../../../js/loaded_iscroll.js"></script>
<script src="../../../js/tool.js"></script>
<script src="js/plantingLoan.js"></script>

</html>