<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>悦农通</title>
    <link rel="Shortcut Icon" href="../../../img/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css">
    <link rel="stylesheet" href="css/onlineService.css">
    <script>
        (function () {
            var width = document.documentElement.clientWidth;
            var style = document.createElement("style");
            style.innerHTML = "html{font-size: " + width / 16 + "px !important;}";
            document.head.appendChild(style);
        })();
    </script>
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="../../../img/return.png" alt="sweep" />
                </div>
            </a>
        </div>
        <div class="center">
            <h1>在线客服</h1>
        </div>
        <div class="right">
            <span>
                <a href="" class="tel">
                    <img src="../../../img/tel.png" alt="" />
                </a>
            </span>
            <span><img src="../../../img/kefu.png" alt="" /></span>
        </div>
    </header>
    <div class="marquee">
        <marquee id="marquee"></marquee>
        <div class="closeMarquee"><img id="closeMarquee" src="../../../img/closeMarquee.png" alt="" /></div>
    </div>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="content">
                    <h2>热点问题</h2>
                    <ul id="content_list">
                        <li class="list">
                            <div class="title">
                                <p>qweq</p>
                                <span class="img">
                                    <img src="../../../img/arrow-right-gray.png" alt="" />
                                </span>
                            </div>
                            <ul class="content_list_text">
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>

        </div>
    </div>
    <footer>
        <ul>
            <li ids="wydk">
                <img src="../../../img/icon/sy.png" alt />
                <p>首页</p>
            </li>
            <li ids="myBills">
                <img src="../../../img/icon/zd.png" alt />
                <p>账单</p>
            </li>
            <li>
                <img src="../../../img/icon/fw_pre.png" alt />
                <p>服务中心</p>
            </li>
            <li ids="mycenter">
                <img src="../../../img/icon/w.png" alt />
                <p>用户中心</p>
            </li>
        </ul>
    </footer>
</body>
<script>
</script>
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/swiper.3.4.2.min.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script type="text/javascript" src="js/onlineService.js"></script>

</html>