<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>悦农通</title>
    <link rel="Shortcut Icon" href="../../../img/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css">
    <link rel="stylesheet" href="css/wydk.css">
    <script>
        (function () {
            var width = document.documentElement.clientWidth;
            var style = document.createElement("style");
            style.innerHTML = "html{font-size: " + width / 16 + "px !important;}";
            document.head.appendChild(style);
        })();
    </script>
</head>

<body>
    <header>
        <div class="left">
            <a href="../../../index.html">
                <div class="sweep">
                    <img src="../../../img/return.png" alt/>
                </div>
            </a>
        </div>
        <div class="center">
            <h1>我要贷款</h1>
        </div>
        <div class="right">
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="banner">
                    <div class="swiper-container">
                        <div id="bannerImgHTML" class="swiper-wrapper">
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="menu">
                    <div class="swiper-menu">
                        <div id="swiper_menu" class="swiper-wrapper">
                        </div>
                    </div>
                </div>
                <div class="loanProcess">
                    <h2>
                        贷款流程
                    </h2>
                    <div class="loanProcessImg">
                        <img src="../../../img/liucheng.png" alt/>
                    </div>
                </div>
                <div class="loanProcess">
                    <h2>
                        贷款案例
                    </h2>
                    <ul id="caseOfLoan" class="caseOfLoan">

                    </ul>
                </div>
            </section>
        </div>
    </div>
    <footer>
        <ul>
            <li ids="">
                <img src="../../../img/icon/sy_pre.png" alt/>
                <p>首页</p>
            </li>
            <li ids="myBills">
                <img src="../../../img/icon/zd.png" alt/>
                <p>账单</p>
            </li>
            <li ids="onlineService">
                <img src="../../../img/icon/fw.png" alt/>
                <p>服务中心</p>
            </li>
            <li ids="mycenter">
                <img src="../../../img/icon/w.png" alt/>
                <p>用户中心</p>
            </li>
        </ul>
    </footer>
</body>
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/swiper.3.4.2.min.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script type="text/javascript" src="js/wydk.js"></script>

</html>