<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我要贷款</title>
    <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/wydk.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1>我要贷款</h1>
        </div>
        <div class="right">
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="banner">
                    <div class="swiper-container">
                        <div id="bannerImgHTML" class="swiper-wrapper">
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="menu">
                    <ul id="menuHTML">
                        <li>
                            <a href="">
                                <div>
                                    <div class="img">
                                        <img src="" alt="">
                                    </div>
                                    <p></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="loanProcess">
                    <h2>
                        贷款流程
                    </h2>
                    <div class="loanProcessImg">
                        <img src="img/liucheng.png" alt="">
                    </div>
                </div>
                <div class="loanProcess">
                    <h2>
                        贷款案例
                    </h2>
                    <ul id="caseOfLoan" class="caseOfLoan">

                    </ul>
                </div>
            </section>

        </div>
    </div>
    <footer>
        <ul>
            <li>
                <img src="img/index.png" alt="shouye">
                <p>首页</p>
            </li>
            <li>
                <a href="../myBills/myBills.html">
                    <img src="img/zhangdan.png" alt="zhangdan">
                    <p>账单</p>
                </a>
            </li>
            <li>
                <a href="../onlineService/onlineService.html">
                    <img src="img/fuwuzhongxin.png" alt="fuwuzhongxin">
                    <p>服务中心</p>
                </a>
            </li>
            <li>
                <a href="../mycenter/mycenter.html">
                    <img src="img/userCenter.png" alt="yonghuzhongxin">
                    <p>用户中心</p>
                </a>
            </li>
        </ul>
    </footer>
</body>
<script>
</script>
<script src="../../../js/jquery.js"></script>
<script src="../../../js/swiper.3.4.2.min.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script src="../../../js/loaded_iscroll.js"></script>
<script src="../../../js/tool.js"></script>
<script src="js/wydk.js"></script>

</html>