<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>悦农通</title>
    <link rel="Shortcut Icon" href="../../../img/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/yhk.css">
    <script>
        (function () {
                var width = document.documentElement.clientWidth;
                var style = document.createElement("style");
                style.innerHTML = "html{font-size: " + width / 16 + "px !important;}";
                document.head.appendChild(style);
            })();
        </script>
</head>

<body>
    <header>
        <a href="#" onclick="history.back(-1);">
            <div class="left">
                <img src="../../../img/return.png" alt="jt"/>
            </div>
        </a>
        <div class="center">
            银行卡绑定
        </div>
        <div class="right add">
            <img src="../../../img/add2.png" alt=""/>
        </div>
    </header>
    <menu id="wrap">
        <div class="inner">
            <p>确定解除</p>
            <p id="delkh">尾号为4567的银行卡</p>
            <p>
                <input id="queren" type="button" value="确定"/><input id="quxiao" type="button" value="取消"/>
            </p>
        </div>
    </menu>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <ul id="cardList">
                </ul>
                <div class="add">
                </div>
            </section>
        </div>
    </div>
    <script type="text/javascript" src="../../../js/jquery.js"></script>
    <script type="text/javascript" src="../../../js/iscroll.js"></script>
    <script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
    <script type="text/javascript" src="../../../js/tool.js"></script>
    <script type="text/javascript" src="js/yhk.js"></script>
</body>

</html>