<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>悦农通</title>
    <link rel="Shortcut Icon" href="../../../img/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/zhaq.css">
    <script>
        (function () {
            var width = document.documentElement.clientWidth;
            var style = document.createElement("style");
            style.innerHTML = "html{font-size: " + width / 16 + "px !important;}";
            document.head.appendChild(style);
        })();
    </script>
</head>

<body>
    <header>
        <a href="#" onclick="history.back(-1);">
            <div class="left">
                <img src="../../../img/return.png" alt="jt"/>
            </div>
        </a>
        <div class="center">
            账号与安全
        </div>
        <div class="right">
        </div>
    </header>
    <section>
        <ul>
            <li>
                <a href="xgmm.html">
                    <p>
                        修改密码
                    </p>
                </a>
            </li>
            <li>
                <a href="yhk.html">
                    <p>
                        银行卡绑定
                    </p>
                </a>
            </li>
            <li>
                <a href="xgsjh.html">
                    <p>
                        修改手机号
                    </p>
                </a>
            </li>
        </ul>
    </section>
    <script src="../../../js/jquery.js"></script>
    <script src="../../../js/tool.js"></script>
</body>

</html>