html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}
header {
  width: 16rem;
  height: 1.87733333rem;
  background: linear-gradient(29deg, #1b9de1, #3fbef1);
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 2.98666667rem;
  line-height: 1.87733333rem;
}
header div.left a {
  display: inline-block;
}
header div.left a .sweep {
  width: 1.6rem;
  margin-left: 0.74666667rem;
}
header div.left a .sweep img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
header div.center {
  text-align: center;
  width: 10.02666667rem;
}
header div.center h1 {
  color: #ffffff;
  font-size: 0.64rem;
  line-height: 1.87733333rem;
  text-align: center;
}
header div.right {
  width: 2.98666667rem;
  float: right;
  line-height: 1.87733333rem;
}
header div.right span {
  margin-right: 0.21333333rem;
}
header div.right span img {
  width: 0.78933333rem;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 1.87733333rem;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper #scroller {
  padding-bottom: 7.25333333rem;
}
#wrapper #scroller section .marquee {
  position: relative;
  height: 1.408rem;
  background: #fff7ea;
  font-size: 0.512rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #e5be5b;
  line-height: 1.408rem;
  padding: 0 2.00533333rem 0 0.74666667rem;
}
#wrapper #scroller section .marquee .closeMarquee {
  position: absolute;
  right: 0.74666667rem;
  top: 0;
}
#wrapper #scroller section .marquee .closeMarquee img {
  width: 0.42666667rem;
  height: 0.42666667rem;
  margin: 0 0.128rem;
}
#wrapper #scroller section .content {
  padding: 0 0.74666667rem;
}
#wrapper #scroller section .content h2 {
  height: 1.83466667rem;
  line-height: 1.83466667rem;
  font-size: 0.59733333rem;
  color: #333333;
  border-bottom: solid 0.02133333rem #eeeeee;
}
#wrapper #scroller section .content ul li .title {
  height: 1.81333333rem;
  line-height: 1.81333333rem;
  border-bottom: solid 0.02133333rem #eeeeee;
  font-size: 0.55466667rem;
  color: #666666;
  padding-right: 0.49066667rem;
  overflow: hidden;
}
#wrapper #scroller section .content ul li .title p {
  float: left;
}
#wrapper #scroller section .content ul li .title span {
  float: right;
}
#wrapper #scroller section .content ul li .title span img {
  vertical-align: middle;
  width: 0.256rem;
  height: 0.46933333rem;
}
#wrapper #scroller section .content ul li ul {
  display: none;
  border-bottom: solid 0.02133333rem #eeeeee;
  padding: 0.64rem 0;
}
#wrapper #scroller section .content ul li ul li {
  color: #999999;
  font-size: 0.512rem;
  line-height: 0.74666667rem;
}
#wrapper #scroller section .content ul li.active span {
  float: right;
}
#wrapper #scroller section .content ul li.active span img {
  vertical-align: middle;
  width: 0.49066667rem;
  height: 0.256rem;
}
#wrapper #scroller section .content ul li.active ul {
  display: block;
}
#wrapper .iScrollVerticalScrollbar .iScrollIndicator {
  opacity: 0;
}
footer {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: #eeeeee solid 1px;
  height: 2.09066667rem;
  padding-top: 0.32rem;
  background-color: #ffffff;
  z-index: 666;
}
footer ul {
  width: 100%;
}
footer ul li {
  float: left;
  width: 25%;
  text-align: center;
}
footer ul li p {
  font-size: 0.42666667rem;
  color: #999999;
}
footer ul li:first-of-type img {
  width: 1.19466667rem;
  height: 1.024rem;
}
footer ul li:first-of-type p {
  color: #1b9de1;
}
footer ul li:nth-of-type(2) img {
  width: 0.768rem;
  height: 0.96rem;
}
footer ul li:nth-of-type(3) img {
  width: 0.768rem;
  height: 0.96rem;
}
footer ul li:last-of-type img {
  width: 0.96rem;
  height: 0.96rem;
}
