<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>悦农通</title>
    <link rel="Shortcut Icon" href="../../../img/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css">
    <link rel="stylesheet" href="css/nysq.css">
    <script>
        (function () {
                var width = document.documentElement.clientWidth;
                var style = document.createElement("style");
                style.innerHTML = "html{font-size: " + width / 16 + "px !important;}";
                document.head.appendChild(style);
            })();
        </script>
</head>

<body>
    <div id="header_bg" class="header-bg">

    </div>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="../../../img/return.png" alt="sweep"/>
                </div>
            </a>
        </div>
        <div class="center">
            <input type="text" placeholder="请输入你想搜索的内容"/>
            <img src="../../../img/ellipse.png" alt=""/>
        </div>
        <div class="right">
            <div class="msg">
                <img src="../../../img/alarm.png" alt="sweep"/>
            </div>
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="../../../img/banner4.png" alt="banner"/></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="../../../img/banner4.png" alt="banner"/></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="../../../img/banner4.png" alt="banner"/></a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="menu">
                    <ul id="menuHTML">

                    </ul>
                </div>
                <div class="line">

                </div>
                <div class="recommendData">
                    <div class="top">
                        <div class="title">
                            <img src="../../../img/line.png" alt=""/>
                            <span>推荐专区</span>
                        </div>
                        <div class="right">
                            <span>更多</span>
                            <img src="../../../img/arrow-right-gray.png" alt=""/>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="swiper-menu">
                            <div id="swiper_menu" class="swiper-wrapper">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line">
                </div>
                <div class="enterprise">
                    <div class="top">
                        <div class="title">
                            <img src="../../../img/line.png" alt=""/>
                            <span>企业推荐</span>
                        </div>
                        <div class="right">
                            <span>更多</span>
                            <img src="../../../img/arrow-right-gray.png" alt=""/>
                        </div>
                    </div>
                    <div class="bottom">
                        <ul id="newListHTML">
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer>
        <div class="menu">
            <div class="left">
                <div class="left-left">
                    <img src="../../../img/icon/shouye.png" alt="index"/>
                    <p>首页</p>
                </div>
                <div class="left-right">
                    <a href="../supplyAndDemandInner/supplyAndDemandInner.html">
                        <img src="../../../img/icon/shequ.png" alt="supply"/>
                        <p>社区</p>
                    </a>
                </div>
            </div>
            <div class="center">
            </div>
            <div class="right">
                <div class="right-left">
                    <a href="#">
                        <img src="../../../img/icon/xiaoxi.png" alt="message"/>
                        <p>消息</p>
                    </a>
                </div>
                <div class="right-right">
                    <a href="#">
                        <img src="../../../img/icon/wo.png" alt="personCenter"/>
                        <p>我</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="center-add">
            <a href="../issueAQuestion/issueAQuestion.html">
                <img src="../../../img/add-blue.png" alt="" srcset=""/>
                <p>发布</p>
            </a>
        </div>
    </footer>
</body>
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/swiper.3.4.2.min.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script type="text/javascript" src="js/nysq.js"></script>

</html>