<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/onlineService.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1>在线客服</h1>
        </div>
        <div class="right">
            <span>
                <img src="img/tel.png" alt="">
            </span>
            <span><img src="img/kefu.png" alt=""></span>
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="marquee">
                    <marquee>温馨提示：提额仅限招联金融官方渠道，任何第三方机构或温馨提示：提额仅限招联金融官方渠道，任何第三方机构或</marquee>
                    <div class="closeMarquee"><img src="img/closeMarquee.png" alt=""></div>
                </div>
                <div class="content">
                    <h2>热点问题</h2>
                    <ul id="content_list">
                    </ul>
                </div>
            </section>

        </div>
    </div>
    <footer>
        <ul>
            <li>
                <a href="../debit/debit.html">
                    <img src="img/index.png" alt="shouye">
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a href="../myBills/myBills.html">
                    <img src="img/zhangdan.png" alt="zhangdan">
                    <p>账单</p>
                </a>
            </li>
            <li>
                <img src="img/fuwuzhongxin.png" alt="fuwuzhongxin">
                <p>服务中心</p>
            </li>
            <li>
                <a href="../mycenter/mycenter.html">
                    <img src="img/userCenter.png" alt="yonghuzhongxin">
                    <p>用户中心</p>
                </a>
            </li>
        </ul>
    </footer>
</body>
<script>
</script>
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/swiper.3.4.2.min.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script type="text/javascript" src="js/onlineService.js"></script>

</html>