<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/informationDetails.css">
</head>

<body>
    <header>
        <!-- <a href="../nyzx/nyzx.html"> -->
        <a href="#" onclick="history.back(-1);">
            <div class="left">
                <img src="img/jt.png" alt="jt">
            </div>
        </a>
        <div class="center">
            今日要闻
        </div>
        <div class="right">
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section id="content">
                <!-- <h3>
                    盐城做足农业结构调整文章 让土地成为农民“聚宝盆”全面提升农业综合效益和竞争力，农业结构调整呈现步履坚实、稳中向好局面。
                </h3>
                <div class="source">
                    <div class="logo">
                        <img src="img/logo.png" alt="">
                    </div>
                    <p>农博网 2017-01-02 22:00</p>
                    <div class="reprint">
                        <img src="img/reprint.png" alt="">
                    </div>
                </div>
                <div class="content">
                    <img src="img/new.png" alt="">
                    <div class="content-text">
                        <p>推进农业结构调整对夯实农民“小康路”，全面实现“富民兴市”具有重大意义。“各级党委、政府对农业结构调整工作重视程度前所未有，8月份全市现场推进会后，各地全面部署动员秋播农业结构调整工作，根据目标任务制订分解表，将工作落实到镇区和田块。”市农委副主任王甫同说，各地出台了含金量较高的激励扶持政策，对高效设施农业、创意休闲农业、现代农业园区等进行更大力度、更大范围奖补。其中，阜宁对国省道沿线、康居工程周边新建标准连栋大棚连片100亩以上的，每亩一次性奖励1.2万元，“6·23”灾后重建集中安置点周边上浮20%。</p>
                        <p>农业结构调整是推动农业发展挖潜力、提质量、增效益的重要抓手。“产业结构更加优化，产业层次日益提升，产业融合愈加紧密，质量品牌逐步叫响。”王甫同介绍，今年全市农业结构调整成效十分明显。形成了多元化、特色化、品牌化发展格局，培植壮大了西甜瓜、大蒜、菊花、何首乌、甜叶菊等一批特色产业，建成特色镇47个、专业村193个。积极开展现代农业园区“等级创建”活动，招引入园项目188个，投资总额达24亿元。东台市现代农业产业示范园、建湖县现代农业产业示范园相继入选省级现代农业产业示范园。新落实新型经营主体2157个，新增30亩以上农业结构调整项目1324个，其中200亩以上规模项目773个，千亩以上项目146个。</p>
                        <p>农业结构调整是推动农业发展挖潜力、提质量、增效益的重要抓手。“产业结构更加优化，产业层次日益提升，产业融合愈加紧密，质量品牌逐步叫响。”王甫同介绍，今年全市农业结构调整成效十分明显。形成了多元化、特色化、品牌化发展格局，培植壮大了西甜瓜、大蒜、菊花、何首乌、甜叶菊等一批特色产业，建成特色镇47个、专业村193个。积极开展现代农业园区“等级创建”活动，招引入园项目188个，投资总额达24亿元。东台市现代农业产业示范园、建湖县现代农业产业示范园相继入选省级现代农业产业示范园。新落实新型经营主体2157个，新增30亩以上农业结构调整项目1324个，其中200亩以上规模项目773个，千亩以上项目146个。</p>
                        <p>农业结构调整是推动农业发展挖潜力、提质量、增效益的重要抓手。“产业结构更加优化，产业层次日益提升，产业融合愈加紧密，质量品牌逐步叫响。”王甫同介绍，今年全市农业结构调整成效十分明显。形成了多元化、特色化、品牌化发展格局，培植壮大了西甜瓜、大蒜、菊花、何首乌、甜叶菊等一批特色产业，建成特色镇47个、专业村193个。积极开展现代农业园区“等级创建”活动，招引入园项目188个，投资总额达24亿元。东台市现代农业产业示范园、建湖县现代农业产业示范园相继入选省级现代农业产业示范园。新落实新型经营主体2157个，新增30亩以上农业结构调整项目1324个，其中200亩以上规模项目773个，千亩以上项目146个。</p>
                        <p>农业结构调整是推动农业发展挖潜力、提质量、增效益的重要抓手。“产业结构更加优化，产业层次日益提升，产业融合愈加紧密，质量品牌逐步叫响。”王甫同介绍，今年全市农业结构调整成效十分明显。形成了多元化、特色化、品牌化发展格局，培植壮大了西甜瓜、大蒜、菊花、何首乌、甜叶菊等一批特色产业，建成特色镇47个、专业村193个。积极开展现代农业园区“等级创建”活动，招引入园项目188个，投资总额达24亿元。东台市现代农业产业示范园、建湖县现代农业产业示范园相继入选省级现代农业产业示范园。新落实新型经营主体2157个，新增30亩以上农业结构调整项目1324个，其中200亩以上规模项目773个，千亩以上项目146个。</p>
                        <p>农业结构调整是推动农业发展挖潜力、提质量、增效益的重要抓手。“产业结构更加优化，产业层次日益提升，产业融合愈加紧密，质量品牌逐步叫响。”王甫同介绍，今年全市农业结构调整成效十分明显。形成了多元化、特色化、品牌化发展格局，培植壮大了西甜瓜、大蒜、菊花、何首乌、甜叶菊等一批特色产业，建成特色镇47个、专业村193个。积极开展现代农业园区“等级创建”活动，招引入园项目188个，投资总额达24亿元。东台市现代农业产业示范园、建湖县现代农业产业示范园相继入选省级现代农业产业示范园。新落实新型经营主体2157个，新增30亩以上农业结构调整项目1324个，其中200亩以上规模项目773个，千亩以上项目146个。</p>
                        <p>农业结构调整是推动农业发展挖潜力、提质量、增效益的重要抓手。“产业结构更加优化，产业层次日益提升，产业融合愈加紧密，质量品牌逐步叫响。”王甫同介绍，今年全市农业结构调整成效十分明显。形成了多元化、特色化、品牌化发展格局，培植壮大了西甜瓜、大蒜、菊花、何首乌、甜叶菊等一批特色产业，建成特色镇47个、专业村193个。积极开展现代农业园区“等级创建”活动，招引入园项目188个，投资总额达24亿元。东台市现代农业产业示范园、建湖县现代农业产业示范园相继入选省级现代农业产业示范园。新落实新型经营主体2157个，新增30亩以上农业结构调整项目1324个，其中200亩以上规模项目773个，千亩以上项目146个。</p>
                        <p>农业结构调整是推动农业发展挖潜力、提质量、增效益的重要抓手。“产业结构更加优化，产业层次日益提升，产业融合愈加紧密，质量品牌逐步叫响。”王甫同介绍，今年全市农业结构调整成效十分明显。形成了多元化、特色化、品牌化发展格局，培植壮大了西甜瓜、大蒜、菊花、何首乌、甜叶菊等一批特色产业，建成特色镇47个、专业村193个。积极开展现代农业园区“等级创建”活动，招引入园项目188个，投资总额达24亿元。东台市现代农业产业示范园、建湖县现代农业产业示范园相继入选省级现代农业产业示范园。新落实新型经营主体2157个，新增30亩以上农业结构调整项目1324个，其中200亩以上规模项目773个，千亩以上项目146个。</p>
                        <p>农业结构调整是推动农业发展挖潜力、提质量、增效益的重要抓手。“产业结构更加优化，产业层次日益提升，产业融合愈加紧密，质量品牌逐步叫响。”王甫同介绍，今年全市农业结构调整成效十分明显。形成了多元化、特色化、品牌化发展格局，培植壮大了西甜瓜、大蒜、菊花、何首乌、甜叶菊等一批特色产业，建成特色镇47个、专业村193个。积极开展现代农业园区“等级创建”活动，招引入园项目188个，投资总额达24亿元。东台市现代农业产业示范园、建湖县现代农业产业示范园相继入选省级现代农业产业示范园。新落实新型经营主体2157个，新增30亩以上农业结构调整项目1324个，其中200亩以上规模项目773个，千亩以上项目146个。</p>
                        <p>农业结构调整是推动农业发展挖潜力、提质量、增效益的重要抓手。“产业结构更加优化，产业层次日益提升，产业融合愈加紧密，质量品牌逐步叫响。”王甫同介绍，今年全市农业结构调整成效十分明显。形成了多元化、特色化、品牌化发展格局，培植壮大了西甜瓜、大蒜、菊花、何首乌、甜叶菊等一批特色产业，建成特色镇47个、专业村193个。积极开展现代农业园区“等级创建”活动，招引入园项目188个，投资总额达24亿元。东台市现代农业产业示范园、建湖县现代农业产业示范园相继入选省级现代农业产业示范园。新落实新型经营主体2157个，新增30亩以上农业结构调整项目1324个，其中200亩以上规模项目773个，千亩以上项目146个。</p>
                        <p>农业结构调整是推动农业发展挖潜力、提质量、增效益的重要抓手。“产业结构更加优化，产业层次日益提升，产业融合愈加紧密，质量品牌逐步叫响。”王甫同介绍，今年全市农业结构调整成效十分明显。形成了多元化、特色化、品牌化发展格局，培植壮大了西甜瓜、大蒜、菊花、何首乌、甜叶菊等一批特色产业，建成特色镇47个、专业村193个。积极开展现代农业园区“等级创建”活动，招引入园项目188个，投资总额达24亿元。东台市现代农业产业示范园、建湖县现代农业产业示范园相继入选省级现代农业产业示范园。新落实新型经营主体2157个，新增30亩以上农业结构调整项目1324个，其中200亩以上规模项目773个，千亩以上项目146个。</p>
                        <p>农业结构调整是推动农业发展挖潜力、提质量、增效益的重要抓手。“产业结构更加优化，产业层次日益提升，产业融合愈加紧密，质量品牌逐步叫响。”王甫同介绍，今年全市农业结构调整成效十分明显。形成了多元化、特色化、品牌化发展格局，培植壮大了西甜瓜、大蒜、菊花、何首乌、甜叶菊等一批特色产业，建成特色镇47个、专业村193个。积极开展现代农业园区“等级创建”活动，招引入园项目188个，投资总额达24亿元。东台市现代农业产业示范园、建湖县现代农业产业示范园相继入选省级现代农业产业示范园。新落实新型经营主体2157个，新增30亩以上农业结构调整项目1324个，其中200亩以上规模项目773个，千亩以上项目146个。</p>
                        <p>农业结构调整是推动农业发展挖潜力、提质量、增效益的重要抓手。“产业结构更加优化，产业层次日益提升，产业融合愈加紧密，质量品牌逐步叫响。”王甫同介绍，今年全市农业结构调整成效十分明显。形成了多元化、特色化、品牌化发展格局，培植壮大了西甜瓜、大蒜、菊花、何首乌、甜叶菊等一批特色产业，建成特色镇47个、专业村193个。积极开展现代农业园区“等级创建”活动，招引入园项目188个，投资总额达24亿元。东台市现代农业产业示范园、建湖县现代农业产业示范园相继入选省级现代农业产业示范园。新落实新型经营主体2157个，新增30亩以上农业结构调整项目1324个，其中200亩以上规模项目773个，千亩以上项目146个。</p>
                    </div>
                </div> -->
            </section>
        </div>
    </div>
    <script src="../../../js/jquery.js"></script>
    <script type="text/javascript" src="../../../js/iscroll.js"></script>
    <script src="../../../js/loaded_iscroll.js"></script>
    <script src="../../../js/tool.js"></script>
    <script src="js/informationDetails.js"></script>
</body>

</html>