<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="./css/serviceCentre.css">
</head>

<body>
    <header>
        <a href="../../index.html">
            <div class="left">
                <img src="../../images/jt.png" alt="jt">
            </div>
        </a>
        <div class="center">
            服务中心
        </div>
        <div class="left">
        </div>
    </header>
    <menu>
        <span class="active">全部问题</span>
        <span>保险相关</span>
        <span>意见反馈</span>
    </menu>
    <section>
        <h3><img src="img/hot.png" alt=""> 热门问题</h3>
        <div class="menus">
            <div>问题</div>
            <div>农业问题</div>
            <div>农问题</div>
            <div>农问题</div>
            <div>农业问题</div>
            <div>农业问题</div>
            <div>农业问题</div>
            <div>农业问题</div>
        </div>
        <h4>问题列表</h4>
        <ul>
            <li>保险如何开放购买？</li>
            <li>保险如何开放购买？</li>
            <li>保险如何开放购买？</li>
            <li>保险如何开放购买？</li>
            <li>保险如何开放购买？</li>
            <li>保险如何开放购买？</li>
            <li>保险如何开放购买？</li>
        </ul>
    </section>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/tool.js"></script>
</body>

</html>