<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="css/changePassword.css">
</head>

<body>
    <header>
        <a href="../accountSecurity/accountSecurity.html">
            <div class="left">
                <img src="img/jt.png" alt="jt">
            </div>
        </a>
        <div class="center">
            修改密码
        </div>
        <div class="right">
        </div>
    </header>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/tool.js"></script>
</body>

</html>