<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/diseaseList.css">

</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1 id="diseaseListTitle">果树类</h1>
        </div>
        <div class="right">
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <ul id="diseaseList">
                </ul>
            </section>
        </div>
    </div>

</body>
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script type="text/javascript" src="js/diseaseList.js"></script>

</html>