html,
body {
  overflow: hidden;
}
header {
  height: 1.87733333rem;
  background: #1c9ee1;
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 2.24rem;
  line-height: 1.87733333rem;
}
header div.left a .jt {
  width: 0.34133333rem;
  height: 0.68266667rem;
  margin-left: 0.74666667rem;
}
header div.left a .jt img {
  width: 100%;
}
header div.center {
  position: relative;
  background: #71ccf3;
  margin-top: 0.34133333rem;
  width: 11.52rem;
  height: 1.19466667rem;
  line-height: 1.87733333rem;
  border-radius: 0.64rem;
}
header div.center img {
  position: absolute;
  left: 0.74666667rem;
  top: 0.29866667rem;
  width: 0.64rem;
  height: 0.64rem;
}
header div.center input {
  position: absolute;
  left: 2.02666667rem;
  top: 0rem;
  height: 1.19466667rem;
  background: #71ccf3;
  width: 8.53333333rem;
  padding: 0;
  border: 0;
  font-size: 0.21333333rem;
  outline: none;
  color: #ffffff;
}
header div.center input::placeholder {
  color: #ffffff;
  font-size: 0.34133333rem;
}
header div.center input::placeholder {
  color: #ffffff;
  font-size: 0.21333333rem;
}
header div.center input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ffffff;
  font-size: 0.21333333rem;
}
header div.center input::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  font-size: 0.21333333rem;
}
header div.center input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  font-size: 0.21333333rem;
}
header div.center input::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ffffff;
  font-size: 0.21333333rem;
}
header div.right {
  width: 2.24rem;
  line-height: 1.87733333rem;
  position: relative;
}
header div.right .shop {
  margin-left: 0.64rem;
  width: 0.91733333rem;
  height: 0.85333333rem;
}
header div.right .shop img {
  width: 100%;
}
header div.right .shop .message {
  position: absolute;
  right: 0.34133333rem;
  top: -0.64rem;
}
header div.right .shop .message span {
  width: 0.72533333rem;
  height: 0.42666667rem;
  background-image: url("../img/mess4@2x.png");
  font-family: "lato", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.34133333rem;
  border-radius: 50%;
  color: #ffffff;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 1.87733333rem;
  bottom: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper .iScrollVerticalScrollbar {
  display: none;
}
#wrapper #scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
#wrapper #scroller section {
  overflow: hidden;
}
#wrapper #scroller section .banner .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
}
#wrapper #scroller section .menu {
  margin: 0 0.74666667rem;
  overflow: hidden;
  padding-top: 0.64rem;
  padding-bottom: 0.64rem;
}
#wrapper #scroller section .menu .menu_ul {
  overflow: hidden;
  width: 100%;
}
#wrapper #scroller section .menu .menu_ul li {
  float: left;
  width: 20%;
}
#wrapper #scroller section .menu .menu_ul li:nth-of-type(1) {
  margin-left: 0;
}
#wrapper #scroller section .menu .menu_ul li a {
  text-align: center;
  text-decoration: none;
}
#wrapper #scroller section .menu .menu_ul li a img {
  width: 1.70666667rem;
  height: 1.70666667rem;
}
#wrapper #scroller section .menu .menu_ul li a p {
  font-size: 0.512rem;
  padding-top: 0.29866667rem;
}
#wrapper #scroller section .line {
  height: 0.88533333rem;
  background-color: #eeeeee;
}
#wrapper #scroller section .recommend {
  background-color: #eeeeee;
  position: relative;
}
#wrapper #scroller section .recommend ul {
  overflow: hidden;
}
#wrapper #scroller section .recommend ul li {
  float: left;
  width: 7.89333333rem;
  margin-left: 0.21333333rem;
  margin-bottom: 0.21333333rem;
}
#wrapper #scroller section .recommend ul li:nth-of-type(odd) {
  margin-left: 0;
}
#wrapper #scroller section .recommend ul li a {
  text-decoration: none;
}
#wrapper #scroller section .recommend ul li a .list {
  background-color: #ffffff;
  height: 12.37333333rem;
}
#wrapper #scroller section .recommend ul li a .list .pesticides {
  width: 7.89333333rem;
  height: 7.89333333rem;
  position: relative;
}
#wrapper #scroller section .recommend ul li a .list .pesticides .shopping {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2.13333333rem;
  margin-top: -2.66666667rem;
  width: 4.26666667rem;
  height: 5.33333333rem;
  overflow: hidden;
}
#wrapper #scroller section .recommend ul li a .list .pesticides .shopping.prebig {
  margin-left: -2.66666667rem;
  width: 5.33333333rem;
  height: 5.33333333rem;
}
#wrapper #scroller section .recommend ul li a .list .pesticides .shopping img {
  width: 100%;
}
#wrapper #scroller section .recommend ul li a .list .presentation {
  margin-top: 0.32rem;
  padding: 0 0.74666667rem;
}
#wrapper #scroller section .recommend ul li a .list .presentation p {
  font-size: 0.46933333rem;
  line-height: 0.53333333rem;
  color: #333333;
}
#wrapper #scroller section .recommend ul li a .list .presentation p span img {
  padding-right: 0.10666667rem;
  width: 0.768rem;
  height: 0.42666667rem;
}
#wrapper #scroller section .recommend ul li a .list .presentation .shop {
  padding-top: 0.21333333rem;
  font-size: 0.384rem;
  color: #999999;
}
#wrapper #scroller section .recommend ul li a .list .price {
  padding: 0.32rem 0.74666667rem;
  color: #ff0000;
  font-size: 0.59733333rem;
}
#wrapper #scroller section .recommend .recommendPesticides {
  position: absolute;
  top: -0.56533333rem;
  left: 0;
  z-index: 10;
}
#wrapper #scroller section .recommend .recommendPesticides img {
  width: 3.92533333rem;
  height: 1.13066667rem;
}
