<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="left">
            <a href="#" onClick="history.back(-1);">
                <img src="../../images/jt.png" alt="jt">
            </a>
        </div>
        <div class="center">
            我的账单
        </div>
        <div class="left">

        </div>
    </header>
    <section>
        <ul>
            <li>
                <div class="billsTop">
                    <span>
                        ￥18888
                    </span>
                    <span class="huankuan">
                        已还款
                    </span>
                </div>
                <div class="billsBottom">
                    <span>
                        期数24 剩余12期
                    </span>
                    <span>
                        <img src="../../images/time.png" alt="time">
                        2017年12月12日
                    </span>
                </div>
            </li>
            <li>
                    <div class="billsTop">
                        <span>
                            ￥30000
                        </span>
                        <span class="weihuankuan">
                            未还款
                        </span>
                    </div>
                    <div class="billsBottom">
                        <span>
                            期数36 剩余2期
                        </span>
                        <span>
                            <img src="../../images/time.png" alt="time">
                            2015年8月2日
                        </span>
                    </div>
                </li>
                <li>
                        <div class="billsTop">
                            <span>
                                ￥6688
                            </span>
                            <span>
                                已还清
                            </span>
                        </div>
                        <div class="billsBottom">
                            <span>
                                期数12 剩余0期
                            </span>
                            <span>
                                <img src="../../images/time.png" alt="time">
                                2015年1月31日
                            </span>
                        </div>
                    </li>
                    <li>
                            <div class="billsTop">
                                <span>
                                    ￥12000
                                </span>
                                <span>
                                    已还清
                                </span>
                            </div>
                            <div class="billsBottom">
                                <span>
                                    期数6 剩余0期
                                </span>
                                <span>
                                    <img src="../../images/time.png" alt="time">
                                    2014年5月31日
                                </span>
                            </div>
                        </li>
                        <li>
                                <div class="billsTop">
                                    <span>
                                        ￥21000
                                    </span>
                                    <span>
                                        已还清
                                    </span>
                                </div>
                                <div class="billsBottom">
                                    <span>
                                        期数12 剩余0期
                                    </span>
                                    <span>
                                        <img src="../../images/time.png" alt="time">
                                        2015年3月13日
                                    </span>
                                </div>
                            </li>
                            <li>
                                    <div class="billsTop">
                                        <span>
                                            ￥5000
                                        </span>
                                        <span>
                                            已还清
                                        </span>
                                    </div>
                                    <div class="billsBottom">
                                        <span>
                                            期数3 剩余02期
                                        </span>
                                        <span>
                                            <img src="../../images/time.png" alt="time">
                                            2014年4月18日
                                        </span>
                                    </div>
                                </li><li>
                                        <div class="billsTop">
                                            <span>
                                                ￥9600
                                            </span>
                                            <span>
                                                已还清
                                            </span>
                                        </div>
                                        <div class="billsBottom">
                                            <span>
                                                期数24 剩余0期
                                            </span>
                                            <span>
                                                <img src="../../images/time.png" alt="time">
                                                2015年1月24日
                                            </span>
                                        </div>
                                    </li>
        </ul>
    </section>
</body>
<link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
<link rel="stylesheet" href="../../style/reset.css">
<link rel="stylesheet" href="./css/myBills.css">
<script src="../../js/tool.js"></script>
</html>