/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom */
a {
  color: #7e8c8d;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
html,
body {
  width: 100%;
}
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body header {
  height: 1.87733333rem;
  background-color: #1c9ee1;
}
body header div {
  float: left;
}
body header div.left {
  width: 10%;
  padding-left: 0.74666667rem;
  line-height: 1.87733333rem;
}
body header div.left img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
body header div.center {
  margin-left: -0.74666667rem;
  line-height: 1.87733333rem;
  width: 80%;
  color: #ffffff;
  font-size: 0.68266667rem;
  text-align: center;
}
body header div.right {
  width: 10%;
  line-height: 1.87733333rem;
}
body header div.right img {
  width: 0.85333333rem;
  height: 0.81066667rem;
}
body #wrapper {
  position: absolute;
  z-index: 1;
  top: 1.87733333rem;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
body #wrapper #scroller {
  padding-bottom: 1.06666667rem;
}
body #wrapper #scroller section {
  background-color: #ffffff;
}
body #wrapper #scroller section .optionList {
  display: none;
}
body #wrapper #scroller section .detailsTop {
  padding: 0 0.74666667rem;
}
body #wrapper #scroller section .detailsTop ul li {
  overflow: hidden;
}
body #wrapper #scroller section .detailsTop ul li:first-of-type {
  padding-top: 0.85333333rem;
}
body #wrapper #scroller section .detailsTop ul li:first-of-type span.left {
  float: left;
  font-size: 0.68266667rem;
  color: #32b5ee;
}
body #wrapper #scroller section .detailsTop ul li:first-of-type span.left span.blue {
  color: #1d9fe2;
}
body #wrapper #scroller section .detailsTop ul li:first-of-type span.left span.gray {
  color: #999999;
}
body #wrapper #scroller section .detailsTop ul li:first-of-type span.left span.red {
  color: #ff4e00;
}
body #wrapper #scroller section .detailsTop ul li:first-of-type span.right {
  float: right;
  font-size: 0.68266667rem;
  color: #ff0606;
}
body #wrapper #scroller section .detailsTop ul li:first-of-type span.right a {
  font-size: 0.512rem;
  color: #ff0606;
}
body #wrapper #scroller section .detailsTop ul li:last-of-type {
  padding: 0.21333333rem 0 0.64rem;
}
body #wrapper #scroller section .detailsTop ul li:last-of-type span {
  color: #999999;
}
body #wrapper #scroller section .detailsTop ul li:last-of-type span.left {
  float: left;
  font-size: 0.512rem;
}
body #wrapper #scroller section .detailsTop ul li:last-of-type span.right {
  float: right;
  font-size: 0.512rem;
}
body #wrapper #scroller section .line {
  width: 100%;
  height: 0.42666667rem;
  background-color: #eeeeee;
}
body #wrapper #scroller section .detailsCenter {
  padding: 0 0.74666667rem;
}
body #wrapper #scroller section .detailsCenter h2 {
  font-size: 0.59733333rem;
  color: #333333;
  border-bottom: solid 1px #eeeeee;
  line-height: 1.70666667rem;
  margin-bottom: 0.46933333rem;
}
body #wrapper #scroller section .detailsCenter ul li {
  line-height: 1.19466667rem;
  overflow: hidden;
}
body #wrapper #scroller section .detailsCenter ul li span.left {
  float: left;
  font-size: 0.55466667rem;
  color: #666666;
}
body #wrapper #scroller section .detailsCenter ul li span.right {
  float: right;
  font-size: 0.55466667rem;
  color: #666666;
}
body #wrapper #scroller section .detailsCenter ul li span.right a {
  font-size: 0.72533333rem;
  color: #ff0606;
}
