html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
}
header {
  width: 16rem;
  height: 1.87733333rem;
  background: #1c9ee1;
  overflow: hidden;
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 1.6rem;
  line-height: 1.87733333rem;
}
header div.left a {
  display: inline-block;
}
header div.left a .sweep {
  width: 1.6rem;
  margin-left: 0.74666667rem;
}
header div.left a .sweep img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
header div.center {
  text-align: center;
  width: 12.8rem;
}
header div.center h1 {
  width: 12.8rem;
  color: #ffffff;
  font-size: 0.64rem;
  line-height: 1.87733333rem;
  text-align: center;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 1.87733333rem;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper #scroller {
  transition: 0s;
  overflow: hidden;
  width: 64rem;
}
#wrapper #scroller section {
  width: 16rem;
  float: left;
}
#wrapper #scroller section .banner .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
}
#wrapper #scroller section .banner .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
}
#wrapper #scroller section .banner .swiper-container .swiper-wrapper .swiper-slide .banner-msg {
  position: absolute;
  z-index: 666;
  bottom: 0.42666667rem;
  right: 0.42666667rem;
}
#wrapper #scroller section .banner .swiper-container .swiper-wrapper .swiper-slide .banner-msg span {
  font-size: 0.46933333rem;
  border-radius: 50%;
  color: #ffffff;
  line-height: 0.85333333rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.21333333rem;
}
#wrapper #scroller section .content {
  background-color: #ffffff;
  padding: 0 0.74666667rem;
  margin-top: -0.08533333rem;
}
#wrapper #scroller section .content .content-title {
  height: 1.83466667rem;
  line-height: 1.83466667rem;
  position: relative;
}
#wrapper #scroller section .content .content-title .blue-line {
  position: absolute;
  left: -0.74666667rem;
  top: 0.768rem;
  width: 0rem;
  height: 0rem;
  padding: 0.27733333rem 0.04266667rem;
  background-color: #1d9fe2;
}
#wrapper #scroller section .content .content-title .title {
  border-bottom: solid 0.04266667rem #eeeeee;
}
#wrapper #scroller section .content .content-title .title span {
  font-size: 0.59733333rem;
  color: #333333;
  font-weight: 500;
}
#wrapper #scroller section .content .content-title .title span:last-of-type {
  float: right;
  padding: 0rem 0.64rem;
}
#wrapper #scroller section .content .content-title .title span:last-of-type img {
  width: 0.256rem;
  height: 0.46933333rem;
  vertical-align: middle;
}
#wrapper #scroller section .content ul {
  font-size: 0.55466667rem;
}
#wrapper #scroller section .content ul.content-text-top li {
  height: 1.81333333rem;
  line-height: 1.81333333rem;
  border-bottom: solid 0.04266667rem #eeeeee;
}
#wrapper #scroller section .content ul.content-text-top li span.left {
  float: left;
  color: #666666;
}
#wrapper #scroller section .content ul.content-text-top li span.right {
  float: right;
  color: #999999;
}
#wrapper #scroller section .content ul.content-text-bottom li {
  padding: 0.64rem 0;
  border-bottom: solid 0.04266667rem #eeeeee;
}
#wrapper #scroller section .content ul.content-text-bottom li:last-of-type {
  border-bottom: none;
}
#wrapper #scroller section .content ul.content-text-bottom li p {
  color: #666666;
}
#wrapper #scroller section .content ul.content-text-bottom li p:last-of-type {
  line-height: 0.85333333rem;
  padding-top: 0.64rem;
  color: #999999;
}
#wrapper .iScrollVerticalScrollbar .iScrollIndicator {
  opacity: 0;
}
