html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
}
header {
  width: 16rem;
  height: 1.87733333rem;
  background: linear-gradient(29deg, #1b9de1, #3fbef1);
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 1.81333333rem;
  line-height: 1.87733333rem;
}
header div.left a {
  display: inline-block;
}
header div.left a .sweep {
  width: 1.6rem;
  margin-left: 0.74666667rem;
}
header div.left a .sweep img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
header div.center {
  text-align: center;
  width: 12.37333333rem;
}
header div.center h1 {
  color: #ffffff;
  font-size: 0.64rem;
  line-height: 1.87733333rem;
  text-align: center;
}
header div.right {
  width: 1.81333333rem;
  float: right;
  line-height: 1.87733333rem;
}
header div.right span img {
  width: 0.78933333rem;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 1.87733333rem;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper #scroller {
  padding: 0 0.74666667rem 4.05333333rem 0.74666667rem;
}
#wrapper #scroller .banner {
  margin-top: 0.64rem;
}
#wrapper #scroller .banner img {
  width: 100%;
}
#wrapper #scroller .new {
  background-color: #ffffff;
  padding: 0.64rem 0.64rem 0.85333333rem 0.64rem;
  margin-top: 0.42666667rem;
  border-radius: 0.21333333rem;
  box-shadow: 0.04266667rem 0.10666667rem 0.17066667rem rgba(51, 51, 51, 0.1);
}
#wrapper #scroller .new h2 {
  padding-bottom: 0.64rem;
  font-size: 0.59733333rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #333333;
  line-height: 0.42666667rem;
  border-bottom: solid 0.02133333rem #eeeeee;
}
#wrapper #scroller .produce {
  margin-top: 0.21333333rem;
  position: relative;
}
#wrapper #scroller .produce::before {
  position: absolute;
  left: -0.34133333rem;
  top: 1.36533333rem;
  content: "";
  display: block;
  width: 0.68266667rem;
  height: 0.68266667rem;
  border-radius: 50%;
  background-color: #eeeeee;
}
#wrapper #scroller .produce::after {
  position: absolute;
  right: -0.34133333rem;
  top: 1.36533333rem;
  content: "";
  display: block;
  width: 0.68266667rem;
  height: 0.68266667rem;
  border-radius: 50%;
  background-color: #eeeeee;
}
#wrapper #scroller .produce h2 {
  padding-bottom: 0.64rem;
  font-size: 0.59733333rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #333333;
  line-height: 0.42666667rem;
  border-bottom: solid 0.02133333rem #eeeeee;
}
#wrapper #scroller .produce p {
  padding-top: 0.42666667rem;
  color: #999999;
  font-size: 0.55466667rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  line-height: 0.85333333rem;
  text-indent: 2em;
}
#wrapper #scroller .msg p {
  font-size: 0.55466667rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  line-height: 0.85333333rem;
  padding-top: 0.21333333rem;
}
#wrapper #scroller .msg p span:first-of-type {
  color: #666666;
}
#wrapper #scroller .msg p span:last-of-type {
  color: #999999;
}
#wrapper #scroller .if ul li {
  font-size: 0.55466667rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #999999;
  line-height: 0.85333333rem;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 666;
  width: 100%;
  padding: 0 0.74666667rem;
  background-color: #ffffff;
  height: 3.05066667rem;
  line-height: 3.05066667rem;
}
footer input {
  width: 14.50666667rem;
  height: 1.77066667rem;
  border-radius: 0.064rem;
  background-color: #27a6e6;
  color: #ffffff;
  font-size: 0.59733333rem;
  font-family: PingFang-SC-Medium;
  outline: none;
}
