html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #7e8c8d;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
html,
body {
  width: 100%;
}
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.loginPrompt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.2);
}
.loginPrompt .pro {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10.66666667rem;
  height: 6.82666667rem;
  background: #fff;
  border-radius: 0.21333333rem;
  overflow: hidden;
  box-shadow: 0px 0.04266667rem 0.34133333rem 0.08533333rem rgba(51, 51, 51, 0.2);
}
.loginPrompt .pro p {
  text-align: center;
  line-height: 1.49333333rem;
}
.loginPrompt .pro p:first-of-type {
  padding-top: 0.85333333rem;
  font-size: 0.59733333rem;
  color: #333;
}
.loginPrompt .pro p:last-of-type {
  font-size: 0.55466667rem;
  color: #666;
}
.loginPrompt .pro .bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.92rem;
  line-height: 1.92rem;
  border-top: solid 0.04266667rem #eee;
  font-size: 0.55466667rem;
}
.loginPrompt .pro .bottom div {
  float: left;
  width: 50%;
  text-align: center;
  height: 1.92rem;
  box-sizing: border-box;
}
.loginPrompt .pro .bottom div.left {
  color: #999;
}
.loginPrompt .pro .bottom div.right {
  color: #fff;
  background: #27a6e6;
}
html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
}
header {
  width: 16rem;
  height: 1.87733333rem;
  background: linear-gradient(29deg, #1b9de1, #3fbef1);
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 1.81333333rem;
  line-height: 1.87733333rem;
}
header div.left a {
  display: inline-block;
}
header div.left a .sweep {
  width: 1.6rem;
  margin-left: 0.74666667rem;
}
header div.left a .sweep img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
header div.center {
  text-align: center;
  width: 12.37333333rem;
}
header div.center h1 {
  color: #ffffff;
  font-size: 0.64rem;
  line-height: 1.87733333rem;
  text-align: center;
}
header div.right {
  width: 1.81333333rem;
  float: right;
  line-height: 1.87733333rem;
}
header div.right span img {
  width: 0.78933333rem;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 1.87733333rem;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper #scroller {
  padding: 0 0.74666667rem 4.05333333rem 0.74666667rem;
}
#wrapper #scroller .banner {
  margin-top: 0.64rem;
  width: 14.50666667rem;
  height: 5.84533333rem;
  overflow: hidden;
  border-radius: 0.21333333rem;
}
#wrapper #scroller .banner img {
  width: 100%;
  height: 100%;
}
#wrapper #scroller .new {
  background-color: #ffffff;
  padding: 0.64rem 0.64rem 0.85333333rem 0.64rem;
  margin-top: 0.42666667rem;
  border-radius: 0.21333333rem;
  box-shadow: 0 0.04266667rem 0.17066667rem 0 rgba(51, 51, 51, 0.1);
}
#wrapper #scroller .new h2 {
  padding-bottom: 0.64rem;
  font-size: 0.59733333rem;
  font-weight: 500;
  color: #333;
  line-height: 0.42666667rem;
  border-bottom: solid 0.04266667rem #eeeeee;
}
#wrapper #scroller .produce {
  margin-top: 0.42666667rem;
  position: relative;
}
#wrapper #scroller .produce::before {
  position: absolute;
  left: -0.34133333rem;
  top: 1.36533333rem;
  content: "";
  display: block;
  width: 0.68266667rem;
  height: 0.68266667rem;
  border-radius: 50%;
  background-color: #eeeeee;
}
#wrapper #scroller .produce::after {
  position: absolute;
  right: -0.34133333rem;
  top: 1.36533333rem;
  content: "";
  display: block;
  width: 0.68266667rem;
  height: 0.68266667rem;
  border-radius: 50%;
  background-color: #eeeeee;
}
#wrapper #scroller .produce h2 {
  padding-bottom: 0.64rem;
  font-size: 0.59733333rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #333333;
  line-height: 0.42666667rem;
  border-bottom: solid 0.02133333rem #eeeeee;
}
#wrapper #scroller .produce p {
  padding-top: 0.42666667rem;
  color: #999999;
  font-size: 0.55466667rem;
  font-weight: 500;
  line-height: 0.85333333rem;
  text-indent: 2em;
}
#wrapper #scroller .msg p {
  font-size: 0.55466667rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  line-height: 0.85333333rem;
  padding-top: 0.21333333rem;
}
#wrapper #scroller .msg p span:first-of-type {
  color: #666666;
}
#wrapper #scroller .msg p span:last-of-type {
  color: #999999;
}
#wrapper #scroller .if ul {
  padding-top: 0.42666667rem;
  font-size: 0.55466667rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #999999;
}
#wrapper #scroller .if ul li {
  line-height: 0.85333333rem;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 666;
  width: 100%;
  padding: 0 0.74666667rem;
  background-color: #ffffff;
  height: 3.05066667rem;
  line-height: 3.05066667rem;
}
footer input {
  width: 14.50666667rem;
  height: 1.77066667rem;
  border-radius: 0.064rem;
  background-color: #27a6e6;
  color: #ffffff;
  font-size: 0.59733333rem;
  outline: none;
  border-radius: 0.21333333rem;
}
