html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
}
header {
  width: 16rem;
  height: 1.87733333rem;
  background: #1c9ee1;
  overflow: hidden;
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 1.6rem;
  line-height: 1.87733333rem;
}
header div.left a {
  display: inline-block;
}
header div.left a .sweep {
  width: 1.6rem;
  margin-left: 0.74666667rem;
}
header div.left a .sweep img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
header div.center {
  text-align: center;
  width: 12.8rem;
}
header div.center h1 {
  width: 12.8rem;
  color: #ffffff;
  font-size: 0.64rem;
  line-height: 1.87733333rem;
  text-align: center;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 1.89866667rem;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper #scroller section .content {
  background-color: #ffffff;
  padding: 0 0.74666667rem;
}
#wrapper #scroller section .content .content-title {
  height: 1.83466667rem;
  line-height: 1.83466667rem;
  position: relative;
  border-top: solid 0.04266667rem #eeeeee;
}
#wrapper #scroller section .content .content-title:first-of-type {
  border-bottom: none;
}
#wrapper #scroller section .content .content-title .blue-line {
  position: absolute;
  left: -0.74666667rem;
  top: 0.64rem;
  width: 0rem;
  height: 0rem;
  padding: 0.27733333rem 0.04266667rem;
  background-color: #1d9fe2;
}
#wrapper #scroller section .content .content-title .title {
  font-size: 0.59733333rem;
  color: #333333;
  font-weight: 500;
}
#wrapper #scroller section .content .content-title .title a span {
  float: right;
  padding: 0rem 0.64rem;
}
#wrapper #scroller section .content .content-title .title a span img {
  width: 0.256rem;
  height: 0.46933333rem;
  vertical-align: middle;
}
#wrapper #scroller section .content .content-text {
  padding-bottom: 0.64rem;
}
#wrapper #scroller section .content .content-text ul {
  overflow: hidden;
}
#wrapper #scroller section .content .content-text ul li {
  float: left;
  padding-right: 0.21333333rem;
  width: 4.69333333rem;
}
#wrapper #scroller section .content .content-text ul li:last-of-type {
  padding-right: 0;
}
#wrapper #scroller section .content .content-text ul li img {
  width: 4.69333333rem;
}
#wrapper #scroller section .content .content-text ul li p {
  font-size: 0.512rem;
  color: #333333;
  line-height: 0.64rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  letter-spacing: 0px;
  text-align: justify;
}
#wrapper .iScrollVerticalScrollbar .iScrollIndicator {
  opacity: 0;
}
