html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
}
header {
  width: 16rem;
  height: 1.87733333rem;
  background: linear-gradient(29deg, #1b9de1, #3fbef1);
}
header div {
  float: left;
  height: 1.87733333rem;
}
header div.left {
  width: 1.6rem;
  line-height: 1.87733333rem;
}
header div.left a {
  display: inline-block;
}
header div.left a .sweep {
  width: 1.6rem;
  margin-left: 0.74666667rem;
}
header div.left a .sweep img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
header div.center {
  text-align: center;
  width: 12.8rem;
}
header div.center h1 {
  width: 12.8rem;
  color: #ffffff;
  font-size: 0.64rem;
  line-height: 1.87733333rem;
  text-align: center;
}
header div.right {
  float: right;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 1.87733333rem;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper #scroller {
  padding-bottom: 2.41066667rem;
}
#wrapper #scroller section .banner {
  width: 14.50666667rem;
  margin: 0 auto;
}
#wrapper #scroller section .banner .swiper-container {
  overflow: visible;
}
#wrapper #scroller section .banner .swiper-container .swiper-wrapper .swiper-slide img {
  width: 14.08rem;
  margin: 0.42666667rem 0.21333333rem;
}
#wrapper #scroller section .banner .swiper-container .swiper-pagination {
  bottom: -0.17066667rem;
}
#wrapper #scroller section .banner .swiper-container .swiper-pagination span {
  background: #282828;
}
#wrapper #scroller section .banner .swiper-container .swiper-pagination span.swiper-pagination-bullet-active {
  width: 1.06666667rem;
  border-radius: 0.64rem;
  background: linear-gradient(29deg, #1b9de1, #3fbef1);
}
#wrapper #scroller section .menu {
  padding: 0.64rem 0.74666667rem;
  background-color: #ffffff;
  margin-top: 0.34133333rem;
}
#wrapper #scroller section .menu ul {
  overflow: hidden;
}
#wrapper #scroller section .menu ul li {
  float: left;
  width: 25%;
  margin-top: 0.21333333rem;
}
#wrapper #scroller section .menu ul li a div {
  text-align: center;
}
#wrapper #scroller section .menu ul li a div img {
  width: 1.70666667rem;
  height: 1.70666667rem;
}
#wrapper #scroller section .menu ul li a div p {
  font-size: 0.512rem;
  color: #666666;
}
#wrapper #scroller section .loanProcess {
  background-color: #ffffff;
  margin-top: 0.42666667rem;
}
#wrapper #scroller section .loanProcess h2 {
  font-size: 0.59733333rem;
  font-weight: bold;
  color: #333333;
  line-height: 1.49333333rem;
}
#wrapper #scroller section .loanProcess h2::before {
  content: "";
  margin-right: 0.55466667rem;
  display: inline-block;
  width: 0.08533333rem;
  height: 0.55466667rem;
  background: url(../img/line.png);
  vertical-align: -0.08533333rem;
}
#wrapper #scroller section .loanProcess .loanProcessImg {
  padding: 0.74666667rem;
}
#wrapper #scroller section .loanProcess .loanProcessImg img {
  width: 100%;
}
#wrapper #scroller section .loanProcess .caseOfLoan {
  padding: 0.21333333rem 0.74666667rem;
  overflow: hidden;
}
#wrapper #scroller section .loanProcess .caseOfLoan li {
  float: left;
  width: 4.69333333rem;
  margin-right: 0.21333333rem;
  padding: 0.42666667rem 0rem;
}
#wrapper #scroller section .loanProcess .caseOfLoan li:nth-of-type(3n) {
  margin-right: 0;
}
#wrapper #scroller section .loanProcess .caseOfLoan li div {
  width: 4.69333333rem;
  height: 3.11466667rem;
}
#wrapper #scroller section .loanProcess .caseOfLoan li div img {
  width: 4.69333333rem;
}
#wrapper #scroller section .loanProcess .caseOfLoan li p {
  padding-top: 0.64rem;
  color: #333333;
  font-size: 0.512rem;
  line-height: 0.64rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  letter-spacing: 0px;
}
#wrapper .iScrollVerticalScrollbar .iScrollIndicator {
  opacity: 0;
}
footer {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: #eeeeee solid 1px;
  height: 2.09066667rem;
  padding-top: 0.32rem;
  background-color: #ffffff;
  z-index: 666;
}
footer ul {
  width: 100%;
}
footer ul li {
  float: left;
  width: 25%;
  text-align: center;
}
footer ul li p {
  font-size: 0.42666667rem;
  color: #999999;
}
footer ul li:first-of-type img {
  width: 1.19466667rem;
  height: 1.024rem;
}
footer ul li:first-of-type p {
  color: #1b9de1;
}
footer ul li:nth-of-type(2) img {
  width: 0.768rem;
  height: 0.96rem;
}
footer ul li:nth-of-type(3) img {
  width: 0.768rem;
  height: 0.96rem;
}
footer ul li:last-of-type img {
  width: 0.96rem;
  height: 0.96rem;
}
