<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/zxtb.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="../../../index.html">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1>在线投保</h1>
        </div>
        <div class="right">
            <div class="alarm">
                <img src="img/liebiao@2x.png" alt="alarm">
            </div>
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="line">

                </div>
                <div class="inline_banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="../maize/maize.html">
                                    <img src="img/banner@2x.png" alt="banner@2x">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="../maize/maize.html">
                                    <img src="img/banner@2x.png" alt="banner@2x">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="../maize/maize.html">
                                    <img src="img/banner@2x.png" alt="banner@2x">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="line">

                </div>
                <div class="recommend">
                    <div class="header">
                        <div class="left">
                            <span class="left_left">
                                <img src="img/tuijianchanpin@2x.png" alt="" srcset="">
                            </span>
                            <span class="left_right">推荐产品</span>
                        </div>
                        <div class="right">
                            <span class="right_left">更多</span>
                            <span class="right_right">
                                <img src="img/jiantou.png" alt="" srcset="">
                            </span>
                        </div>
                    </div>
                    <div class="produce">
                        <div class="insurance">
                            <div class="insurance_img">
                                <img src="img/tuone@2x.png" alt="tuone">
                            </div>
                            <div class="insurance_title">
                                <h3>农业重大保险
                                    <span></span>
                                </h3>
                                <div class="insurance_title_p">
                                    <p>覆盖20多种农作物保险，最高可赔1000元</p>
                                    <div class="insurance_title_span">
                                        <span id="span01">10</span>
                                        <span id="span02">元</span>
                                        <span id="span03">/</span>
                                        <span id="span04">亩</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="insurance">
                            <div class="insurance_img">
                                <img src="img/tutwo@2x.png" alt="tutwo">
                            </div>
                            <div class="insurance_title">
                                <h3>农业灾害保险
                                    <span>
                                        <img src="img/jingxuan@2x.png" alt="jingxuan">
                                    </span>
                                </h3>
                                <div class="insurance_title_p">
                                    <p>包含各种灾害受灾赔偿</p>
                                    <div class="insurance_title_span">
                                        <span id="span01">18</span>
                                        <span id="span02">元</span>
                                        <span id="span03">/</span>
                                        <span id="span04">亩</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="insurance">
                            <div class="insurance_img">
                                <img src="img/tuone@2x.png" alt="tuone">
                            </div>
                            <div class="insurance_title">
                                <h3>农业重大保险
                                    <span></span>
                                </h3>
                                <div class="insurance_title_p">
                                    <p>覆盖20多种农作物保险，最高可赔1000元</p>
                                    <div class="insurance_title_span">
                                        <span id="span01">10</span>
                                        <span id="span02">元</span>
                                        <span id="span03">/</span>
                                        <span id="span04">亩</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/swiper.3.4.2.min.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script type="text/javascript" src="../../../js/index.js"></script>

</html>