<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <title>悦农通</title>
  <link rel="Shortcut Icon" href="../../../img/icon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css" />
  <link rel="stylesheet" href="css/zxtb.css" />
  <script src="../../../js/rem.js"></script>
</head>

<body>
  <header>
    <div class="header">
      <div class="left">
        <a href="../../../index.html">
          <div class="sweep">
            <img src="../../../img/return.png" alt="sweep" />
          </div>
        </a>
      </div>
      <div class="center">
        <h1>在线投保</h1>
      </div>
      <div id="search" class="right">
        <div class="alarm">
          <img src="../../../img/icon/search.png" alt="sweep" />
        </div>
      </div>
    </div>
    <div class="swiper-menu">
      <div id="swiper_menu" class="swiper-wrapper"></div>
    </div>
  </header>
  <menu class="menu">
    <ul>
      <li>
        <span id="picker"> 选择分类 </span>
        <img src="../../../img/arr_close.png" />
      </li>
      <li>
        <span id="area">选择地区</span>
        <img src="../../../img/arr_close.png" />
      </li>
      <li>
        <span id="sort">排序方式</span>
        <img src="../../../img/arr_close.png" />
      </li>
    </ul>
  </menu>
  <div class="mask">
    <div class="inner">
      <div id="menuLeft">
        <ul class="menuLeft"></ul>
      </div>
      <div id="menuCenter">
        <ul class="menuCenter"></ul>
      </div>

      <div id="menuRight">
        <ul class="menuRight"></ul>
      </div>
    </div>
  </div>
  <div id="wrapper">
    <div id="scroller">
      <section>
        <div class="supplyAndDemand">
          <ul id="contentHTML" class="supplyAndDemand-list"></ul>
        </div>
      </section>
    </div>
  </div>
</body>
<script type="text/javascript" src="../../../js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../../../js/swiper.3.4.2.min.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="js/scroll.js"></script>
<script src="../../../js/tool.js"></script>
<script type="text/javascript" src="js/zxtb.js"></script>

</html>