<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../../../js/jquery.js"></script>
    <link rel="stylesheet" href="../../../../css/reset.css">
    <link rel="stylesheet" href="css/supplyInformation.css">

</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1>供应信息</h1>
        </div>
        <div class="right">
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section id="contentHTML">

            </section>
        </div>
    </div>

</body>
<script type="text/javascript" src="../../../../js/iscroll.js"></script>
<script src="../../../../js/loaded_iscroll.js"></script>
<script src="../../../../js/tool.js"></script>
<script src="js/supplyInformation.js"></script>

</html>