<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/nyzx.css">
</head>

<body>
    <header>
        <a href="../../../index.html">
            <div class="left">
                <img src="img/jt.png" alt="jt">
            </div>
        </a>
        <div class="center">
            农业资讯
        </div>
        <div class="right">
        </div>
    </header>
    <menu>
        <ul id="menu">

        </ul>
    </menu>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="banner-wrap">
                    <div class="banner">
                        <div class="swiper-container">
                            <div id="bannerHTML" class="swiper-wrapper">

                            </div>
                        </div>
                    </div>
                </div>
                <ul id="information_list" class="information-list">

                </ul>
            </section>


        </div>
    </div>
    <script src="../../../js/jquery.js"></script>
    <script type="text/javascript" src="../../../js/iscroll.js"></script>
    <script src="../../../js/loaded_iscroll.js"></script>
    <script src="../../../js/tool.js"></script>
    <script src="js/nyzx.js"></script>
</body>

</html>