<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css">
    <script src="../../../js/swiper.3.4.2.min.js"></script>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/nyzx.css">
</head>

<body>
    <header>
        <a href="#" onclick="history.back(-1);">
            <div class="left">
                <img src="img/jt.png" alt="jt">
            </div>
        </a>
        <div class="center">
            农业资讯
        </div>
        <div class="right">
        </div>
    </header>
    <menu>
        <ul id="menu">

        </ul>
    </menu>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="banner-wrap">
                    <div id="bannerHTML" class="banner">
                        
                    </div>
                </div>
                <ul id="information_list" class="information-list">

                </ul>
            </section>
            <p class="loadingTxt">加载更多。。。</p>

        </div>
    </div>

    <script src="../../../js/jquery.js"></script>
    <script type="text/javascript" src="../../../js/iscroll.js"></script>
    <script src="../../../js/loaded_iscroll.js"></script>
    <script src="../../../js/tool.js"></script>
    <script src="../../../js/public.js"></script>
    <script src="js/nyzx.js"></script>
</body>

</html>