<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mall</title>
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="jt">
                    <img src="img/jt.png" alt="jt">
                </div>
            </a>
        </div>
        <div class="center">
            <img src="img/ellipse.png" alt="ellipse">
            <form action="" method="get" class="search">
                <input type="text" placeholder="请输入你想搜索的内容">
            </form>
        </div>
        <div class="right">
            <div class="shop">
                <img src="img/shop1@2x.png" alt="shop1@2x">
                <div class="message">
                    <span>99+</span>
                </div>
            </div>
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                    <img src="img/mall_banner.png" alt="banner01">
                            </div>
                            <div class="swiper-slide">
                                    <img src="img/mall_banner.png" alt="banner01">                                    
                            </div>
                            <div class="swiper-slide">
                                    <img src="img/mall_banner.png" alt="banner01">                                    
                            </div>
                            <div class="swiper-slide">
                                    <img src="img/mall_banner.png" alt="banner01">                                    
                            </div>
                            <div class="swiper-slide">
                                    <img src="img/mall_banner.png" alt="banner01">                                    
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="menu">
                    <ul class="menu_ul">
                        <li>
                            <a href="javascript:;">
                                <div>
                                    <img src="img/nongyao@2x.png" alt="iconform_zixun@2x.png">
                                    <p>农药</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div>
                                    <img src="img/feiliao@2x.png" alt="iconform_toubao@2x.png">
                                    <p>肥料</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div>
                                    <img src="img/nongji@2x.png" alt="iconform_qixiang@2x.png">
                                    <p>农机</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div>
                                    <img src="img/zhongzi@2x.png" alt="iconform_qixiang@2x.png">
                                    <p>种子</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div>
                                    <img src="img/nongmo@2x.png" alt="iconform_qixiang@2x.png">
                                    <p>农膜</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="line">

                </div>
                <div class="recommend">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <div class="list">
                                    <div class="pesticides">
                                        <div class="shopping">
                                            <img src="img/mall_brote.png" alt="mall_brote">
                                        </div>
                                    </div>
                                    <div class="presentation">
                                        <p>
                                            <span></span>中保（ZhB）化肥进口史丹利 复合肥 肥料 花肥 氮磷钾 1斤 散装 复合肥1斤散装</p>
                                        <span class="shop">中保（ZHB）旗舰店</span>
                                    </div>
                                    <div class="price">
                                        ￥88.80
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div class="list">
                                    <div class="pesticides">
                                        <div class="shopping prebig">
                                            <img src="img/mall_Similac.png" alt="mall_Similac">
                                        </div>
                                    </div>
                                    <div class="presentation">
                                        <p>
                                            <span>
                                                <img src="img/ziying@2x.png" alt="ziying">
                                            </span>MoBao尿素肥料史丹利复合肥蔬菜花肥通用型肥料化肥、 氮磷钾肥农资</p>
                                        <span class="shop">中保官方自营店</span>
                                    </div>
                                    <div class="price">
                                        ￥198.80
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div class="list">
                                    <div class="pesticides">
                                        <div class="shopping prebig">
                                            <img src="img/mall_Similac.png" alt="mall_Similac">
                                        </div>
                                    </div>
                                    <div class="presentation">
                                        <p>
                                            <span></span>MoBao尿素肥料史丹利复合肥蔬菜花肥通用型肥料化肥、 氮磷钾肥农资</p>
                                        <span class="shop">中保官方自营店</span>
                                    </div>
                                    <div class="price">
                                        ￥198.80
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div class="list">
                                    <div class="pesticides">
                                        <div class="shopping prebig">
                                            <img src="img/mall_Similac.png" alt="mall_Similac">
                                        </div>
                                    </div>
                                    <div class="presentation">
                                        <p>
                                            <span></span>MoBao尿素肥料史丹利复合肥蔬菜花肥通用型肥料化肥、 氮磷钾肥农资</p>
                                        <span class="shop">中保官方自营店</span>
                                    </div>
                                    <div class="price">
                                        ￥198.80
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="recommendPesticides">
                        <img src="img/biaoqian@2x.png" alt="biaoqian">
                    </div>
                </div>
            </section>
        </div>
    </div>

</body>
<link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
<script src="../../../js/jquery.js"></script>
<script src="../../../js/tool.js"></script>
<script src="../../../js/iscroll.js"></script>
<script src="../../../js/demoUtils.js"></script>
<script src="../../../js/loaded_iscroll.js"></script>
<script src="../../../js/index.js"></script>
<link rel="stylesheet" href="../../../css/reset.css">
<link rel="stylesheet" href="css/mall.css">

</html>