<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>悦农通</title>
    <link rel="Shortcut Icon" href="../../../img/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css">
    <link rel="stylesheet" href="css/gqsc.css">
    <script>
        (function () {
            var width = document.documentElement.clientWidth;
            var style = document.createElement("style");
            style.innerHTML = "html{font-size: " + width / 16 + "px !important;}";
            document.head.appendChild(style);
        })();
    </script>
</head>

<body>
    <header>
        <div class="left">
            <a href="../../../index.html">
                <div class="sweep">
                    <img src="../../../img/return.png" alt="sweep" />
                </div>
            </a>
        </div>
        <div class="center">
            <h1>供求市场</h1>
        </div>
        <div class="right">
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="banner">
                    <div class="swiper-container">
                        <div id="swiper_wrapper" class="swiper-wrapper">
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="line">

                </div>
                <div class="supplyAndDemand">
                    <div class="supplyAndDemand-title">
                        <div data-id="1" class="left">
                            <span class="active">
                                供应
                            </span>
                        </div>
                        <div data-id="2" class="right">
                            <span>
                                求购
                            </span>
                        </div>
                    </div>
                    <div id="content" class="content">
                        <div id="contentHTML" class="supplyAndDemand-list">

                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <footer>
        <div class="menu">
            <div class="left">
                <div class="left-left">
                    <img src="../../../img/icon/gqsc_index_pre.png" alt="index" />
                    <p>首页</p>
                </div>
                <div class="left-right">
                    <a href="gqscinner.html">
                        <img src="../../../img/icon/gqsc_gqsc.png" alt="supply" />
                        <p>供求市场</p>
                    </a>
                </div>
            </div>
            <div class="center">
            </div>
            <div class="right">
                <div class="right-left">
                    <a href="schq.html">
                        <img src="../../../img/icon/gqsc_schq.png" alt="message" />
                        <p>市场行情</p>
                    </a>
                </div>
                <div class="right-right">
                    <a href="wo.html">
                        <img src="../../../img/icon/gqsc_wo.png" alt="personCenter" />
                        <p>我</p>
                    </a>
                </div>
            </div>
        </div>
        <div id="add" class="center-add">
            <img src="../../../img/add-blue.png" alt="" srcset="" />
            <p>发布</p>
        </div>
    </footer>
    <div id="mask" class="mask">
        <ul>
            <li ids="fbgyxx">
                <img src="../../../img/035.png" alt="" />
                <p>发布供应</p>
            </li>
            <li ids="fbqgxx">
                <img src="../../../img/036.png" alt="" />
                <p>发布求购</p>
            </li>
            <li ids="jgcj">
                <img src="../../../img/037.png" alt="" />
                <p>价格采集</p>
            </li>
            <span id="close">
                <img src="../../../img/close-gray.png" alt="" />
            </span>
        </ul>
    </div>
</body>
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/swiper.3.4.2.min.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script type="text/javascript" src="js/gqsc.js"></script>

</html>