<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>供求市场</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="../../../../css/reset.css">
    <link rel="stylesheet" href="css/gqsc.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="../../../index.html">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
            <h1>供求市场</h1>
        </div>
        <div class="right">
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="../maize/maize.html">
                                    <img src="img/banner.png" alt="banner"></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="../maize/maize.html">
                                    <img src="img/banner.png" alt="banner"></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="../maize/maize.html">
                                    <img src="img/banner.png" alt="banner"></a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="menu">
                    <ul id="menuHTML">

                    </ul>
                </div>
                <div class="line">

                </div>
                <div class="supplyAndDemand">
                    <div class="supplyAndDemand-title">
                        <div class="left">
                            <span data-id="0" class="active">
                                供应
                            </span>
                        </div>
                        <div class="right">
                            <span data-id="1">
                                求购
                            </span>
                        </div>
                    </div>
                    <div id="content" class="content">
                        <div id="contentHTML_left" class="supplyAndDemand-list">

                        </div>
                        <div id="contentHTML_right" class="supplyAndDemand-list">

                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <footer>
        <div class="menu">
            <div class="left">
                <div class="left-left">
                    <img src="img/index.png" alt="index">
                    <p>首页</p>
                </div>
                <div class="left-right">
                    <a href="../supplyAndDemandInner/supplyAndDemandInner.html">
                        <img src="img/supply.png" alt="supply">
                        <p>供求市场</p>
                    </a>
                </div>
            </div>
            <div class="center">
            </div>
            <div class="right">
                <div class="right-left">
                    <a href="#">
                        <img src="img/message.png" alt="message">
                        <p>消息</p>
                    </a>
                </div>
                <div class="right-right">
                    <a href="#">
                        <img src="img/personCenter.png" alt="personCenter">
                        <p>我</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="center-add">
            <img src="img/add.png" alt="" srcset="">
            <p>发布</p>
        </div>
    </footer>
</body>
<script src="../../../../js/jquery.js"></script>
<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
<script type="text/javascript" src="../../../../js/iscroll.js"></script>
<script src="../../../../js/loaded_iscroll.js"></script>
<script src="../../../../js/tool.js"></script>
<script src="js/gqsc.js"></script>

</html>