<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>悦农通</title>
    <link rel="Shortcut Icon" href="../../../img/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css">
    <link rel="stylesheet" href="css/gqxq.css">
    <script src="../../../js/rem.js"></script>
</head>

<body>
    <header>

        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <img src="../../../img/return.png" alt="jt" />
            </a>
        </div>

        <div class="center">
            供应信息
        </div>
        <!--<div class="right">
            <img id="sc" status="0" alt="" srcset="" />
        </div>-->
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="top">
                    <div class="left">
                        <img id="icon" alt="" />
                    </div>
                    <div class="center">
                        <p id="userName"></p>
                        <p id="area"></p>
                    </div>
                    <div id="publishTime" class="right">
                    </div>
                </div>
                <div class="content">
                    <p id="title"></p>
                    <p id="detail"></p>
                    <ul id="detailList" class="detailList">
                    </ul>
                    <ul class="imgList" id="imgList">
                    </ul>
                </div>
                <div class="bottom">
                    <div class="left">
                        <a id="tel" href="tel:0">
                            <div class="text">
                                <img src="../../../img/icon/gyf.png" />
                                <span>
                                    联系供应方
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="right">
                        <div id="dz" class="dz">
                            <img src="../../../img/icon/dz.png" />
                            <p>点赞</p>
                        </div>
                        <div id="sc" status="0" class="sc">
                            <img src="../../../img/icon/sc.png" />
                            <p>收藏</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.10&key=465c831c8323875841cda920ae24fd7b"></script>
    <script type="text/javascript" src="../../../js/jquery.js"></script>
    <script type="text/javascript" src="../../../js/iscroll.js"></script>
    <script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
    <script type="text/javascript" src="../../../js/tool.js"></script>
    <script type="text/javascript" src="js/gqxq.js"></script>
</body>

</html>