<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>nyqx</title>
    <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css"> -->
    <link rel="stylesheet" href="../../../css/swiper.3.4.2.min.css">
    <!-- <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script> -->
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/nyqx.css">
</head>

<body>
    <header>
        <div class="left">
            <a href="#" onclick="history.back(-1);">
                <div class="sweep">
                    <img src="img/jt.png" alt="sweep">
                </div>
            </a>
        </div>
        <div class="center">
        </div>
        <div class="right">
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="top">
                    <h1>烟台市</h1>
                    <h3>晴天</h3>
                    <h2>26℃</h2>
                    <p>更新于2017-12-12 10:00</p>
                    <div class="details">
                        <p class="humidity-wind">
                            <span class="left">
                                相对湿度:44%
                            </span>
                            <span class="right">
                                北风
                            </span>
                        </p>
                        <p class="rain-visibility">
                            <span class="left">
                                1小时降雨：0毫米
                            </span>
                            <span class="right">
                                能见度：80%
                            </span>
                        </p>
                    </div>
                </div>
                <div class="weatherAI">
                    <div>
                        <img src="img/weatherAI.png" alt="">
                    </div>
                    <div>
                        <p>
                            <span class="left">智能天气推荐<img src="img/dingzhi.png" alt=""></span>
                            <span class="left">详细天气<img src="img/right.png" alt=""></span>
                        </p>
                        <p>贵阳今天不会速度快JFK角度上来讲</p>
                    </div>
                </div>
                <menu>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="img/farming.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/information.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/technology.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/report.png" alt="">
                            </a>
                        </li>
                    </ul>
                </menu>
                <div class="message">
                    <div class="title">
                        气象预警和农事建议
                    </div>
                    <div>
                        <p>气象预警：</p>
                        <p>预计8月份我县降水偏少，月降水量60毫米左右；8月份气温偏高,月平均气温23.5℃左右。主要降水过程为：4日左右中到大雨，南部雨量偏大；</p>
                    </div>
                    <div>
                        <p>农事建议：</p>
                        <p>
                            (1)8月上旬应继续做好防汛工作；
                            (2)8月中下旬降水偏少，将有“秋吊”天气发生，应提前做好预防，并做好人工增雨防雹工作；
                            (3)做好酒葡萄病害防治。（以上仅供参考）
                        </p>
                    </div>
                </div>
                <div class="weather">
                    <p class="title">
                        七天天气预报
                    </p>
                    <ul>
                        <li>
                            <p>昨天</p>
                            <img src="img/snow.png" alt="">
                            <p>1~-3℃</p>
                        </li>
                        <li>
                            <p>今天</p>
                            <img src="img/clear.png" alt="">
                            <p>9~11℃</p>
                        </li>
                        <li>
                            <p>周一</p>
                            <img src="img/overcast.png" alt="">
                            <p>3~7℃</p>
                        </li>
                        <li>
                            <p>周二</p>
                            <img src="img/rain.png" alt="">
                            <p>3~7℃</p>
                        </li>
                        <li>
                            <p>周三</p>
                            <img src="img/cloudy.png" alt="">
                            <p>5~8℃</p>
                        </li>
                        <li>
                            <p>周四</p>
                            <img src="img/clear.png" alt="">
                            <p>6~12℃</p>
                        </li>
                        <li>
                            <p>周五</p>
                            <img src="img/clear.png" alt="">
                            <p>6~12℃</p>
                        </li>
                    </ul>
                </div>

            </section>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/swiper.3.4.2.min.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>

</html>