<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/agriculturalInformation.css">
</head>

<body>
    <header>
        <a href="../../../index.html">
            <div class="left">
                <img src="img/jt.png" alt="jt">
            </div>
        </a>
        <div class="center">
            农业资讯
        </div>
        <div class="right">
        </div>
    </header>
    <menu>
        <ul id="menu">
            <!-- <li><span class="active">今日要闻</span></li>
            <li><span>农业政策</span></li>
            <li><span>地区资讯</span></li>
            <li><span>展览展会</span></li>
            <li><span>农产品</span></li> -->
        </ul>
    </menu>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="banner-wrap">
                    <div class="banner">
                        <div class="swiper-container">
                            <div id="bannerHTML" class="swiper-wrapper">
                                <!-- <div class="swiper-slide">
                                    <div class="img-wrap">
                                        <a href="../informationDetails/informationDetails.html">
                                            <img src="img/banner.png" alt="banner01">
                                            <div class="mask">
                                                <p>
                                                    “原始农业”带动河北承德深山区农民致富,让农民轻松
                                                    松耕种致富是我追求的目标。
                                                </p>
                                                <p>
                                                    1小时前·888人阅读
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img-wrap">
                                        <a href="../informationDetails/informationDetails.html">
                                            <img src="img/banner.png" alt="banner01">
                                            <div class="mask">
                                                <p>
                                                    “原始农业”带动河北承德深山区农民致富,让农民轻松
                                                    松耕种致富是我追求的目标。
                                                </p>
                                                <p>
                                                    1小时前·888人阅读
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img-wrap">
                                        <a href="../informationDetails/informationDetails.html">
                                            <img src="img/banner.png" alt="banner01">
                                            <div class="mask">
                                                <p>
                                                    “原始农业”带动河北承德深山区农民致富,让农民轻松
                                                    松耕种致富是我追求的目标。
                                                </p>
                                                <p>
                                                    1小时前·888人阅读
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img-wrap">
                                        <a href="../informationDetails/informationDetails.html">
                                            <img src="img/banner.png" alt="banner01">
                                            <div class="mask">
                                                <p>
                                                    “原始农业”带动河北承德深山区农民致富,让农民轻松
                                                    松耕种致富是我追求的目标。
                                                </p>
                                                <p>
                                                    1小时前·888人阅读
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img-wrap">
                                        <a href="../informationDetails/informationDetails.html">
                                            <img src="img/banner.png" alt="banner01">
                                            <div class="mask">
                                                <p>
                                                    “原始农业”带动河北承德深山区农民致富,让农民轻松
                                                    松耕种致富是我追求的目标。
                                                </p>
                                                <p>
                                                    1小时前·888人阅读
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img-wrap">
                                        <a href="../informationDetails/informationDetails.html">
                                            <img src="img/banner.png" alt="banner01">
                                            <div class="mask">
                                                <p>
                                                    “原始农业”带动河北承德深山区农民致富,让农民轻松
                                                    松耕种致富是我追求的目标。
                                                </p>
                                                <p>
                                                    1小时前·888人阅读
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="img-wrap">
                                        <a href="../informationDetails/informationDetails.html">
                                            <img src="img/banner.png" alt="banner01">
                                            <div class="mask">
                                                <p>
                                                    “原始农业”带动河北承德深山区农民致富,让农民轻松
                                                    松耕种致富是我追求的目标。
                                                </p>
                                                <p>
                                                    1小时前·888人阅读
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <ul id="information_list" class="information-list">
                    <!-- <li>
                        <a href="../informationDetails/informationDetails.html">
                            <div class="information-list-text">
                                <div class="left">
                                    <p class="list-title">警惕！壮汉吃半盘四季豆被毒倒半夜全身抽搐发抖！</p>
                                    <p class="list-content">吃完宵夜回家，半夜突然浑身发冷冻得“打摆子”，日前，49岁的武汉市民闻先生
                                        一连串的异常反应吓坏家人，一连串的异常反应吓坏家人一连串的异常反应吓坏家人</p>
                                    <p class="list-time"><span>2017.12.21</span><span>阅读 183</span>
                                    </p>
                                </div>
                                <div class="right">
                                    <img src="img/new01.png" alt="">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../informationDetails/informationDetails.html">
                            <div class="information-list-text">
                                <div class="left">
                                    <p class="list-title">警惕！壮汉吃半盘四季豆被毒倒半夜全身抽搐发抖！</p>
                                    <p class="list-content">吃完宵夜回家，半夜突然浑身发冷冻得“打摆子”，日前，49岁的武汉市民闻先生
                                        一连串的异常反应吓坏家人，一连串的异常反应吓坏家人一连串的异常反应吓坏家人</p>
                                    <p class="list-time"><span>2017.12.21</span><span>阅读 183</span>
                                    </p>
                                </div>
                                <div class="right">
                                    <img src="img/new01.png" alt="">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../informationDetails/informationDetails.html">
                            <div class="information-list-text">
                                <div class="left">
                                    <p class="list-title">警惕！壮汉吃半盘四季豆被毒倒半夜全身抽搐发抖！</p>
                                    <p class="list-content">吃完宵夜回家，半夜突然浑身发冷冻得“打摆子”，日前，49岁的武汉市民闻先生
                                        一连串的异常反应吓坏家人，一连串的异常反应吓坏家人一连串的异常反应吓坏家人</p>
                                    <p class="list-time"><span>2017.12.21</span><span>阅读 183</span>
                                    </p>
                                </div>
                                <div class="right">
                                    <img src="img/new01.png" alt="">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../informationDetails/informationDetails.html">
                            <div class="information-list-text">
                                <div class="left">
                                    <p class="list-title">警惕！壮汉吃半盘四季豆被毒倒半夜全身抽搐发抖！</p>
                                    <p class="list-content">吃完宵夜回家，半夜突然浑身发冷冻得“打摆子”，日前，49岁的武汉市民闻先生
                                        一连串的异常反应吓坏家人，一连串的异常反应吓坏家人一连串的异常反应吓坏家人</p>
                                    <p class="list-time"><span>2017.12.21</span><span>阅读 183</span>
                                    </p>
                                </div>
                                <div class="right">
                                    <img src="img/new01.png" alt="">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../informationDetails/informationDetails.html">
                            <div class="information-list-text">
                                <div class="left">
                                    <p class="list-title">警惕！壮汉吃半盘四季豆被毒倒半夜全身抽搐发抖！</p>
                                    <p class="list-content">吃完宵夜回家，半夜突然浑身发冷冻得“打摆子”，日前，49岁的武汉市民闻先生
                                        一连串的异常反应吓坏家人，一连串的异常反应吓坏家人一连串的异常反应吓坏家人</p>
                                    <p class="list-time"><span>2017.12.21</span><span>阅读 183</span>
                                    </p>
                                </div>
                                <div class="right">
                                    <img src="img/new01.png" alt="">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../informationDetails/informationDetails.html">
                            <div class="information-list-text">
                                <div class="left">
                                    <p class="list-title">警惕！壮汉吃半盘四季豆被毒倒半夜全身抽搐发抖！</p>
                                    <p class="list-content">吃完宵夜回家，半夜突然浑身发冷冻得“打摆子”，日前，49岁的武汉市民闻先生
                                        一连串的异常反应吓坏家人，一连串的异常反应吓坏家人一连串的异常反应吓坏家人</p>
                                    <p class="list-time"><span>2017.12.21</span><span>阅读 183</span>
                                    </p>
                                </div>
                                <div class="right">
                                    <img src="img/new01.png" alt="">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../informationDetails/informationDetails.html">
                            <div class="information-list-text">
                                <div class="left">
                                    <p class="list-title">警惕！壮汉吃半盘四季豆被毒倒半夜全身抽搐发抖！</p>
                                    <p class="list-content">吃完宵夜回家，半夜突然浑身发冷冻得“打摆子”，日前，49岁的武汉市民闻先生
                                        一连串的异常反应吓坏家人，一连串的异常反应吓坏家人一连串的异常反应吓坏家人</p>
                                    <p class="list-time"><span>2017.12.21</span><span>阅读 183</span>
                                    </p>
                                </div>
                                <div class="right">
                                    <img src="img/new01.png" alt="">
                                </div>
                            </div>
                        </a>
                    </li> -->
                </ul>
            </section>


        </div>
    </div>
    <script src="../../../js/jquery.js"></script>
    <script type="text/javascript" src="../../../js/iscroll.js"></script>
    <script src="../../../js/loaded_iscroll.js"></script>
    <script src="../../../js/tool.js"></script>
    <script src="js/agriculturalInformation.js"></script>
</body>

</html>