<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="css/policyDetails.css">
</head>

<body>
    <header>
        <a href="#" onclick="history.back(-1);">
            <div class="left">
                <img src="img/jt.png" alt="jt">
            </div>
        </a>
        <div class="center">
            保单详情
        </div>
        <div class="right">
            <img src="img/kefu.png" alt="kefu">
        </div>
    </header>
    <div id="wrapper">
        <div id="scroller">
            <section>
                <div class="detailsTop">
                    <ul>
                        <li>
                            <span id="status" class="left"></span>
                            <span id="zongjia" class="right">
                                <a>￥</a>30000</span>
                        </li>
                        <li>
                            <span id="policyNumber" class="left">订单号 : 06148765468424</span>
                            <span class="right">支付金额</span>
                        </li>
                    </ul>
                </div>
                <div class="line">

                </div>
                <div class="detailsCenter">
                    <h2>产品信息</h2>
                    <ul>
                        <li class="optionList baoxian_leixing">
                            <span class="left">保单类型 :</span>
                            <span id="baoxian_leixing" class="right">台风风力险</span>
                        </li>
                        <li class="optionList area_name">
                            <span class="left">投保地区 :</span>
                            <span id="area_name" class="right">海南省三亚市福田镇福源街12号</span>
                        </li>
                        <li class="optionList toubaowu">
                            <span class="left">投保物 :</span>
                            <span id="toubaowu" class="right">哈密瓜</span>
                        </li>
                        <li class="optionList acreage">
                            <span class="left">投保面积 :</span>
                            <span class="right"><a id="acreage"></a>亩</span>
                        </li>
                        <li class="optionList danjia">
                            <span class="left">保费 :</span>
                            <span class="right"><a id="danjia">100元</a>/亩</span>
                        </li>
                        <li class="optionList bao_e">
                            <span class="left">保额 :</span>
                            <span class="right"><a id="bao_e">200</a>元</a>/亩</span>
                        </li>
                    </ul>
                </div>
                <div class="line">

                </div>
                <div class="detailsCenter">
                    <h2>投保明细</h2>
                    <ul>
                        <li class="optionList  holder_name">
                            <span class="left">投保人 :</span>
                            <span id="holder_name" class="right">李四</span>
                        </li>
                        <li class="optionList  holder_zjlx">
                            <span id="holder_zjlx" class="left">身份证 :</span>
                            <span id="holder_id_card" class="right">320***********6845</span>
                        </li>
                        <li class="optionList  chengbaofang">
                            <span class="left">承保方 :</span>
                            <span id="chengbaofang" class="right">中国人民财产保险有限公司</span>
                        </li>
                        <li class="optionList  policy_time">
                            <span class="left">投保日期 :</span>
                            <span id="policy_time" class="right">2018年1月1日</span>
                        </li>
                        <li class="optionList  term_start">
                            <span class="left">生效日期 :</span>
                            <span id="term_start" class="right">2018年1月2日-2019年1月1日</span>
                        </li>
                        <li class="optionList  peifu_zhanghu">
                            <span class="left">赔付账户 :</span>
                            <span id="peifu_zhanghu" class="right">651************8456</span>
                        </li>
                        <li class="optionList  licai_jingli">
                            <span class="left">理财经理 :</span>
                            <span id="licai_jingli" class="right">李达康</span>
                        </li>
                        <li class="optionList  licai_jingli_dianhua">
                            <span class="left">理财经理电话 :</span>
                            <span id="licai_jingli_dianhua" class="right">15694835168</span>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../js/jquery.js"></script>
<script type="text/javascript" src="../../../js/iscroll.js"></script>
<script type="text/javascript" src="../../../js/loaded_iscroll.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
<script type="text/javascript" src="../../../js/public.js"></script>
<script src="js/policyDetails.js"></script>

</html>