body,
html {
  overflow: hidden;
  background-color: #eeeeee;
}
body header,
html header {
  background-image: url("../img/bg.png");
  background-size: 100% 100%;
  height: 6.31466667rem;
}
body header .headerTop,
html header .headerTop {
  overflow: hidden;
}
body header .headerTop div,
html header .headerTop div {
  float: left;
  line-height: 1.87733333rem;
}
body header .headerTop div.left,
html header .headerTop div.left {
  width: 10%;
  padding-left: 0.74666667rem;
}
body header .headerTop div.left img,
html header .headerTop div.left img {
  width: 0.40533333rem;
  height: 0.74666667rem;
}
body header .headerTop div.center,
html header .headerTop div.center {
  margin-left: -0.74666667rem;
  width: 80%;
  text-align: center;
  font-size: 0.68266667rem;
  color: #ffffff;
}
body header .headerTop div.right,
html header .headerTop div.right {
  width: 10%;
}
body header .headerTop div.right img,
html header .headerTop div.right img {
  width: 0.85333333rem;
  height: 0.81066667rem;
}
body header .headerBottom,
html header .headerBottom {
  padding: 0 0.74666667rem;
  height: 4.43733333rem;
  overflow: hidden;
}
body header .headerBottom .topLeft,
html header .headerBottom .topLeft {
  overflow: hidden;
  margin-top: 0.704rem;
  float: left;
  height: 4.43733333rem;
}
body header .headerBottom .topLeft .topLeftlt,
html header .headerBottom .topLeft .topLeftlt {
  float: left;
}
body header .headerBottom .topLeft .topLeftlt img,
html header .headerBottom .topLeft .topLeftlt img {
  width: 2.176rem;
  height: 2.176rem;
}
body header .headerBottom .topLeft .topLeftrt,
html header .headerBottom .topLeft .topLeftrt {
  margin-left: 0.32rem;
  float: left;
}
body header .headerBottom .topLeft .topLeftrt p,
html header .headerBottom .topLeft .topLeftrt p {
  padding-top: 0.576rem;
  font-size: 0.68266667rem;
  color: #ffffff;
}
body header .headerBottom .topLeft .topLeftrt img,
html header .headerBottom .topLeft .topLeftrt img {
  width: 3.02933333rem;
  height: 0.768rem;
}
body header .headerBottom .topRight,
html header .headerBottom .topRight {
  position: relative;
  height: 4.43733333rem;
  float: right;
  width: 5.12rem;
}
body header .headerBottom .topRight .center_process,
html header .headerBottom .topRight .center_process {
  padding: 0 0.17066667rem;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1.728rem;
  margin-top: 0.32rem;
  width: 3.2rem;
  height: 3.2rem;
  transform: rotate(200deg);
}
body header .headerBottom .topRight .processInner,
html header .headerBottom .topRight .processInner {
  position: absolute;
  top: 0.66133333rem;
  left: 50%;
  margin-left: -1.23733333rem;
  width: 2.47466667rem;
  height: 2.47466667rem;
  background-color: #ffffff;
  border-radius: 2.47466667rem;
}
body header .headerBottom .topRight .processInner div,
html header .headerBottom .topRight .processInner div {
  color: #35baf0;
  font-size: 0.42666667rem;
  text-align: center;
  padding-top: 0.85333333rem;
}
body header .headerBottom .topRight .processInner div:last-of-type,
html header .headerBottom .topRight .processInner div:last-of-type {
  padding-top: 0.21333333rem;
}
body header .headerBottom .topRight p,
html header .headerBottom .topRight p {
  position: absolute;
  bottom: 0.21333333rem;
  font-size: 0.46933333rem;
  color: #ffffff;
  text-align: center;
  width: 100%;
}
body section .list ul,
html section .list ul {
  margin-top: 0.42666667rem;
}
body section .list ul li,
html section .list ul li {
  height: 1.92rem;
  line-height: 1.70666667rem;
  border-bottom: solid #eeeeee 1px;
  background-color: #ffffff;
  padding: 0 0.74666667rem;
}
body section .list ul li span:first-of-type,
html section .list ul li span:first-of-type {
  float: left;
  display: inline-block;
  width: 0.64rem;
  text-align: center;
}
body section .list ul li span:first-of-type img,
html section .list ul li span:first-of-type img {
  vertical-align: middle;
  width: 0.64rem;
  height: 0.64rem;
}
body section .list ul li span:nth-of-type(2),
html section .list ul li span:nth-of-type(2) {
  margin-left: 0.74666667rem;
  vertical-align: middle;
  color: #666666;
  font-size: 0.55466667rem;
}
body section .list ul li span:last-of-type,
html section .list ul li span:last-of-type {
  float: right;
}
body section .list ul li span:last-of-type img,
html section .list ul li span:last-of-type img {
  vertical-align: middle;
  width: 0.256rem;
  height: 0.448rem;
}
body section .list ul li:nth-of-type(2) span:first-of-type img,
html section .list ul li:nth-of-type(2) span:first-of-type img {
  width: 0.64rem;
  height: 0.46933333rem;
}
body section .list ul li:nth-of-type(3) span:first-of-type img,
html section .list ul li:nth-of-type(3) span:first-of-type img {
  width: 0.46933333rem;
  height: 0.55466667rem;
}
body section .list ul li:nth-of-type(4) span:first-of-type img,
html section .list ul li:nth-of-type(4) span:first-of-type img {
  width: 0.576rem;
  height: 0.55466667rem;
}
